﻿
@{
    ViewBag.Title = "MainDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/assets/css")



@*<link rel="stylesheet" href="~/assets1/vendor/owl-carousel/owl.carousel.css" />
    <link rel="stylesheet" href="~/assets1/vendor/owl-carousel/owl.theme.css" />*@
<link rel="stylesheet" href="~/assets1/stylesheets/MainDashboard/MainDashboard.css" />


<header class="page-header">
    <h2>
        Dashboard
        @*<i class="glyphicon glyphicon-info-sign gi-8x titleTooltip">
                <span class="tooltiptext2 fontSanserif" id="">
                    CT  - CycleTime<br />
                    TCT - Theoritical CycleTime
                </span>
            </i>*@
    </h2>
    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li class="breadcrumb-item">
                <a href="@Url.Action("MainDashboard", "MainDashboard")">
                    <i class="fa fa-home"></i>
                </a>
            </li>

        </ol>
    </div>
</header>
@if (((HttpContext.Current.Session["LineCode"] != null) && (HttpContext.Current.Session["LineCode"] != "")))
{
    <div class="modal" id="largeShoes" tabindex="-1" role="dialog" aria-labelledby="modalLabelLarge" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header bg-default">
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modalLabelLarge">Station Overview</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="row">
                            <div class="col-md-8">
                                <section class="panel panel2">
                                    <header class='panel-heading'>
                                        <div class='row'>
                                            <div class='col-md-12 fontSanserif '>
                                                <div class='fontSanserif panel_title'>
                                                    KPI
                                                    <span class="glyphicon glyphicon-info-sign gi-8x titleTooltip pull-right">
                                                        <span class="tooltiptext1 fontSanserif" id="popupKpiBatch"></span>
                                                    </span>
                                                </div>

                                            </div>
                                        </div>
                                    </header>
                                    <div class="panel-body pb_kpi_live">
                                        <div class="row text-center data_kpi_live">
                                            <div class="col-md-3 avail">
                                                <div class='widget popupWidget'></div>
                                            </div>
                                            <div class="col-md-3 perf">
                                                <div class='widget1 popupWidget'></div>
                                            </div>
                                            <div class="col-md-3 qual">
                                                <div class='widget2 popupWidget'></div>
                                            </div>
                                            <div class="col-md-3 oee">
                                                <div class='widget3 popupWidget'></div>
                                            </div>

                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="col-md-4">
                                <section class="panel panel2">
                                    <header class='panel-heading'>
                                        <div class='row'>
                                            <div class='col-md-12 fontSanserif'>
                                                <div class='fontSanserif panel_title'>
                                                    Utilisation
                                                    <span class="glyphicon glyphicon-info-sign gi-8x titleTooltip pull-right">
                                                        <span class="tooltiptext1 fontSanserif" id="popupUtilBatch"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </header>
                                    <div class="panel-body util_panel_body">
                                        <div id="utli_overview">
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <section class="panel panel2">
                                    <header class='panel-heading'>
                                        <div class='row'>
                                            <div class='col-md-12 fontSanserif'>
                                                <div class='fontSanserif panel_title'>
                                                    Machine Status Timeline
                                                    <span class="glyphicon glyphicon-info-sign gi-8x titleTooltip pull-right">
                                                        <span class="tooltiptext1 fontSanserif" id="popupMachineStatusShift"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </header>
                                    <div class="panel-body">
                                        <div id="status_bar">
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <section class="panel panel2">
                                    <header class='panel-heading'>
                                        <div class='row'>
                                            <div class='col-md-12 fontSanserif'>
                                                <div class='fontSanserif panel_title'>
                                                    MTTR
                                                    <span class="glyphicon glyphicon-info-sign gi-8x titleTooltip pull-right">
                                                        <span class="tooltiptext1 fontSanserif" id="popupMTTRDate"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </header>
                                    <div class="panel-body">
                                        <div class="mttr_graph" id='mttr_container'>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="col-md-4">
                                <section class="panel panel2">
                                    <header class='panel-heading'>
                                        <div class='row'>
                                            <div class='col-md-12 fontSanserif'>
                                                <div class='fontSanserif panel_title'>
                                                    MTBF
                                                    <span class="glyphicon glyphicon-info-sign gi-8x titleTooltip pull-right">
                                                        <span class="tooltiptext1 fontSanserif" id="popupMTBFDate"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </header>
                                    <div class="panel-body">
                                        <div class="mtbf_graph" id='mtbf_container'>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="col-md-4">
                                <section class="panel panel2">
                                    <header class='panel-heading'>
                                        <div class='row'>
                                            <div class='col-md-12 fontSanserif'>
                                                <div class='fontSanserif panel_title'>
                                                    DownTime Pareto
                                                    <span class="glyphicon glyphicon-info-sign gi-8x titleTooltip pull-right">
                                                        <span class="tooltiptext1 fontSanserif" id="popupDownDate"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </header>
                                    <div class="panel-body">
                                        <div class='custome_report'>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <section class="panel panel2">
                                    <header class='panel-heading'>
                                        <div class='row'>
                                            <div class='col-md-12 fontSanserif'>
                                                <div class='fontSanserif panel_title'>
                                                    Rejection Pareto
                                                    <span class="glyphicon glyphicon-info-sign gi-8x titleTooltip pull-right">
                                                        <span class="tooltiptext1 fontSanserif" id="popupRejDate"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </header>
                                    <div class="panel-body">
                                        <div class="rej_custom" id="container1">
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="col-md-8">
                                <section class="panel panel2">
                                    <header class='panel-heading'>
                                        <div class='row'>
                                            <div class='col-md-12 fontSanserif'>
                                                <div class='fontSanserif panel_title'>
                                                    Rejection Heatmap
                                                    <span class="glyphicon glyphicon-info-sign gi-8x titleTooltip pull-right">
                                                        <span class="tooltiptext1 fontSanserif" id="popupRejHeatDate"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </header>
                                    <div class="panel-body">
                                        <div id="heatmap_customs"></div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <section class="panel panel2">
                                    <header class='panel-heading'>
                                        <div class='row'>
                                            <div class='col-md-12 fontSanserif'>
                                                <div class='fontSanserif panel_title'>
                                                    Cycletime Distribution
                                                    <span class="glyphicon glyphicon-info-sign gi-8x titleTooltip pull-right">
                                                        <span class="tooltiptext1 fontSanserif" id="popupCTDate"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </header>
                                    <div class="panel-body">
                                        <div class='Range_chart_daywise'>
                                            <div id="err_Range_chart_daywise"></div>
                                            <svg></svg>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="col-md-6">
                                <section class="panel panel2">
                                    <header class='panel-heading'>
                                        <div class='row'>
                                            <div class='col-md-12 fontSanserif'>
                                                <div class='fontSanserif panel_title'>
                                                    Loss Distribution
                                                    <span class="glyphicon glyphicon-info-sign gi-8x titleTooltip pull-right">
                                                        <span class="tooltiptext1 fontSanserif" id="popupLossDate"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </header>
                                    <div class="panel-body">
                                        <div id='top_10_pareto_chart'>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>







    <div id="myModalLatestAlarm" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header bg-default">
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLatestAlarmTitle">Alarm List</h4>
                </div>
                <div class="modal-body" id="machine_status">
                    <div>
                        <table class="table table-bordered table-striped mb-none" id="datatable-default1">
                            <thead>
                                <tr>
                                    <th class="centercls"> S.No </th>
                                    <th>Machine</th>
                                    <th>Alarm ID </th>
                                    <th>Alarm Description</th>
                                    <th>Start Time</th>
                                    <th class="Live_Alarm_ID"> id </th>
                                    <th> Help</th>
                                </tr>
                            </thead>
                            <tbody class="Historic_details">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModalLatestLoss" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header bg-default">
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLatestLossTitle">Loss List</h4>
                </div>
                <div class="modal-body" id="machine_status">
                    <div>
                        <table class="table table-bordered table-striped mb-none" id="datatable-default2">
                            <thead>
                                <tr>
                                    <th class="centercls"> S.No </th>
                                    <th>Machine</th>
                                    <th>Loss ID </th>
                                    <th>Loss Description</th>
                                    <th>Start Time</th>
                                </tr>
                            </thead>
                            <tbody class="Historic_detail_loss">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModalHourlyTracker" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header bg-default">
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalHourlyTrackerTitle">HourlyTracker</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <section class="panel panel2">
                                <header class='panel-heading'>
                                    <div class='row'>
                                        <div class='col-md-12 fontSanserif'>
                                            <div class='fontSanserif titleTooltip'>
                                                Batchwise-Hourly OEE
                                                <span class="tooltiptext1" id="popupHourlyDate"></span>
                                            </div>
                                        </div>
                                    </div>
                                </header>
                                <div class="panel-body">
                                    <div class="Hourly_OEE" id='Hourly_OEE_container'>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <section class="panel panel2">
                                <header class='panel-heading'>
                                    <div class='row'>
                                        <div class='col-md-12 fontSanserif'>
                                            <div class='fontSanserif titleTooltip'>
                                                Batchwise-Hourly Utilisation
                                                <span class="tooltiptext1" id="popupHourlyDate1"></span>
                                            </div>
                                        </div>
                                    </div>
                                </header>
                                <div class="panel-body">
                                    <div class="Hourly_Utilisation" id='Hourly_Utilisation_container'>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-6">
                            <section class="panel panel2">
                                <header class='panel-heading'>
                                    <div class='row'>
                                        <div class='col-md-12 fontSanserif'>
                                            <div class='fontSanserif titleTooltip'>
                                                Batchwise-Hourly Downtime
                                                <span class="tooltiptext1" id="popupHourlyDate2"></span>
                                            </div>
                                        </div>
                                    </div>
                                </header>
                                <div class="panel-body">
                                    <div class="Hourly_Downtime" id='Hourly_Downtime_container'>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <section class="panel panel2">
                                <header class='panel-heading'>
                                    <div class='row'>
                                        <div class='col-md-12 fontSanserif'>
                                            <div class='fontSanserif titleTooltip'>
                                                Batchwise-Hourly Production Alignment
                                                <span class="tooltiptext1" id="popupHourlyDate3"></span>
                                            </div>
                                        </div>
                                    </div>
                                </header>
                                <div class="panel-body">
                                    <div class="Hourly_Production_Alignment" id='Hourly_Production_Alignment_container'>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-6">
                            <section class="panel panel2">
                                <header class='panel-heading'>
                                    <div class='row'>
                                        <div class='col-md-12 fontSanserif'>
                                            <div class='fontSanserif titleTooltip'>
                                                Batchwise-Hourly Production
                                                <span class="tooltiptext1" id="popupHourlyDate4"></span>
                                            </div>
                                        </div>
                                    </div>
                                </header>
                                <div class="panel-body">
                                    <div class="Hourly_Production" id='Hourly_Production_container'>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" id="oee">
            <section class="panel  carousel_panel" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
                @*<header class="panel-heading" id="oeehead" style="padding:6px !important">
                        <h2 class="panel-title">Stationwise KPI & Production Summary</h2>
                    </header>*@
                <div class="panel-body carousel_panel_body">
                    <div class="statusbar_flex">
                    </div>

                    <div class="">


                        <div id="myCarousel" class="carousel slide" data-ride="carousel">

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner item_div" data-bs-interval="2000" id="darkg">

                            </div>
                            <!-- Indicators -->
                            <ol class="carousel-indicators" id="carousel_btn">
                            </ol>
                        </div>

                    </div>
                </div>
            </section>

        </div>

    </div>







    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @*@Scripts.Render("~/assets/firstscript")
        @Scripts.Render("~/assets/secondscript")*@


    <script src="~/assets1/javascripts/swal.js"></script>
    <script src="~/assets1/javascripts/swal_alert.js"></script>
    <script type="text/javascript" src="~/Scripts/MainDashboard/MainDashboard.js"></script>

    <script>
        var URL = '@System.Configuration.ConfigurationManager.AppSettings["url"]';
        var sURL = '@System.Configuration.ConfigurationManager.AppSettings["signalr_url"]';
        var company = '@Session["CompanyCode"]';
        var plant = '@Session["PlantCode"]';
        var line = '@Session["LineCode"]';
        var R_url = '@Url.Action("Login", "Main")';
        var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';
        MainDashboard(URL, sURL, company, plant, line, R_url, user1);
    </script>
}
@if ((HttpContext.Current.Session["CompanyCode"] == null) || (HttpContext.Current.Session["CompanyCode"].ToString().Length == 0))
{
    <div>
        <br /><br />
        <label class="Selection_Condition">Select Company</label><br />
        <b>NOTE:Choose "Select Customer" from Profile Dropdown on Top-Right corner</b>
    </div>
}
@if ((HttpContext.Current.Session["PlantCode"] == null) || (HttpContext.Current.Session["PlantCode"].ToString().Length == 0))
{
    <div>
        <br /><br />
        <label class="Selection_Condition">Select Plant</label>
    </div>
}
@if ((HttpContext.Current.Session["LineCode"] == null) || (HttpContext.Current.Session["LineCode"].ToString().Length == 0))
{
    <div>
        <br /><br />
        <label class="Selection_Condition">Select Line</label>
    </div>
}