@model IEnumerable<PlanDigitization_web.Models.AlertResponse>
@{
    ViewBag.Title = "Responding to Alert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<header class="page-header">
    <h2>Responding to Alert </h2>
    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Action("NewDash","Main")">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Settings</span></li>
            <li><span>Responding To Alert</span></li>
        </ol>
    </div>
</header>

<!-- Drop Down to load machine and alert-->
<div class="row" id="divnew">
    <div class="col-md-12">
        <form class="form" method="post">
            <section class="panel">

                <div class="panel-body">


                    <div class="form-group">

                        <div class=" col-md-2 col-lg-2 col-sm-2">
                            <label class="control-label" style="float:right; font-weight:bold;"> Select Machine </label>
                        </div>
                        <div class="  col-md-3 col-lg-3 col-sm-3">
                            <select id="machinecode" class="form-control machine" name="machinecode" title="*" required>
                                @*<option value="">Select Machine</option>*@
                            </select>
                        </div>
                        <div class="  col-md-2 col-lg-2 col-sm-2">
                            <label class="control-label" style="float:right; font-weight:bold;"> Select Alert </label>
                        </div>
                        <div class="  col-md-3 col-lg-3 col-sm-3">
                            <select id="alertselect" class="form-control alertselect" name="AlertID" title="*" required>
                                <option value="">Select Machine First</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-lg-2 col-sm-2" style="text-align:center;align-content:center;">
                            <div class="btn-group">
                                <button type="button" onclick="showList()" id="viewdetails" class="mb-xs mt-xs mr-xs btn btn-primary">View</button>
                            </div>
                            <div class="btn-group">
                                <button type="button" id="clear" class="mb-xs mt-xs mr-xs btn btn-danger">Reset</button>
                            </div>

                        </div>
                    </div>


                </div>

            </section>
        </form>
    </div>
</div>

<!--List of active alerts-->
<div class="row" id="divdetails">
    <div class="col-md-12">
        <section class="panel">

            <div class="panel-body">
                <div class="form-group">
                    <div class="panel-body">


                        <table class="table table-bordered table-striped mb-none" id="datatable-default1">
                            <thead style="background-color:teal;color:white;">
                                <tr>
                                    <th>AlertID</th>
                                    <th>Machine</th>
                                    <th>Alert Message</th>
                                    <th>Start Time</th>
                                    <th>Last Time</th>
                                    <th>Duration</th>
                                    <th>Comment</th>
                                    <th>Instance</th>
                                    <th>Last Respond Status</th>
                                    <th>Response Select</th>
                                    <th>Last Response Date and Time</th>
                                    <th>Last Responded User Name</th>
                                    <th style="display:none;">group</th>
                                    <th style="display:none;">lastresponse</th>
                                    @if (ViewContext.Controller.HasPermission("AlertResponding-Edit"))
                                    {
                                        <th>Action</th>
                                    }

                                </tr>
                            </thead>

                            <tbody class="custom_preventive"></tbody>


                        </table>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div id="myModal1" class="modal">
    <!-- Modal content -->
    <div class="modal-dialog" style="width:80%">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close compclose">&times;</span>
                <h3><span id="comptablehead" style="font-family:Calibri;font-weight:bold;"></span></h3>
            </div>
            <div style="text-align:center;align-content:center;">
                
                <textarea cols="80" rows="2" class="enteredcomment" title="enter comment" placeholder="Enter Comments" required></textarea>
                <input type="text" class="start" style="display:none;" />
                <input type="text" class="end" style="display:none;" />
                <input type="text" class="modalmachine" style="display:none;" />
                <input type="text" class="groupid" style="display:none;" />
                <button id="addRow" class="btn btn-primary" style="align-content:center;text-align:center;">Add <i class="fa fa-plus"></i></button>


            </div>

            @*<div class="modal-body" id="breakdown" style="height:75%;width:20%;">
                </div>*@

            <div class="modal-body" id="breakdown1">

                <table class="table table-bordered table-striped mb-none" id="datatable-editable1">
                    <thead>
                        <tr>
                            <th>Alert</th>
                            <th>AlertName</th>
                            <th>Comment</th>
                            <th>Date and Time of Comment</th>
                            <th>UserName</th>
                            <th>Instance Start Time</th>
                            <th>Instance End Time</th>
                            <th style="display:none">AlertID</th>
                            <th style="display:none">uniqueid</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="body mtable1"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>



@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/assets1/javascripts/swal.js"></script>
<script src="~/assets1/javascripts/swal_alert.js"></script>

@if (@TempData["message"] != null)
{
    <script type="text/javascript">
    $(function () {
        var msg = '@TempData["message"]';

        if (msg == "Inserted") {
            swal({
                icon: "success",
                title: "Details Added Successfully...!",
                button: true,
                timer: 4500
            })
            showList();
        }
        else if (msg == "Updated") {
            swal({
                icon: "success",
                title: "Details Updated Successfully...!",
                button: true,
                timer: 4500
            })
            showList();
        }
        else if (msg == "Already VariableID") {
            swal({
                icon: "error",
                title: "Failed to Add and Variable already mapped",
                button: true,
                timer: 4500
            })
        }

        else {
            swal({
                icon: "error",
                title: "Failed to Add",
                button: true,
                timer: 4500
            })
            showList();
        }
    });
    </script>


}

<script type="text/javascript">
    $("#addRow").on("click", function () {

        var value = $(".enteredcomment").val();
        var alertid = $(".alertselect").val();
        var start = $(".start").val();
        var end = $(".end").val();
        var mac = $(".modalmachine").val();
        var groupid = $(".groupid").val();

        var preData = {
            "QueryType": "Comment_insert",
            "Last_Responded_UserName": '@Session["UserName"]',
            "AlertID": alertid,
            "Comment": value,
            "Unique_id": "",
            "StartTime": start,
            "EndTime": end,
            "CompanyCode": '@Session["CompanyCode"]',
            "PlantCode": '@Session["PlantCode"]',
            "LineCode": '@Session["LineCode"]',
            "Machine": mac,
            "groupid": groupid
        };

        var URL = '@System.Configuration.ConfigurationManager.AppSettings["url"]';

        var R_url = '@Url.Action("Login", "Main")';
        var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';


        if (value != null && value != '') {

            var remval = sanitize(value);

            var conditions = ["&lt;", "&#x2F;", "&#x27;", "&amp;", "&gt;", "&quot;"];
            var test1 = conditions.some(el => remval.includes(el));
            if (test1 == true) {
                upva = 1;
                comment(start, end, groupid);
                $(".enteredcomment").val('');
                swal({
                    icon: "error",
                    title: "Entered Text contain special charecters which is not allowed",
                    button: true,
                    timer: 4500
                })

                
                //alert("Reamrks contain special charecters which is not allowed");

            }
            else {
                $.ajax({
                    type: "POST",
                    url: URL + 'api/UserSettings/addComment',
                    headers: {
                        Authorization: 'Bearer ' + user1
                    },
                    data: preData,
                    dataType: "json",
                    success: function (response) {

                        if (response == "Inserted") {
                            comment(start, end, groupid);
                            $(".enteredcomment").val('');
                            swal({
                                icon: "success",
                                title: "Details Added Successfully...!",
                                button: true,
                                timer: 4500
                            })
                        }
                        else {
                            swal({
                                icon: "warning",
                                title: "Details not Added...!",
                                button: true,
                                timer: 4500
                            })
                        }

                    }
                }).error(function (response) {
                    swal({
                        icon: "warning",
                        title: "Session Timeout",
                        button: true,
                        closeModal: false
                    })
                    window.location = R_url;
                });
            }



        }
        else {
            swal({
                icon: "warning",
                title: "Enter Comments",
                button: true,
                closeModal: false
            })
        }


    });
</script>

<script type="text/javascript">
    var modal1 = document.getElementById("myModal1");
    // Get the <span> element that closes the modal
    var span1 = document.getElementsByClassName("compclose")[0];
    // When the user clicks on <span> (x), close the modal
    span1.onclick = function () {
        modal1.style.display = "none";
    }
</script>


<script type="text/javascript">
    document.getElementById("clear").addEventListener("click", function () {
        $(".machine").val('');
        $(".alertselect").val('');

         if ($.fn.DataTable.isDataTable('#datatable-default1')) {
                        $('#datatable-default1').DataTable().destroy();
        }

        $(".custom_preventive").html("");

        //var newRow = $("<tr>");
        //                var cols = '';
        //                cols += "<td colspan='14' style='text-align:center'> No Data Available </td> ";
        //                cols += "</tr>";
        //                newRow.append(cols);
        //                $(".custom_preventive").append(newRow);
        //                $('.shift').text("N/A");
        //                $('#maccode').text("N/A");
        //                $('.updated_time').text(new Date().toLocaleString());

        //$('#datatable-default1').DataTable({


        //                    scrollY: true,
        //                    scrollX: true,
        //                    "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]

        //                });

    });

     function showList() {

         var URL = '@System.Configuration.ConfigurationManager.AppSettings["url"]';


         var active_tab = $('ul .active').attr("id");
         var machine = $(".machine").val();
     var alert = $(".alertselect").val();

      if(machine==null || machine=='') {
         swal({
                    icon: "warning",
                    title: "Select Machine",
                    button: true,
                    closeModal: false
                })

     }
     else if(alert==null || alert=='') {
         swal({
                    icon: "warning",
                    title: "Select Alert",
                    button: true,
                    closeModal: false
                })

     }



     else {
          $(".custom_pre_error").text('');


        var preData = {
                "LineCode": '@Session["LineCode"]',
                "QueryType": "Active_AlertDetails",
                "CompanyCode": '@Session["CompanyCode"]',
            "PlantCode": '@Session["PlantCode"]',
            "Machine": machine,
                "AlertID":alert
            };
            var R_url = '@Url.Action("Login", "Main")';
            var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';

            $.ajax({
                type: "POST",
                url: URL + 'api/UserSettings/alert_respond_details',
                headers: {
                    Authorization: 'Bearer ' + user1
                },
                data: preData,
                dataType: "json",
                //beforeSend: function () {
                //    $('.loading').show();
                //},
                //complete: function () {
                //    $('.loading').hide();
                //},
                success: function (response) {

                    //$("#machinename").text(response.data[0].toolname);
                    //$("#stockno").text("2015/234");

                    var rowsCnt = document.getElementById("datatable-default1").getElementsByTagName("tbody")[0].getElementsByTagName("tr").length;
                    if (rowsCnt > 0) {
                        for (var i = 0; i < rowsCnt; i++) {
                            document.getElementById("datatable-default1").deleteRow(1);
                        }
                    }

                     if ($.fn.DataTable.isDataTable('#datatable-default1')) {
                        $('#datatable-default1').DataTable().destroy();
                    }


                    $(".custom_preventive").html("");

                    if (response.data.length != 0) {


                        for (var i = 0; i < response.data.length; i++) {
                            var newRow = $("<tr>");
                            var cols = '';
                            cols += "<td class='alertinrow'><span>" + response.data[i].AlertID + "</span></td> ";
                            cols += "<td> " + response.data[i].Machine + "</td> ";
                            cols += "<td> " + response.data[i].Message + "</td> ";
                            cols += "<td class='timestart'><span>" + response.data[i].StartTime + "</span></td> ";
                            cols += "<td> " + response.data[i].EndTime + "</td> ";
                            cols += "<td> " + response.data[i].Duration + "</td> ";
                            cols += "<td> <button type='button' onclick='comment(\""+response.data[i].StartTime+"\",\""+response.data[i].EndTime+"\",\""+response.data[i].groupid+"\")' class='mb-xs mt-xs mr-xs btn btn-danger'>Comments</button></td> ";
                            cols += "<td> " + response.data[i].Count + "</td> ";
                            cols += "<td> " + response.data[i].Last_Respond_status + "</td> ";
                            cols += "<td><span class='q'>" + response.data[i].ResponseText + "</span><input type='hidden' class='hiddenscale' value='"+response.data[i].ResponseSelect+"' /><select class='Dep form-control' style='display:none' title='' name='' required></select></td> ";
                            cols += "<td> " + response.data[i].Last_Respond_Time_string + "</td> ";
                            cols += "<td> " + response.data[i].Last_Responded_UserName + "</td> ";
                            cols += "<td style='display:none'><span> " + response.data[i].groupid + "</span></td> ";
                            cols += "<td style='display:none;' class='hiddenstatus'><span>" + response.data[i].ResponseText + "</span></td> ";
                            cols += "@if (ViewContext.Controller.HasPermission("AlertResponding-Edit")){<td style='text - align: center'>" +
                                    "<a class='btn btn-info btn-xs btn-edit' id='edit' title='edit'><i class='fa fa-pencil'></i></a>" + " " +
                                    "<a class='btn btn-info btn-xs btn-update' style='display:none' title='save'><i class='fa fa-save'></i></a>" + " " +
                                    "<a class='btn btn-warning btn-xs btn-cancel' style='display:none' title='cancel'><i class='fa fa-times'></i></a></td>}";

                            cols += "</tr>";
                            newRow.append(cols);
                            $(".custom_preventive").append(newRow);

                        }



                        $('#datatable-default1').DataTable({


                            scrollY: true,
                            scrollX: true,
                            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]

                        });



                    }
                    else {

                        //$(".custom_pre_error").text(response.msg);
                        var newRow = $("<tr>");
                        var cols = '';
                        cols += "<td colspan='14' style='text-align:center'> No Data Available </td> ";
                        cols += "</tr>";
                        newRow.append(cols);
                        $(".custom_preventive").append(newRow);
                        $('.shift').text("N/A");
                        $('#maccode').text("N/A");
                        $('.updated_time').text(new Date().toLocaleString());
                    }

                }
            }).error(function (response) {
                swal({
                    icon: "warning",
                    title: "Session Timeout",
                    button: true,
                    closeModal: false
                })
                window.location = R_url;
            });
     }

    }


</script>

<script type="text/javascript">

     function sanitize(string12) {
        const map = {
            '&': '&amp;',
            '<': '&lt;',
            '>': '&gt;',
            '"': '&quot;',
            "'": '&#x27;',
            "/": '&#x2F;',
        };
        const reg = /[&<>"'/]/ig;
        return string12.replace(reg, (match) => (map[match]));
    }

    function comment(start, end,groupidlist) {

        //alert(start)
        var URL = '@System.Configuration.ConfigurationManager.AppSettings["url"]';

        var machine = $(".machine").val();
        var alertid = $(".alertselect").val();

        $(".modalmachine").val(machine);
        $(".start").val(start);
        $(".end").val(end);
        $(".groupid").val(groupidlist);

        $("#comptablehead").html("");

        $("#comptablehead").text(alertid + " Comments");


         var preData = {
                "LineCode": '@Session["LineCode"]',
                "QueryType": "CommentDetails",
                "CompanyCode": '@Session["CompanyCode"]',
            "PlantCode": '@Session["PlantCode"]',
            "Machine": machine,
             "AlertID": alertid,
             "StartTime":start,
            
        };

         var R_url = '@Url.Action("Login", "Main")';
            var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';


        if (alertid != null || alertid != '') {
             $.ajax({
            type: "POST",
            url: URL + 'api/UserSettings/alert_comment_details',
            headers: {
                Authorization: 'Bearer ' + user1
            },
            data: preData,
            dataType: "json",
            success: function (response) {
                modal1.style.display = "block";

                if ( $.fn.DataTable.isDataTable('#datatable-editable1') ) {
                    $('#datatable-editable1').DataTable().destroy();
                }

                $("#datatable-editable1 > tbody").html("");

                $(".mtable1").html('');



                    if (response.data.length != 0) {


                        for (var i = 0; i < response.data.length; i++) {
                            var newRow = $("<tr>");
                            var cols = '';
                            //var j = 1;
                            //cols += "<td>" + j + "</td> ";
                            cols += "<td> " + response.data[i].AlertID + "</td> ";
                            cols += "<td> " + response.data[i].AlertName + "</td> ";
                            cols += "<td> " + response.data[i].Comment + "</td> ";
                            cols += "<td> " + response.data[i].Last_Respond_Time + "</td> ";
                            cols += "<td> " + response.data[i].Last_Responded_UserName + "</td> ";
                            cols += "<td> " + response.data[i].StartTime + "</td> ";
                            cols += "<td> " + response.data[i].EndTime + "</td> ";
                            cols += "<td style='display:none;'> " + response.data[i].AlertID + "</td> ";
                             cols += "<td class='ID' style='display:none;'><span> " + response.data[i].Unique_id + "</span></td> ";
                            cols += "<td style='text - align: center'>" +
                                    "<a class='btn btn-danger btn-xs btn-delete' id='delete' title='delete'><i class='fa fa-trash-o'></i></a></td >";

                            cols += "</tr>";
                            newRow.append(cols);
                            //j++;
                            $("#datatable-editable1").append(newRow);

                        }


                        $('#datatable-editable1').DataTable({


                            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]

                        });



                    }
                    else {

                        //$(".custom_pre_error").text(response.msg);
                        var newRow = $("<tr>");
                        var cols = '';
                        cols += "<td colspan='14' style='text-align:center'> No Data Available </td> ";
                        cols += "</tr>";
                        newRow.append(cols);
                        $(".mtable1").append(newRow);
                        $('.shift').text("N/A");
                        $('#maccode').text("N/A");
                        $('.updated_time').text(new Date().toLocaleString());
                    }

            }
        }).error(function (response) {
                swal({
                    icon: "warning",
                    title: "Session Timeout",
                    button: true,
                    closeModal: false
                })
                window.location = R_url;
            });

        }
        else {
            swal({
                    icon: "warning",
                    title: "Alert ID NULL",
                    button: true,
                    closeModal: false
                })
        }



    }


</script>


<script type="text/javascript">
     $("body").on("click", ".btn-edit", function () {


                $('#datatable-default1').find("span").show();
                $('#datatable-default1').find("input").hide();
                $('#datatable-default1').find("select").hide();

                $('#datatable-default1').find('.btn-update, .btn-cancel').hide();
                $('#datatable-default1').find('.btn-edit, .btn-delete').show();

                var row = $(this).closest("tr");
                var xx = $(row).find(".hiddenscale").val();

                edit(xx);

                $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                var span = $(this).find("span");
                var input = $(this).find("input");
                var select = $(this).find("select");
                input.val(span.html());
                span.hide();
                input.show();
                select.show();
                // $(row).find(".q").css("display", "none");
                //$(row).find(".Dep").css("display", "");
                }
                });
                row.find(".btn-edit").hide();
                row.find(".btn-delete").hide();
                row.find(".btn-update").show();
                row.find(".btn-cancel").show();
                $(this).hide();
    });

    $("body").on("click", ".btn-cancel", function(){

        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                var span = $(this).find("span");
                var input = $(this).find("input");
                var select = $(this).find("select");
                input.val(span.html());
                span.show();
                input.hide();
                select.hide();
                // $(row).find(".q").css("display", "");
                //$(row).find(".Dep").css("display", "none");
            }
        });
        row.find(".btn-edit").show();
        row.find(".btn-delete").show();
        row.find(".btn-update").hide();
        row.find(".btn-cancel").hide();
        $(this).hide();
    });

    $("body").on("click", ".btn-update", function () {

        var row = $(this).closest("tr");
        var alertidd = row.find(".alertinrow span").html();
        var lastresponse = row.find(".hiddenstatus span").html();
        var StartTime = row.find(".timestart span").html();

         var R_url = '@Url.Action("Login", "Main")';
                   var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';


        var status = row.find('.Dep').val();

        if (status == '' || alertidd=='') {
            alert("Response Status not filled")
        }
        else {

             var url2 = '@Url.Action("Updateresponse", "AlertSetting")';
            $.ajax({
                type: "POST",
                url: url2,
                //data: '{comp_name:"' + JSON.stringify(comp_name) + '",Applicable_Levels: "' + JSON.stringify(Applicable_Levels) + '", Skill_Requirements: "' + JSON.stringify(Skill_Requirements) + '",Knowledge_Scale:"' + JSON.stringify(Knowledge_Scale) + '",emp_code:"' + JSON.stringify(emp_code) + '",tbl_ID:"' + tbl_ID + '"}',
                data: '{ResponseSelect:"' + status + '",AlertID:"' + alertidd + '",Last_Respond_status:"' + lastresponse + '",StartTime:"' + StartTime + '"}',
                headers: {
                             Authorization: 'Bearer ' + user1
                         },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {

                    if (response == "Updated") {
                        swal({
                            icon: "success",
                            title: "Details Updated Successfully...!",
                            button: true,
                            closeModal: false
                        })
                        showList();
                    }
                    else {
                        swal({
                            icon: "success",
                            title: "Details Updation Failed...!",
                            button: true,
                            closeModal: false
                        })
                        showList();
                    }
                }
                //}).error(function (response) {
                // swal({
                //     icon: "warning",
                //     title: "Session Timeout",
                //     button: true,
                //     closeModal: false
                // })
                 //window.location = R_url;
             });

        }

    });

    $("body").on("click", "#delete", function () {
        if (confirm("Do you want to Delete this?")) {
            var row = $(this).closest("tr");
            var ID = row.find(".ID span").html();
            var start = $(".start").val();
        var end = $(".end").val();
        var groupid = $(".groupid").val();
            //alert(ID)
             var preData = {
                "QueryType": "Comment_delete",
                 "Last_Responded_UserName": '@Session["UserName"]',
                 "AlertID": "",
                 "Comment": "",
                 "Unique_id": ID,
                 "CompanyCode": '@Session["CompanyCode"]',
            "PlantCode": '@Session["PlantCode"]',
             "LineCode": '@Session["LineCode"]'
            };
             var URL = '@System.Configuration.ConfigurationManager.AppSettings["url"]';

             var R_url = '@Url.Action("Login", "Main")';
            var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';
             //$.ajax({
             //    type: 'Get',
             //    url: URL + 'api/UserSettings/GetEmployee',
             //    headers: {
             //        Authorization: 'Bearer ' + user1
             //    },
             //    dataType: 'json'
             //}).success(function (response) {
            $.ajax({
                type: "POST",
                url: URL + 'api/UserSettings/addComment',
                data: preData,
                headers: {
                     Authorization: 'Bearer ' + user1
                 },
                dataType: "json",
                beforeSend: function () {
                    $('.loading').show();
                },
                complete: function () {
                    $('.loading').hide();
                },
                success: function (response) {
                    if (response = "deleted") {
                        swal({
                        icon: "success",
                        title: "Details Deleted Successfully...!",
                        showConfirmButton: false,
                        timer: 4500
                    })
                    }
                    else {
                        swal({
                        icon: "success",
                        title: "Details Deletion failed...!",
                        showConfirmButton: false,
                        timer: 4500
                    })
                    }

                    comment(start, end, groupid);
                }
            }).error(function (response) {
                 swal({
                     icon: "warning",
                     title: "Session Timeout",
                     button: true,
                     closeModal: false
                 })
                 window.location = R_url;
             });
        }
    });

</script>


<script>
    function edit(xx) {

        var s = '<option value="">Select Alert</option>';
        s += '<option value="3">Enable</option>';
        s += '<option value="0">Disable</option>';
        s += '<option value="1">Acknowledge</option>';
        //s += '<option value="2">Hide</option>';
        $(".Dep").html(s);
        $(".Dep").val(xx);

    }

</script>



<script type="text/javascript">
    $(function () {
        //n = new Date();

        //y = n.getFullYear();
        //m = n.getMonth() + 1;
        //d = n.getDate();
        //document.getElementById("start").value = y + "-" + m + "-" + d;
        var CompanyCode = '@Session["CompanyCode"]';
        var PlantCode = '@Session["PlantCode"]';
        var LineCode = '@Session["LineCode"]';
        if (CompanyCode == "" && PlantCode == "" && LineCode == "") {
            swal({
                icon: "error",
                title: "Please Select Customer, Plant and Line...!",
                button: true,
                timer: 4500
            })
            return;
        }
        else
            if (CompanyCode == "") {
                swal({
                    icon: "error",
                    title: "Please Select Customer...!",
                    button: true,
                    timer: 4500
                })
                return;
            }
            else
                if (PlantCode == "") {
                    swal({
                        icon: "error",
                        title: "Please Select Plant...!",
                        button: true,
                        timer: 4500
                    })
                    return;
                }
                if (LineCode == "") {
                    swal({
                        icon: "error",
                        title: "Please Select Line...!",
                        button: true,
                        timer: 4500
                    })
                    return;
                }
                else {
                    var URL = '@System.Configuration.ConfigurationManager.AppSettings["url"]';

                      var R_url = '@Url.Action("Login", "Main")';
                    var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';



                    var myData = {
                        "Flag": "Subsystem",
                        "CompanyCode": '@Session["CompanyCode"]',
                        "PlantCode": '@Session["PlantCode"]',
                        "LineCode":'@Session["LineCode"]',
                    };
                    var R_url = '@Url.Action("Login", "Main")';
                   var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';

                   $.ajax({
                        type: "POST",
                       url: '/Main/GetSettingdatas1',
                       data: myData,
                        headers: {
                             Authorization: 'Bearer ' + user1
                         },
                        dataType: "json",
                        success: function (response) {
                            var s = '<option value="">Select Machine</option>';
                            for (var i = 0; i < response.data.length; i++) {
                                s += '<option value="' + response.data[i].Code + '">' + response.data[i].Name + '</option>';
                            }
                            $("#machinecode").html(s);

                        },
                        error: function (response) {
                            if (response.status == "401") {
                                swal({
                                    icon: "warning",
                                    title: "Session Timeout",
                                    button: true,
                                    closeModal: false
                                })
                                window.location = R_url;
                            }
                            else {
                                swal({
                                    icon: "warning",
                                    title: response.responseText,
                                    button: true,
                                    closeModal: false
                                })

                            }
                        }
                    });


                }
    });
</script>

<script type="text/javascript">
    $("#add").click(function () {
        $("#divnew").show();
        $("#divdetails").hide();
        $("#divedit").hide();
    });

    $(".cancel").click(function () {
        $("#divnew").hide();
        $("#divdetails").show();
        $("#divedit").hide();
    });

</script>


<script type="text/javascript">
    $('#machinecode').on('change', function() {

                    var data1 = {
                        "Flag": "AlertSelect",
                        "CompanyCode": '@Session["CompanyCode"]',
                        "PlantCode": '@Session["PlantCode"]',
                        "LineCode": '@Session["LineCode"]',
                        "MachineCode": this.value
                    };
                    var R_url = '@Url.Action("Login", "Main")';
                   var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';

                   $.ajax({
                        type: "POST",
                       url: '/Main/GetAlertList',
                       data: data1,
                        headers: {
                             Authorization: 'Bearer ' + user1
                         },
                        dataType: "json",
                        success: function (response) {
                            var s = '<option value="">Select Alert</option>';
                            for (var i = 0; i < response.data.length; i++) {
                                s += '<option value="' + response.data[i].Code + '">' + response.data[i].Code + '_'+response.data[i].Name+'</option>';
                            }
                            $("#alertselect").html(s);
                        },
                        error: function (response) {
                            if (response.status == "401") {
                                swal({
                                    icon: "warning",
                                    title: "Session Timeout",
                                    button: true,
                                    closeModal: false
                                })
                                window.location = R_url;
                            }
                            else {
                                swal({
                                    icon: "warning",
                                    title: response.responseText,
                                    button: true,
                                    closeModal: false
                                })

                            }
                        }
                   })
                       //.error(function (response) {

                       // if (response.status == "401") {
                       //     swal({
                       //         icon: "warning",
                       //         title: "Session Timeout",
                       //         button: true,
                       //         closeModal: false
                       //     })
                       //     window.location = R_url;
                       // }
                       // else {
                       //     swal({
                       //         icon: "warning",
                       //         title: response.responseText,
                       //         button: true,
                       //         closeModal: false
                       //     })

                       // }

                    //});

    });

</script>

<script>

    $(document).ready(function () {

        $('.updated_time').text("N/A");
        $('.shift').text("N/A");

} );

</script>
