
@{
    ViewBag.Title = "Live_alarm";
}

<header class="page-header">
    <h2> Live Alarm Details </h2>
    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Action("MainDashboard","MainDashboard")">
                    <i class="fa fa-home"></i>
                </a>
            </li>

            <li><span>Live Alarms</span></li>
        </ol>
    </div>
</header>

<!-- Operator Alarm Details-->

<div class="row" id="divdetails">

    <div class="col-md-12">
        <section class="panel">

            <header class="panel-heading" style="background-color:teal;color:white;">

                <h2 class="panel-title" style="color:white;"> Live Alarm  </h2>

            </header>

            <div class="panel-body">
                <div class="form-group">
                    <div class="panel-body">
                        @if (ViewContext.Controller.HasPermission("AlarmLive-View"))
                        {
                            <table class="table table-bordered table-striped mb-none" id="datatable-default" data-swf-path="assets1/vendor/jquery-datatables/extras/TableTools/swf/copy_csv_xls_pdf.swf">

                                <thead style="background-color:teal;color:white;">
                                    <tr>
                                        <th class="centercls"> S.No </th>
                                        <th>StartTime</th>
                                        <th>Machine</th>
                                        <th>Alarm ID </th>
                                        <th>Alarm Description</th>
                                        <th style="display:none;"> id </th>
                                        <th> Help</th>
                                    </tr>
                                </thead>
                                <tbody class="live_alarm_details">
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <h2>View Permission is denied</h2>
                        }

                    </div>
                    @*//newly added*@
                    @*<span class="alert_raw_table_error" style="color:red;font-size:13px;font-weight:bold;margin-left:500px"></span>*@
                </div>
            </div>
        </section>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/assets1/javascripts/swal.js"></script>
<script src="~/assets1/javascripts/swal_alert.js"></script>


<script>

    //Newly added
    function Livealarm() {
        var URL = '@System.Configuration.ConfigurationManager.AppSettings["url"]';
        var R_url = '@Url.Action("Login", "Main")';
        var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';

        var myData = {

            "QueryType": "Live",
                "CompanyCode": '@Session["CompanyCode"]',
                "PlantCode": '@Session["PlantCode"]',
                "Line_Code": '@Session["LineCode"]',

         };
            $.ajax({
                type: "POST",
                url: URL + 'api/Live_Alarm/Get_live_Alarm_data',
                data: myData,
                headers: {
                    Authorization: 'Bearer ' + user1
                },
                dataType: "json",

                success: function (response) {
                    //$(".alert_raw_table_error").text("");

                    var rowsCnt = document.getElementById("datatable-default").getElementsByTagName("tbody")[0].getElementsByTagName("tr").length;
                    if (rowsCnt > 0) {
                        for (var i = 0; i < rowsCnt; i++) {
                            document.getElementById("datatable-default").deleteRow(1);
                        }
                    }

                    if ($.fn.DataTable.isDataTable('#datatable-default')) {
                        $('#datatable-default').DataTable().clear();
                    }

                    if ($.fn.DataTable.isDataTable('#datatable-default')) {
                        $('#datatable-default').DataTable().destroy();
                    }
                    if (response.status != "Error") {

                        for (var i = 0; i < response.data.Table.length; i++) {

                            var newRow = $("<tr>");
                            var cols = '';
                            var n = ($('.live_alarm_details tr').length) + 1;
                            cols += "<td><input style='display: none' type='hidden' value='" + n + "' class=' form-control ' /> <p>" + n + "</p> </td>";
                            cols += "<td> " + response.data.Table[i].s_time + "</td> ";
                            cols += "<td> " + response.data.Table[i].Machine_Code + "</td> ";
                            cols += "<td> " + response.data.Table[i].Alarm_ID + "</td> ";
                            cols += "<td> " + response.data.Table[i].Alarm_Description + "</td> ";
                            cols += "<td style='display: none' class='id'> " + response.data.Table[i].Help + "</td> ";
                            cols += "<td style='text-align:center;'>"
                                + " <button class='btn btn-primary' onclick='myFunction(" + response.data.Table[i].Help + ")' type='button' style='margin-top: 10px' class='download'><i class='fa fa-question-circle' aria-hidden='true'></i></button>"
                                + " </td>";

                            cols += "</tr>";
                            //Newly added
                            newRow.append(cols);
                            $(".live_alarm_details").append(newRow);
                            //newly addded
                            $('.updated_time').text(response.data.Table[i].Time_Stamp);
                            $('.shift').text(response.data.Table[0].Shift_id);
                            $('.shift_n').show();
                            $('.updated_time_n').show();
                        }

                        $('#datatable-default').DataTable({

                            "responsive": true,
                            "autoWidth": false,
                            "scrollCollapse": true,
                            "bPaginate": false,
                            "bLengthChange": false,
                            "bFilter": true,
                            "bInfo": false,
                            "bAutoWidth": false,
                            "destroy": true
                                                    });
                    }

                    else {

                         //$(".alert_raw_table_error").text(response.msg);
                        $(".live_alarm_details").empty();
                        var newRow = $("<tr>");
                        var cols = '';
                        cols += "<td colspan='8' style='text-align:center;font-weight:bold;background-color:burlywood;color:black;'> No Data Available </td> ";
                        cols += "</tr>";
                        newRow.append(cols);
                        $(".live_alarm_details").append(newRow);
                    }


                },
                error: function (response) {
                    console.log(response)
                    if (response.status == "401") {
                        swal({
                            icon: "warning",
                            title: "Session Expired",
                            button: true,
                            closeModal: false
                        })
                        window.location = R_url;
                    }
                    else {
                        swal({
                            icon: "warning",
                            title: response.responseText,
                            button: true,
                            closeModal: false
                        })

                    }
                }
            });

        setTimeout(Livealarm, 10000);

            };


    $(document).ready(function () {

        Livealarm();


    });

    function myFunction(id)
    {

        var URL = '@System.Configuration.ConfigurationManager.AppSettings["url"]';

        var CompanyCode = '@Session["CompanyCode"]'
        var PlantCode = '@Session["PlantCode"]'
        var LineCode = '@Session["LineCode"]'
        console.log(id);

        if (!id) {

            swal({
                icon: "warning",
                title: "File  not Found",
                button: false,
                timer: 1500
            })

        }
        else {


            var myDatas2 = {
                "QueryType": "File",
                "CompanyCode": '@Session["CompanyCode"]',
                "PlantCode": '@Session["PlantCode"]',
                "LineCode": '@Session["LineCode"]',
                "Unique_id": id,
            };
            var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';

            $.ajax({
                type: "POST",
                data: myDatas2,
                headers: {
                    Authorization: 'Bearer ' + user1
                },
                url: URL + 'api/Values/CollectFileName_settings_details',
                dataType: "json",
                success: function (response3) {

                    try {
                        var filename = response3.data.Table[0].filename;
                        var path1 = window.location.protocol + "//" + window.location.host + "/Manuals/" + CompanyCode + "/" + PlantCode + "/" + LineCode + "/" + filename;

                        console.log(path1)
                        // window.open(path1, '_blank');
                        var link = document.createElement("a");
                        link.download = filename;
                        link.href = path1;
                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
                        delete link;

                        return false;

                    }
                    catch (err) {

                        swal({
                            icon: "warning",
                            title: " File  not Found",
                            button: false,
                            timer: 1500
                        })

                    }
                }
            }).error(function (response3) {
                if (response.status == "401") {
                    swal({
                        icon: "warning",
                        title: "Session Timeout",
                        button: true,
                        closeModal: false
                    })
                    window.location = R_url;
                }
                else {
                    swal({
                        icon: "warning",
                        title: response.responseText,
                        button: true,
                        closeModal: false
                    })

                }
            });

        }
    }



</script>