@model IEnumerable<PlanDigitization_web.Models.Losses>
@{
    ViewBag.Title = "Losses_data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="page-header">
    <h2> Losses Data Details </h2>
    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Action("MainDashboard","MainDashboard")">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Settings</span></li>
            <li><span>Loss Details</span></li>
        </ol>
    </div>
</header>

<!-- Add New Loss Data-->
<div class="row" id="divnew" style="display:none;">
    <div class="col-md-12">
        <form class="form" action="@Url.Action("Insert_Lossessdata","UserSettings")" method="post">
            <section class="panel">
                <header class="panel-heading" style="background-color:teal;color:white;">
                    <div class="panel-actions">
                    </div>
                    <h2 class="panel-title" style="color:white;">Add New Loss Data</h2>
                </header>
                <div class="panel-body">
                    <div class="form-group">
                        @*<label class="col-sm-2 control-label"> Line Code <span class="required">*</span></label>
                            <div class="col-sm-4">
                                <select class="form-control Line" name="Line_Code" id="Line" title="Select Line" required></select>
                            </div>*@
                        <label class="col-sm-2 control-label">Machine Code <span class="required">*</span></label>
                        <div class="col-sm-4">
                            <select class="form-control Machine" name="Machine_Code" id="Machine" title="Select Machine" required>
                                <option value="">Select Line First</option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label">Subassembly <span class="required">*</span></label>
                        <div class="col-sm-4">
                            <select class="form-control Subassembly" name="Subassembly" id="Subassembly" title="Select Subassembly" required>
                                <option value="">Select Machine First</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"> Loss Category <span class="required">*</span></label>
                        <div class="col-sm-4">
                            <select class="form-control Loss_Category" name="Loss_Category" id="Loss_Category" title="Select Category" required></select>
                        </div>
                        <label class="col-sm-2 control-label"> Loss Type <span class="required">*</span></label>
                        <div class="col-sm-4">
                            <select class="form-control Loss_Type" name="Loss_Type" id="Loss_Type" title="Select Type" required>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"> Loss ID <span class="required">*</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="LossID" name="Loss_ID" class="form-control space" title="Enter ID" placeholder="Loss ID" required />
                        </div>
                        <label class="col-sm-2 control-label"> Loss Description <span class="required">*</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="LossDesc" name="Loss_Description" class="form-control space" title="Enter Description" placeholder="Description" required />
                        </div>
                    </div>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3" style="text-align:center;">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="reset" id="cancel" class="btn btn-danger cancel">Cancel</button>
                        </div>
                    </div>
                </footer>
            </section>
        </form>
    </div>
</div>
<div class="row" id="divupload" style="display:none;">
    <div class="col-md-6">
        <form id="form" action="@Url.Action("upload_losses", "UserSettings")" enctype="multipart/form-data" method="post">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                    </div>
                    <h2 class="panel-title">Upload Loss Reason Details</h2>
                </header>
                <div class="panel-body">

                    <div class="form-group">
                        <label class="col-sm-3 control-label"> Choose File <span class="required">*</span></label>
                        <div class="col-sm-6">
                            <input type="file" class="form-control" title="*" id="file" name="postedFile">
                        </div>
                        <div class="col-sm-6" style="text-align:center;">
                            <button type="submit" class="btn btn-primary">Upload</button>
                            <button type="reset" id="cancelupload" class="btn btn-danger cancel">Cancel</button>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
</div>


<!-- Operator Loss Details-->
<div class="row" id="divdetails">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading" style="background-color:teal;color:white;">

                <div class="panel-actions">
                    @if (ViewContext.Controller.HasPermission("LossesSetting-Add"))
                    {
                        @*<button class="btn btn-primary" id="uploadfile"> Upload </button>*@
                        <button class="btn btn-success" id="add"><i class="fa fa-plus" aria-hidden="true"> Add New</i></button>
                    }
                    @if (ViewContext.Controller.HasPermission("LossesSetting-Edit"))
                    {
                        <button class="btn btn-primary" id="onselectedit"><i class="fa fa-pencil-square-o" aria-hidden="true"> Edit</i></button>
                    }
                    @if (ViewContext.Controller.HasPermission("LossesSetting-Delete"))
                    {
                        <button class="btn btn-danger" id="onselectdelete"><i class="fa fa-trash-o" aria-hidden="true"> Delete</i></button>
                    }
                </div>

                <h2 class="panel-title" style="color:white;">List of Losses  </h2>
                <p style="float:right;padding-top:2%;color:black;">*Select record to edit/delete</p>
            </header>
            <div class="panel-body">
                <div class="form-group">
                    <div class="panel-body">
                        @if (ViewContext.Controller.HasPermission("LossesSetting-View"))
                        {
                            <table class="table table-bordered table-striped mb-none" id="datatable-default" data-swf-path="assets1/vendor/jquery-datatables/extras/TableTools/swf/copy_csv_xls_pdf.swf">
                                <thead style="background-color:teal;color:white;">
                                    <tr>
                                        <th class="centercls"> S.No </th>
                                        <th style="display:none;">ID</th>
                                        <th>Line</th>
                                        <th>Machine</th>
                                        <th> Loss ID </th>
                                        <th>Loss Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int RowNo = 0;}
                                    @foreach (var item in Model)
                                    {
                                        <tr class="gradeX">
                                            <td>
                                                @{RowNo++;}@RowNo
                                            </td>
                                            <td class="ID" style="display:none;">
                                                <span>@Html.Encode(item.ID)</span>
                                            </td>
                                            <td>
                                                <span>@Html.Encode(item.FunctionName)</span>
                                            </td>
                                            <td>
                                                <span>@Html.Encode(item.AssetName)</span>
                                            </td>
                                            <td>
                                                <span>@Html.Encode(item.Loss_ID)</span>
                                            </td>
                                            <td>
                                                <span>@Html.Encode(item.Loss_Description)</span>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <h2>View permission is denied</h2>
                        }
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<!--Edit Loss Data Details-->
<div class="row" id="divedit" style="display:none;">
    <div class="col-md-12">
        <form class="form" action="@Url.Action("Update_Lossessdata","UserSettings")" method="post">
            <section class="panel">
                <header class="panel-heading" style="background-color:teal;color:white;">
                    <div class="panel-actions">
                    </div>
                    <h2 class="panel-title" style="color:white;">Update Loss Data</h2>
                </header>
                <div class="panel-body">
                    <div class="form-group">
                        <input type="hidden" id="eID" name="ID" />
                        @*<label class="col-sm-2 control-label"> Line Code <span class="required">*</span></label>
                            <div class="col-sm-4">
                                <select class="form-control Line" name="Line_Code" id="eLine" title="Select Line" required></select>
                            </div>*@
                        <label class="col-sm-2 control-label">Machine Code <span class="required">*</span></label>
                        <div class="col-sm-4">
                            <select class="form-control Machine" name="Machine_Code" id="eMachine" title="Select Machine" required></select>
                        </div>
                        <label class="col-sm-2 control-label">Subassembly <span class="required">*</span></label>
                        <div class="col-sm-4">
                            <select class="form-control Subassembly" name="Subassembly" id="eSubassembly" title="Select Subassembly">
                                @*<option value="">Select Machine First</option>*@
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"> Loss Category <span class="required">*</span></label>
                        <div class="col-sm-4">
                            <select class="form-control Loss_Category" name="Loss_Category" id="eLoss_Category" title="Select Category" required></select>
                        </div>
                        <label class="col-sm-2 control-label"> Loss Type <span class="required">*</span></label>
                        <div class="col-sm-4">
                            <select class="form-control Loss_Type" name="Loss_Type" id="eLoss_Type" title="Select Type" required></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"> Loss ID <span class="required">*</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="eLossID" name="Loss_ID" readonly class="form-control space" title="Enter ID" placeholder="Loss ID" required />
                        </div>
                        <label class="col-sm-2 control-label"> Loss Description <span class="required">*</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="eLossDesc" name="Loss_Description" class="form-control space" title="Enter Description" placeholder="Description" required />
                        </div>
                    </div>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3" style="text-align:center;">
                            <button type="submit" class="btn btn-primary">Update</button>
                            <button type="reset" id="cancel" class="btn btn-danger cancel">Cancel</button>
                        </div>
                    </div>
                </footer>
            </section>
        </form>

    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/assets1/javascripts/swal.js"></script>
<script src="~/assets1/javascripts/swal_alert.js"></script>
@if (@TempData["message"] != null)
{
    <script type="text/javascript">
    $(function () {
        var msg = '@TempData["message"]';
        if (msg == "Inserted") {
            swal({
                icon: "success",
                title: "Details Added Successfully...!",
                button: true,
                timer: 4500
            })
        }
        else if (msg == "Updated") {
            swal({
                icon: "success",
                title: "Details Updated Successfully...!",
                button: true,
                timer: 4500
            })
        }
        else if (msg == "Already Loss_ID") {
            swal({
                icon: "error",
                title: "Failed to Add.Loss ID already exists",
                button: true,
                timer: 4500
            })
        }
        else if (msg == "Already Loss_Description") {
            swal({
                icon: "error",
                title: "Failed to Add.Loss Description already exists",
                button: true,
                timer: 4500
            })
        }
        else {
            swal({
                icon: "error",
                title: "Failed to Add",
                button: true,
                timer: 4500
            })
        }
    });
    </script>
}
<script type="text/javascript">
    $("#add").click(function () {
        $("#divnew").show();
        $("#divdetails").hide();
        $("#divedit").hide();
    });
    $(".cancel").click(function () {
        $("#divnew").hide();
        $("#divdetails").show();
        $("#divedit").hide();
    });
</script>

<script type="text/javascript">
    //$(document).on("keydown", ".space", function (evt) {

    //    var caretPos = $(this)[0].selectionStart
    //    if (evt.keyCode == 32 && caretPos == 0) {
    //        return false;
    //    }
    //});


    //$(function () {
    //    $('.space').on('keydown', function (e) {
    //        if (!$(this).data("value"))
    //            $(this).data("value", this.value);
    //    });
    //    $('.space').on('keyup', function (e) {
    //        if (!/^[-_0-9a-z,.]*$/i.test(this.value))
    //            this.value = $(this).data("value");
    //        else
    //            $(this).data("value", null);
    //    });
    //    $('.space').on('keypress', function (e) {
    //        if (!/^[-_0-9a-z,.]*$/i.test(this.value))
    //            this.value = $(this).data("value");
    //        else
    //            $(this).data("value", null);
    //    });
    //});


    $(document).on("keydown", ".space", function (evt) {

        var caretPos = $(this)[0].selectionStart
        if (evt.keyCode == 32 && caretPos == 0) {
            return false;
        }
    });


    $(function () {
        $('.space').on('keydown', function (e) {
            if (!$(this).data("value"))
                $(this).data("value", this.value);
        });
        $('.space').on('keyup', function (e) {
            if (!/^[-_0-9a-z,.]*$/i.test(this.value))
                this.value = $(this).data("value");
            else
                $(this).data("value", null);
        });
        $('.space').on('keypress', function (e) {
            if (!/^[-_0-9a-z,.]*$/i.test(this.value))
                this.value = $(this).data("value");
            else
                $(this).data("value", null);
        });
    });

</script>


<script>
    $(function () {
        $('body').on('keydown', '#LossDesc', function (e) {
            console.log(this.value);
            if (e.which === 32 && e.target.selectionStart === 0) {
                return false;
            }
        });
    });

    $(function () {
        $('body').on('keydown', '#eLossDesc', function (e) {
            console.log(this.value);
            if (e.which === 32 && e.target.selectionStart === 0) {
                return false;
            }
        });
    });
</script>





<script type="text/javascript">
    $(function () {
        var URL = '@System.Configuration.ConfigurationManager.AppSettings["url"]';
        var myDatas = {
            "QueryType": "Function",
            "Parameter": '@Session["PlantCode"]',
            "Parameter1": '@Session["CompanyCode"]'
        };
         var R_url = '@Url.Action("Login", "Main")';
            var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';
        $.ajax({
            type: "POST",
            data: myDatas,
             headers: {
                     Authorization: 'Bearer ' + user1
                 },
            url: URL + 'api/UserSettings/User_settings_details',
            dataType: "json",
            success: function (response) {
                var s = '<option value="">Please Select</option>';
                for (var i = 0; i < response.data.Table.length; i++) {
                    s += '<option value="' + response.data.Table[i].FunctionID + '">' + response.data.Table[i].FunctionName + '</option>';
                }
                $(".Line").html(s);
            }
        }).error(function (response) {
            if (response.status == "401") {
                swal({
                    icon: "warning",
                    title: "Session Expired",
                    button: true,
                    closeModal: false
                })
                window.location = R_url;
            }
            else {
                swal({
                    icon: "warning",
                    title: response.responseText,
                    button: true,
                    closeModal: false
                })
            }
        });
        @*var data = {
            "QueryType": "Assets",
            "Parameter": '@Session["PlantCode"]',
            "Parameter1": '@Session["CompanyCode"]'
        };
         var R_url = '@Url.Action("Login", "Main")';
            var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';
             //$.ajax({
             //    type: 'Get',
             //    url: URL + 'api/UserSettings/GetEmployee',
             //    headers: {
             //        Authorization: 'Bearer ' + user1
             //    },
             //    dataType: 'json'
             //}).success(function (response) {
        $.ajax({
            type: "POST",
            data: data,
             headers: {
                     Authorization: 'Bearer ' + user1
                 },
            url: URL + 'api/UserSettings/User_settings_details',
            dataType: "json",
            success: function (response1) {
                var s = '<option value="">Please Select</option>';
                for (var i = 0; i < response1.data.Table.length; i++) {
                    s += '<option value="' + response1.data.Table[i].AssetID + '">' + response1.data.Table[i].AssetName + '</option>';
                }
                $(".Machine").html(s);
            }
        }).error(function (response) {
                 swal({
                     icon: "warning",
                     title: "Session Expired",
                     button: true,
                     closeModal: false
                 })
                 window.location = R_url;
             });*@
    });
</script>

<script type="text/javascript">
    //Function to select row
    $("#datatable-default tbody tr").click(function () {
        var bl;
        var editval;
        if ($(this).hasClass('selected')) {
            bl = "row selected";
            $(this).removeClass('selected');
        }
        else {
            bl = "row unselected";
            $(this).addClass('selected').siblings().removeClass('selected');
            editval = $(this).find('td:first').html();
            //alert(editval)
        }
    });
</script>
<!--Style section for selection of rows-->
<style>
    #datatable-default tbody tr:not(.table-header) {
        cursor: pointer;
    }

    #datatable-default tbody .selected:not(.table-header) {
        background-color: brown;
        color: #FFF;
    }
</style>
<script type="text/javascript">
     var URL = '@System.Configuration.ConfigurationManager.AppSettings["url"]';
    //edit function on selction of row
     var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';
    $("#onselectedit").on("click", function () {
        debugger;
        //function to retrieve id on select to edit the row
        var CompanyCode;
        $("#datatable-default tbody tr").each(function () {
            if ($(this).hasClass('selected')) {
                var row = $(this);
                var ID = row.find(".ID span").html();
                var myData = {
                    "QueryType": "Edit_Loss",
                    "Parameter": ID,
                     "CompanyCode": '@Session["CompanyCode"]',
                    "PlantCode": '@Session["PlantCode"]',
                    "LineCode": '@Session["LineCode"]'
                };
                $("#divedit").show();
                $("#divnew").hide();
                $("#divdetails").hide();
                var R_url = '@Url.Action("Login", "Main")';
            var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';
             //$.ajax({
             //    type: 'Get',
             //    url: URL + 'api/UserSettings/GetEmployee',
             //    headers: {
             //        Authorization: 'Bearer ' + user1
             //    },
             //    dataType: 'json'
             //}).success(function (response) {
                $.ajax({
                    type: "POST",
                    url: URL + 'api/Values/User_settings_details',
                    data: myData,
                     headers: {
                         Authorization: 'Bearer ' + user1
                     },
                    dataType: "json",
                    beforeSend: function () {
                        $('.loading').show();
                    },
                    complete: function () {
                        $('.loading').hide();
                    },
                    success: function (response) {
                        $('#eID').val(response.data.Table[0].ID);
                        $('#eLossID').val(response.data.Table[0].Loss_ID);
                        $('#eLossDesc').val(response.data.Table[0].Loss_Description);
                        var machine = response.data.Table[0].Machine_Code
                        var linecode = response.data.Table[0].Line_Code;
                        var myDatas = {
                            "QueryType": "Function",
                            "Parameter": '@Session["PlantCode"]',
                            "Parameter1": '@Session["CompanyCode"]'
                        };
                        $.ajax({
                            type: "POST",
                            data: myDatas,
                             headers: {
                                 Authorization: 'Bearer ' + user1
                             },
                            url: URL + 'api/UserSettings/User_settings_details',
                            dataType: "json",
                            success: function (response1) {
                                var s = '<option value="" disabled>Please Select</option>';
                                for (var i = 0; i < response1.data.Table.length; i++) {
                                    if (response1.data.Table[i].FunctionID == response.data.Table[0].Line_Code) {
                                        s += '<option value="' + response1.data.Table[i].FunctionID + '" selected=selected>' + response1.data.Table[i].FunctionName + '</option>';
                                    }
                                    else {
                                        s += '<option value="' + response1.data.Table[i].FunctionID + '">' + response1.data.Table[i].FunctionName + '</option>';
                                    }
                                }
                                $("#eLine").html(s);
                            }
                        }).error(function (response) {
                            if (response.status == "401") {
                                swal({
                                    icon: "warning",
                                    title: "Session Expired",
                                    button: true,
                                    closeModal: false
                                })
                                window.location = R_url;
                            }
                            else {
                                swal({
                                    icon: "warning",
                                    title: response.responseText,
                                    button: true,
                                    closeModal: false
                                })
                            }
                         });
                        var myDatas1 = {
                            "QueryType": "Assets",
                            "Parameter": '@Session["PlantCode"]',
                            "Parameter1": '@Session["CompanyCode"]',
                            "Parameter2": '@Session["LineCode"]',
                             "CompanyCode": '@Session["CompanyCode"]',
                    "PlantCode": '@Session["PlantCode"]',
                    "LineCode": '@Session["LineCode"]'
                        };
                        $.ajax({
                            type: "POST",
                            data: myDatas1,
                            headers: {
                                 Authorization: 'Bearer ' + user1
                             },
                            url: URL + 'api/Values/User_settings_details',
                            dataType: "json",
                            success: function (response2) {
                               // alert(response.data.Table[0].Machine_Code)
                                var s = '<option value="" disabled>Please Select</option>';
                                for (var i = 0; i < response2.data.Table.length; i++) {
                                    if (response2.data.Table[i].FunctionName == response.data.Table[0].Line_Code) {
                                        s += '<option value="' + response2.data.Table[i].AssetID + '" selected=selected>' + response2.data.Table[i].AssetName + '</option>';
                                    }
                                    else {
                                        s += '<option value="' + response2.data.Table[i].AssetID + '">' + response2.data.Table[i].AssetName + '</option>';
                                    }
                                }
                                $("#eMachine").html(s);
                            }
                        }).error(function (response2) {
                            if (response.status == "401") {
                                swal({
                                    icon: "warning",
                                    title: "Session Expired",
                                    button: true,
                                    closeModal: false
                                })
                                window.location = R_url;
                            }
                            else {
                                swal({
                                    icon: "warning",
                                    title: response.responseText,
                                    button: true,
                                    closeModal: false
                                })
                            }
                        });
                         var datasub = {
                 "QueryType": "Get_subassambly",
                 "Parameter": '@Session["PlantCode"]',
                 "Parameter1": '@Session["CompanyCode"]',
                             "Parameter2": machine,
                              "CompanyCode": '@Session["CompanyCode"]',
                    "PlantCode": '@Session["PlantCode"]',
                    "LineCode": '@Session["LineCode"]'
             };

                        var myDatas_catedit = {
                            "QueryType": "Get_LossCategory",
                            "Parameter": '@Session["PlantCode"]',
                            "Parameter1": '@Session["CompanyCode"]',
                            "Parameter2": '@Session["LineCode"]',
                             "CompanyCode": '@Session["CompanyCode"]',
                    "PlantCode": '@Session["PlantCode"]',
                    "LineCode": '@Session["LineCode"]'
                        };
                        $.ajax({
                            type: "POST",
                            data: myDatas_catedit,
                            headers: {
                                 Authorization: 'Bearer ' + user1
                             },
                            url: URL + 'api/Values/User_settings_details',
                            dataType: "json",
                            success: function (response2) {
                               // alert(response.data.Table[0].Machine_Code)
                                var s = '<option value="" disabled>Please Select</option>';
                                for (var i = 0; i < response2.data.Table.length; i++) {
                                    if (response2.data.Table[i].ID == response.data.Table[0].Loss_Category) {
                                        s += '<option value="' + response2.data.Table[i].ID + '" selected=selected>' + response2.data.Table[i].Loss_Category + '</option>';
                                    }
                                    else {
                                        s += '<option value="' + response2.data.Table[i].ID + '">' + response2.data.Table[i].Loss_Category + '</option>';
                                    }
                                }
                                $("#eLoss_Category").html(s);
                            }
                        }).error(function (response2) {
                            if (response.status == "401") {
                                swal({
                                    icon: "warning",
                                    title: "Session Expired",
                                    button: true,
                                    closeModal: false
                                })
                                window.location = R_url;
                            }
                            else {
                                swal({
                                    icon: "warning",
                                    title: response.responseText,
                                    button: true,
                                    closeModal: false
                                })
                            }
                        });
                        var myDatas_typeedit = {
                            "QueryType": "Get_LossType",
                            "Parameter": '@Session["PlantCode"]',
                            "Parameter1": '@Session["CompanyCode"]',
                            "Parameter2": '@Session["LineCode"]',
                             "CompanyCode": '@Session["CompanyCode"]',
                    "PlantCode": '@Session["PlantCode"]',
                    "LineCode": '@Session["LineCode"]'
                        };
                        $.ajax({
                            type: "POST",
                            data: myDatas_typeedit,
                            headers: {
                                 Authorization: 'Bearer ' + user1
                             },
                            url: URL + 'api/Values/User_settings_details',
                            dataType: "json",
                            success: function (response2) {
                               // alert(response.data.Table[0].Machine_Code)
                                var s = '<option value="" disabled>Please Select</option>';
                                for (var i = 0; i < response2.data.Table.length; i++) {
                                    if (response2.data.Table[i].ID == response.data.Table[0].Loss_Type) {
                                        s += '<option value="' + response2.data.Table[i].ID + '" selected=selected>' + response2.data.Table[i].Loss_Type + '</option>';
                                    }
                                    else {
                                        s += '<option value="' + response2.data.Table[i].ID + '">' + response2.data.Table[i].Loss_Type + '</option>';
                                    }
                                }
                                $("#eLoss_Type").html(s);
                            }
                        }).error(function (response2) {
                            if (response.status == "401") {
                                swal({
                                    icon: "warning",
                                    title: "Session Expired",
                                    button: true,
                                    closeModal: false
                                })
                                window.location = R_url;
                            }
                            else {
                                swal({
                                    icon: "warning",
                                    title: response.responseText,
                                    button: true,
                                    closeModal: false
                                })
                            }
                        });
                        $.ajax({
                            type: "POST",
                            data: datasub,
                            headers: {
                                Authorization: 'Bearer ' + user1
                            },
                            url: URL + 'api/Values/User_settings_details',
                            dataType: "json",
                            success: function (responsesub) {
                                // alert(response.data.Table[0].Machine_Code)
                                var s = '<option value="" disabled>Please Select</option>';
                                for (var i = 0; i < responsesub.data.Table.length; i++) {
                                    if (responsesub.data.Table[i].SubassemblyID == response.data.Table[0].Subassambly) {
                                        s += '<option value="' + responsesub.data.Table[i].SubassemblyID + '" selected=selected>' + responsesub.data.Table[i].SubassemblyName + '</option>';
                                    }
                                    else {
                                        s += '<option value="' + responsesub.data.Table[i].SubassemblyID + '">' + responsesub.data.Table[i].SubassemblyName + '</option>';
                                    }
                                }
                                $("#eSubassembly").html(s);
                            }
                        }).error(function (response) {
                            if (response.status == "401") {
                                swal({
                                    icon: "warning",
                                    title: "Session Expired",
                                    button: true,
                                    closeModal: false
                                })
                                window.location = R_url;
                            }
                            else {
                                swal({
                                    icon: "warning",
                                    title: response.responseText,
                                    button: true,
                                    closeModal: false
                                })
                            }
                        });

                    }
                    , error: function (response) {
                        if (response.status == "401") {
                            swal({
                                icon: "warning",
                                title: "Session Expired",
                                button: true,
                                closeModal: false
                            })
                            window.location = R_url;
                        }
                        else {
                            swal({
                                icon: "warning",
                                title: response.responseText,
                                button: true,
                                closeModal: false
                            })
                        }
                    }
                });
                return false;
            }
            else {
                //alert("Please select a record to proceed...")
                return;
            }
        });
    });
    //delete function on selection of row
     $("#onselectdelete").on("click", function () {
        //function to retrieve id on select to delete the row
        var CompanyCode;
        $("#datatable-default tbody tr").each(function () {
            if ($(this).hasClass('selected')) {
                if (confirm("Do you want to Delete this...?")) {
                    var row = $(this);
                    var ID = row.find(".ID span").html();
                    var myData = {
                        "QueryType": "Delete_loss",
                        "Parameter": ID,
                         "CompanyCode": '@Session["CompanyCode"]',
                    "PlantCode": '@Session["PlantCode"]',
                    "LineCode": '@Session["LineCode"]'
                    };
                     var R_url = '@Url.Action("Login", "Main")';
            var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';
             //$.ajax({
             //    type: 'Get',
             //    url: URL + 'api/UserSettings/GetEmployee',
             //    headers: {
             //        Authorization: 'Bearer ' + user1
             //    },
             //    dataType: 'json'
             //}).success(function (response) {
                    $.ajax({
                        type: "POST",
                        url: URL + 'api/Values/delete_User_settings_details',
                        data: myData,
                         headers: {
                             Authorization: 'Bearer ' + user1
                         },
                        dataType: "json",
                        beforeSend: function () {
                            $('.loading').show();
                        },
                        complete: function () {
                            $('.loading').hide();
                        },
                        success: function (response) {
                            swal({
                                icon: "success",
                                title: "Details Deleted Successfully...!",
                                button: true,
                                timer: 4500
                            })
                            window.location = '@Url.Action("Losses_data", "UserSettings")';
                        }
                    }).error(function (response) {
                        if (response.status == "401") {
                            swal({
                                icon: "warning",
                                title: "Session Expired",
                                button: true,
                                closeModal: false
                            })
                            window.location = R_url;
                        }
                        else {
                            swal({
                                icon: "warning",
                                title: response.responseText,
                                button: true,
                                closeModal: false
                            })
                        }
             });
                }
                return false;
            }
            else {
                //alert("Please select a record to proceed...")
                return;
            }
        });
    });
</script>

<script>
    $("#uploadfile").click(function () {
        $("#divupload").show();
        $("#divdetails").hide();
        $("#divedit").hide();
    });
    $("#cancelupload").click(function () {
        $("#divupload").hide();
        $("#divdetails").show();
        $("#divedit").hide();
    });
    $(document).ready(function () {
        $('.updated_time').text("N/A");
        $('.shift').text("N/A");
        if ($.fn.DataTable.isDataTable('#datatable-default')) {
            $('#datatable-default').DataTable().destroy();
        }
        $('#datatable-default').DataTable({
            "responsive": true,
            "autoWidth": false,
            scrollY: true,
            scrollX: true,
            scroller: true
        });
    });
</script>

<script type="text/javascript">
    $(function() {
        //alert(this.value);
         var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';
        var URL = '@System.Configuration.ConfigurationManager.AppSettings["url"]';
          var myData = {
                        "Flag": "Subsystem",
                        "CompanyCode": '@Session["CompanyCode"]',
                        "PlantCode": '@Session["PlantCode"]',
                        "LineCode":'@Session["LineCode"]',
                    };
                    var R_url = '@Url.Action("Login", "Main")';
                   var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetSettingdatas1", "Main")',
            data: myData,
            dataType: "json",
            success: function (response) {
                var s = '<option value="">Select Machine</option>';
                for (var i = 0; i < response.data.length; i++) {
                    s += '<option value="' + response.data[i].Code + '">' + response.data[i].Name + '</option>';
                }
                $(".Machine").html(s);
            },
            error: function (response) {
                if (response.status == "401") {
                    swal({
                        icon: "warning",
                        title: "Session Expired",
                        button: true,
                        closeModal: false
                    })
                    window.location = R_url;
                }
                else {
                    swal({
                        icon: "warning",
                        title: response.responseText,
                        button: true,
                        closeModal: false
                    })
                }
            }
        });
        var myData1 = {
            "QueryType": "Get_LossCategory",
            "Parameter": '@Session["PlantCode"]',
            "Parameter1": '@Session["CompanyCode"]',
            "Parameter2": '@Session["LineCode"]',
             "CompanyCode": '@Session["CompanyCode"]',
                    "PlantCode": '@Session["PlantCode"]',
                    "LineCode": '@Session["LineCode"]'
        };
        $.ajax({
            type: "POST",
            data: myData1,
            headers: {
                Authorization: 'Bearer ' + user1
            },
            url: URL + 'api/Values/User_settings_details',
            dataType: "json",
            success: function (response) {
                var s = '<option value="">Select Category</option>';
                for (var i = 0; i < response.data.Table.length; i++) {
                    s += '<option value="' + response.data.Table[i].ID + '">' + response.data.Table[i].Loss_Category + '</option>';
                }
                $(".Loss_Category").html(s);
            },
            error: function (response) {
                if (response.status == "401") {
                    swal({
                        icon: "warning",
                        title: "Session Expired",
                        button: true,
                        closeModal: false
                    })
                    window.location = R_url;
                }
                else {
                    swal({
                        icon: "warning",
                        title: response.responseText,
                        button: true,
                        closeModal: false
                    })
                }
            }
        });
        var myData2 = {
            "QueryType": "Get_LossType",
            "Parameter": '@Session["PlantCode"]',
            "Parameter1": '@Session["CompanyCode"]',
            "Parameter2": '@Session["LineCode"]',
             "CompanyCode": '@Session["CompanyCode"]',
                    "PlantCode": '@Session["PlantCode"]',
                    "LineCode": '@Session["LineCode"]'
        };
        $.ajax({
            type: "POST",
            data: myData2,
            headers: {
                Authorization: 'Bearer ' + user1
            },
            url: URL + 'api/Values/User_settings_details',
            dataType: "json",
            success: function (response) {
                var s = '<option value="">Select Type</option>';
                for (var i = 0; i < response.data.Table.length; i++) {
                    s += '<option value="' + response.data.Table[i].ID + '">' + response.data.Table[i].Loss_Type + '</option>';
                }
                $(".Loss_Type").html(s);
            },
            error: function (response) {
                if (response.status == "401") {
                    swal({
                        icon: "warning",
                        title: "Session Expired",
                        button: true,
                        closeModal: false
                    })
                    window.location = R_url;
                }
                else {
                    swal({
                        icon: "warning",
                        title: response.responseText,
                        button: true,
                        closeModal: false
                    })
                }
            }
        });
    });
     $("#Machine").change(function () {
             var Machine = $('#Machine').val();
             var data = {
                 "QueryType": "Get_subassambly",
                 "Parameter": '@Session["PlantCode"]',
                 "Parameter1": '@Session["CompanyCode"]',
                 "Parameter2": Machine,
                  "CompanyCode": '@Session["CompanyCode"]',
                    "PlantCode": '@Session["PlantCode"]',
                    "LineCode": '@Session["LineCode"]'
         };
         console.log((data))
             $.ajax({
                 type: "POST",
                 data: data,
                 headers: {
                     Authorization: 'Bearer ' + user1
                 },
                 url: URL + "api/Values/User_settings_details",
                 dataType: "json",
                 success: function (response) {
                     if (response.data.Table.length > 0) {
                         var s = '<option value="">Select</option>';
                         console.log(response)
                         for (var i = 0; i < response.data.Table.length; i++) {
                             s += '<option value="' + response.data.Table[i].SubassemblyID + '">' + response.data.Table[i].SubassemblyName + '</option>';
                         }
                         $(".Subassembly").html(s);
                     }
                     else {
                         var s = '<option value="null">No Subassembly</option>';
                         $("#Subassembly").html(s);
                     }
                 }
             })
         });
</script>

<script type="text/javascript">
    $('#eLine').on('change', function() {
        //alert(this.value);
        var URL = '@System.Configuration.ConfigurationManager.AppSettings["url"]';
     var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';
          var myData = {
                        "Flag": "Subsystem",
                        "CompanyCode": '@Session["CompanyCode"]',
                        "PlantCode": '@Session["PlantCode"]',
                        "LineCode":this.value,
                    };
                    var R_url = '@Url.Action("Login", "Main")';
                   var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';
        $.ajax({
            type: "POST",
            url: URL + 'api/Toollife/GetSettingdatas',
            headers: {
                Authorization: 'Bearer ' + user1
            },
            data: myData,
            dataType: "json",
            success: function (response) {
                var s = '<option value="">Select Machine</option>';
                for (var i = 0; i < response.data.length; i++) {
                    s += '<option value="' + response.data[i].Code + '">' + response.data[i].Name + '</option>';
                }
                $("#eMachine").html(s);
            },
            error: function (response) {
                if (response.status == "401") {
                    swal({
                        icon: "warning",
                        title: "Session Expired",
                        button: true,
                        closeModal: false
                    })
                    window.location = R_url;
                }
                else {
                    swal({
                        icon: "warning",
                        title: response.responseText,
                        button: true,
                        closeModal: false
                    })
                }
            }
        });
         $("#eMachine").change(function () {
             var Machine = $('#Machine').val();
             var data = {
                 "QueryType": "Get_subassambly",
                 "Parameter": '@Session["PlantCode"]',
                 "Parameter1": '@Session["CompanyCode"]',
                 "Parameter2": Machine,
                  "CompanyCode": '@Session["CompanyCode"]',
                    "PlantCode": '@Session["PlantCode"]',
                    "LineCode": '@Session["LineCode"]'
             };
             $.ajax({
                 type: "POST",
                 data: data,
                 headers: {
                     Authorization: 'Bearer ' + user1
                 },
                 url: URL + "api/Values/User_settings_details",
                 dataType: "json",
                 success: function (response) {
                     if (response.data.Table.length > 0) {
                         var s = '<option value="">Select</option>';
                         for (var i = 0; i < response.data.Table.length; i++) {
                             s += '<option value="' + response.data.Table[i].SubassemblyID + '">' + response.data.Table[i].SubassemblyName + '</option>';
                         }
                         $("#eSubassembly").html(s);
                     }
                     else {
                         var s = '<option value="null">No Subassembly</option>';
                         $("#eSubassembly").html(s);
                     }
                 }
             })
              var myData1 = {
            "QueryType": "Get_LossCategory",
            "Parameter": '@Session["PlantCode"]',
            "Parameter1": '@Session["CompanyCode"]',
                  "Parameter2": this.value,
             "CompanyCode": '@Session["CompanyCode"]',
                    "PlantCode": '@Session["PlantCode"]',
                    "LineCode": '@Session["LineCode"]'
        };
        $.ajax({
            type: "POST",
            data: myData1,
            headers: {
                Authorization: 'Bearer ' + user1
            },
            url: URL + 'api/Values/User_settings_details',
            dataType: "json",
            success: function (response) {
                var s = '<option value="">Select Category</option>';
                for (var i = 0; i < response.data.Table.length; i++) {
                    s += '<option value="' + response.data.Table[i].ID + '">' + response.data.Table[i].Loss_Category + '</option>';
                }
                $("#eLoss_Category").html(s);
            },
            error: function (response) {
                if (response.status == "401") {
                    swal({
                        icon: "warning",
                        title: "Session Expired",
                        button: true,
                        closeModal: false
                    })
                    window.location = R_url;
                }
                else {
                    swal({
                        icon: "warning",
                        title: response.responseText,
                        button: true,
                        closeModal: false
                    })
                }
            }
        });
        var myData2 = {
            "QueryType": "Get_LossType",
            "Parameter": '@Session["PlantCode"]',
            "Parameter1": '@Session["CompanyCode"]',
            "Parameter2": this.value,
             "CompanyCode": '@Session["CompanyCode"]',
                    "PlantCode": '@Session["PlantCode"]',
                    "LineCode": '@Session["LineCode"]'
        };
        $.ajax({
            type: "POST",
            data: myData2,
            headers: {
                Authorization: 'Bearer ' + user1
            },
            url: URL + 'api/Values/User_settings_details',
            dataType: "json",
            success: function (response) {
                var s = '<option value="">Select Type</option>';
                for (var i = 0; i < response.data.Table.length; i++) {
                    s += '<option value="' + response.data.Table[i].ID + '">' + response.data.Table[i].Loss_Type + '</option>';
                }
                $("#eLoss_Type").html(s);
            },
            error: function (response) {
                if (response.status == "401") {
                    swal({
                        icon: "warning",
                        title: "Session Expired",
                        button: true,
                        closeModal: false
                    })
                    window.location = R_url;
                }
                else {
                    swal({
                        icon: "warning",
                        title: response.responseText,
                        button: true,
                        closeModal: false
                    })
                }
            }
        });
         });
    });
</script>