@model IEnumerable<PlanDigitization_web.Models.Operatorskill>
@{
    ViewBag.Title = "Operator_skill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="page-header">
    <h2> Operator Skill Matrix Details </h2>
    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Action("NewDash","Main")">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Settings</span></li>
            <li><span>Operator Skill</span></li>
        </ol>
    </div>
</header>

<!-- Add New Operator Skill-->
<div class="row" id="divnew" style="display:none;">
    <div class="col-md-12">
        <form class="form" action="@Url.Action("Insert_Operatorskill","UserSettings")" method="post">
            <section class="panel">
                <header class="panel-heading" style="background-color:teal;color:white;" >
                    <div class="panel-actions">
                    </div>
                    <h2 class="panel-title" style="color:white;" >Add New Operator Skill</h2>
                </header>
                <div class="panel-body">
                    <div class="form-group">
                        @*<label class="col-sm-2 control-label"> Line <span class="required">*</span></label>
                        <div class="col-sm-4">
                            <select id="linecode" class="form-control" name="Line_Code" title="*"></select>
                        </div>*@
                        <label class="col-sm-2 control-label"> Operator ID <span class="required">*</span></label>
                        <div class="col-sm-4">
                            <select class="form-control OperatorID" name="OperatorID" title="Select Operator" required>
                                <option value="">Select Line First</option>
                            </select>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"> Skill <span class="required">*</span></label>
                        <div class="col-sm-4">
                            <select class="form-control Skill" name="SkillName" id="Skill" title="Select Skill" required>
                                <option value="">Select Line First</option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label"> Score Value <span class="required">*</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="ScoreValue" name="ScoreValue" onkeypress="return isNumberKey(event)" class="form-control" title="Enter Score" placeholder="Score Value" required />
                        </div>
                    </div>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3" style="text-align:center;">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="reset" id="cancel" class="btn btn-danger cancel">Cancel</button>
                        </div>
                    </div>
                </footer>
            </section>
        </form>
    </div>
</div>

<!-- Operator Skill Details-->
<div class="row" id="divdetails">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading" style="background-color:teal;color:white;" >
                @if (ViewContext.Controller.HasPermission("OperatorSkillSetting-Add"))
                {
                    <div class="panel-actions">
                        <button class="btn btn-primary" id="add"><i class="fa fa-plus" aria-hidden="true"> Add New</i></button>
                    </div>
                }
                <h2 class="panel-title" style="color:white;" >List of Skills : </h2>
            </header>
            <div class="panel-body">
                <div class="form-group">
                    <div class="panel-body">
                        @if (ViewContext.Controller.HasPermission("OperatorSkillSetting-View"))
                        {
                            <table class="table table-bordered table-striped mb-none" id="datatable-default" data-swf-path="assets1/vendor/jquery-datatables/extras/TableTools/swf/copy_csv_xls_pdf.swf">
                                <thead style="background-color:teal;color:white;" >
                                    <tr>
                                        <th class="centercls"> S.No </th>
                                        <th style="display:none;"></th>
                                        <th>Operator ID</th>
                                        <th>Operator Name</th>
                                        <th> Skill </th>
                                        <th style="text-align:center;width:150px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int RowNo = 0;}
                                    @foreach (var item in Model)
                                    {
                                        <tr class="gradeX">
                                            <td>
                                                @{RowNo++;}@RowNo
                                            </td>
                                            <td class="Operator_ID" style="display:none;">
                                                <span>@Html.Encode(item.O_ID)</span>
                                            </td>
                                            <td>
                                                <span>@Html.Encode(item.OperatorID)</span>
                                            </td>
                                            <td>
                                                <span>@Html.Encode(item.OperatorName)</span>
                                            </td>
                                            <td>
                                                <span>@Html.Encode(item.SName)</span>
                                            </td>
                                            <td style="text-align:center;">
                                                @if (ViewContext.Controller.HasPermission("OperatorSkillSetting-Edit"))
                                                {
                                                    <button class="btn btn-primary" style="margin-top: 10px" id="edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                                }
                                                @if (ViewContext.Controller.HasPermission("OperatorSkillSetting-Delete"))
                                                {
                                                    <button class="btn btn-danger" style="margin-top: 10px" id="delete"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <h2>View permission is denied</h2>
                        }
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<!--Edit Operator Skill Details-->
<div class="row" id="divedit" style="display:none;">
    <div class="col-md-12">
        <form class="form" action="@Url.Action("Update_Operatorskill","UserSettings")" method="post">
            <section class="panel">
                <header class="panel-heading" style="background-color:teal;color:white;" >
                    <div class="panel-actions">
                    </div>
                    <h2 class="panel-title" style="color:white;" >Update Skill</h2>
                </header>
                <div class="panel-body">
                    <input type="hidden" id="eO_ID" name="O_ID" />
                    <div class="form-group">
                        @*<label class="col-sm-2 control-label"> Line <span class="required">*</span></label>
                        <div class="col-sm-4">
                            <select id="linecodeedit" class="form-control" name="Line_Code" title="*"></select>
                        </div>*@
                        <label class="col-sm-2 control-label"> Operator ID <span class="required">*</span></label>
                        <div class="col-sm-4">
                            <select class="form-control OperatorID" name="OperatorID" id="eOperatorID" title="Select Operator" required></select>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"> Skill <span class="required">*</span></label>
                        <div class="col-sm-4">
                            <select class="form-control Skill" name="SkillName" id="eSkill" title="Select Skill" required></select>
                        </div>
                        <label class="col-sm-2 control-label"> Score Value <span class="required">*</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="eScoreValue" name="ScoreValue" onkeypress="return isNumberKey(event)" class="form-control" title="Enter Score" placeholder="Score Value" required />
                        </div>
                    </div>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3" style="text-align:center;">
                            <button type="submit" class="btn btn-primary">Update</button>
                            <button type="reset" id="cancel" class="btn btn-danger cancel">Cancel</button>
                        </div>
                    </div>
                </footer>
            </section>
        </form>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/assets1/javascripts/swal.js"></script>
<script src="~/assets1/javascripts/swal_alert.js"></script>
@if (@TempData["message"] != null)
{
    <script type="text/javascript">
    $(function () {
        var msg = '@TempData["message"]';
        if (msg == "Inserted") {
            swal({
                icon: "success",
                title: "Details Added Successfully...!",
                button: true,
                timer: 4500
            })
        }
        else if (msg == "Updated") {
            swal({
                icon: "success",
                title: "Details Updated Successfully...!",
                button: true,
                timer: 4500
            })
        }
        else if (msg == "Already") {
            swal({
                icon: "error",
                title: "Failed to Add.Skill score already exists for the same Operator ID",
                button: true,
                timer: 4500
            })
        }
        else {
            swal({
                icon: "error",
                title: "Failed to Add",
                button: true,
                timer: 4500
            })
        }
    });
    </script>
}
<script type="text/javascript">
    $("#add").click(function () {
        $("#divnew").show();
        $("#divdetails").hide();
        $("#divedit").hide();
    });

    $(".cancel").click(function () {
        $("#divnew").hide();
        $("#divdetails").show();
        $("#divedit").hide();
    });
</script>

<script type="text/javascript">
    var URL = '@System.Configuration.ConfigurationManager.AppSettings["url"]';
    $("body").on("click", "#edit", function () {
        var row = $(this).closest("tr");
        var OperatorID = row.find(".Operator_ID span").html();
        var myData = {
            "QueryType": "Edit_Operator_skill",
            "Parameter": OperatorID,
            "CompanyCode": '@Session["CompanyCode"]',
             "PlantCode": '@Session["PlantCode"]',
            "LineCode": '@Session["LineCode"]'
        };

        $("#divedit").show();
        $("#divnew").hide();
        $("#divdetails").hide();
         var R_url = '@Url.Action("Login", "Main")';
            var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';
             //$.ajax({
             //    type: 'Get',
             //    url: URL + 'api/UserSettings/GetEmployee',
             //    headers: {
             //        Authorization: 'Bearer ' + user1
             //    },
             //    dataType: 'json'
             //}).success(function (response) {
        $.ajax({
            type: "POST",
            url: URL + 'api/Values/User_settings_details',
            data: myData,
             headers: {
                     Authorization: 'Bearer ' + user1
                 },
            dataType: "json",
            beforeSend: function () {
                $('.loading').show();
            },
            complete: function () {
                $('.loading').hide();
            },
            success: function (response) {
                $('#eO_ID').val(response.data.Table[0].O_ID);
                $('#eScoreValue').val(response.data.Table[0].ScoreValue);

                var linecode = '@Session["LineCode"]';

                 @*var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';

                  var myData1 = {
                        "Flag": "LineCode",
                        "CompanyCode": '@Session["CompanyCode"]',
                        "PlantCode": '@Session["PlantCode"]',
                    };

                //$.ajax({
                //    type: 'Get',
                //    url: URL + 'api/UserSettings/GetEmployee',
                //    headers: {
                //        Authorization: 'Bearer ' + user1
                //    },
                //    dataType: 'json'
                //}).success(function (response3) {
                    $.ajax({
                        type: "POST",
                        url: '/Main/GetSettingdatas1',
                        data: myData1,

                        dataType: "json",
                        success: function (response2) {
                            //alert(response2)
                            var s = '<option value="">Please Select</option>';

                            for (var i = 0; i < response2.data.length; i++) {

                                if (response2.data[i].Code == response.data.Table[0].Line_Code) {

                                    s += '<option value="' + response2.data[i].Code + '" selected=selected>' + response2.data[i].Name + '</option>';
                                }
                                else {
                                    s += '<option value="' + response2.data[i].Code + '">' + response2.data[i].Name + '</option>';
                                }
                            }
                            $("#linecodeedit").html(s);
                        },
                        error: function (response2) {

                        }
                    }).error(function (response2) {
                        if (response2.status == "401") {
                            swal({
                                icon: "warning",
                                title: "Session Timeout",
                                button: true,
                                closeModal: false
                            })
                            window.location = R_url;
                        }
                        else {
                            swal({
                                icon: "warning",
                                title: response2.responseText,
                                button: true,
                                closeModal: false
                            })

                        }
                });*@




                var myDatas = {
                    "QueryType": "Skills",
                    "Parameter1": '@Session["CompanyCode"]',
                    "Parameter": linecode,
                    "CompanyCode": '@Session["CompanyCode"]',
                    "PlantCode": '@Session["PlantCode"]',
                     "LineCode": '@Session["LineCode"]'
                };
                 var R_url = '@Url.Action("Login", "Main")';
            var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';
             //$.ajax({
             //    type: 'Get',
             //    url: URL + 'api/UserSettings/GetEmployee',
             //    headers: {
             //        Authorization: 'Bearer ' + user1
             //    },
             //    dataType: 'json'
             //}).success(function (response22) {
                $.ajax({
                    type: "POST",
                     headers: {
                         Authorization: 'Bearer ' + user1
                     },
                    data: myDatas,
                    url: URL + 'api/Values/User_settings_details',
                    dataType: "json",
                    success: function (response1) {
                        var s = '<option value="" disabled>Please Select</option>';
                        for (var i = 0; i < response1.data.Table.length; i++) {
                            if (response1.data.Table[i].Skill_ID == response.data.Table[0].SkillName) {
                                s += '<option value="' + response1.data.Table[i].Skill_ID + '" selected=selected>' + response1.data.Table[i].SkillName + '</option>';
                            }
                            else {
                                s += '<option value="' + response1.data.Table[i].Skill_ID + '">' + response1.data.Table[i].SkillName + '</option>';
                            }
                        }
                        $("#eSkill").html(s);
                    }
                }).error(function (response) {
                    if (response.status == "401") {
                        swal({
                            icon: "warning",
                            title: "Session Timeout",
                            button: true,
                            closeModal: false
                        })
                        window.location = R_url;
                    }
                    else {
                        swal({
                            icon: "warning",
                            title: response.responseText,
                            button: true,
                            closeModal: false
                        })

                    }
             });

                var myData = {
                    "QueryType": "Operators",
                    "Parameter1": '@Session["CompanyCode"]',
                    "Parameter": linecode,
                    "CompanyCode": '@Session["CompanyCode"]',
                     "PlantCode": '@Session["PlantCode"]',
                      "LineCode": '@Session["LineCode"]'
                };
                 var R_url = '@Url.Action("Login", "Main")';
            var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';
             //$.ajax({
             //    type: 'Get',
             //    url: URL + 'api/UserSettings/GetEmployee',
             //    headers: {
             //        Authorization: 'Bearer ' + user1
             //    },
             //    dataType: 'json'
             //}).success(function (response33) {
                $.ajax({
                    type: "POST",
                    data: myData,
                      headers: {
                         Authorization: 'Bearer ' + user1
                     },
                    url: URL + 'api/Values/User_settings_details',
                    dataType: "json",
                    success: function (response2) {
                        var s = '<option value="">Please Select</option>';
                        for (var i = 0; i < response2.data.Table.length; i++) {
                            if (response2.data.Table[i].OperatorID == response.data.Table[0].OperatorID) {
                                s += '<option value="' + response2.data.Table[i].OperatorID + '" selected=selected>' + response2.data.Table[i].OperatorName + '</option>';
                            }
                            else {
                                s += '<option value="' + response2.data.Table[i].OperatorID + '" Disabled=disabled>' + response2.data.Table[i].OperatorName + '</option>';
                            }
                        }
                        $("#eOperatorID").html(s);
                    }
                }).error(function (response) {
                    if (response.status == "401") {
                        swal({
                            icon: "warning",
                            title: "Session Timeout",
                            button: true,
                            closeModal: false
                        })
                        window.location = R_url;
                    }
                    else {
                        swal({
                            icon: "warning",
                            title: response.responseText,
                            button: true,
                            closeModal: false
                        })

                    }
             });
            }
            , error: function (response) {
                if (response.status == "401") {
                    swal({
                        icon: "warning",
                        title: "Session Timeout",
                        button: true,
                        closeModal: false
                    })
                    window.location = R_url;
                }
                else {
                    swal({
                        icon: "warning",
                        title: response.responseText,
                        button: true,
                        closeModal: false
                    })

                }
            }
        });
             //}).error(function (response) {
             //    swal({
             //        icon: "warning",
             //        title: "Session Timeout",
             //        button: true,
             //        closeModal: false
             //    })
             //    window.location = R_url;
             //});
    });

    $("body").on("click", "#delete", function () {
        if (confirm("Do you want to Delete this...?")) {
            var row = $(this).closest("tr");
            var OperatorID = row.find(".Operator_ID span").html();
            var myData = {
                "QueryType": "Delete_Operator_skill",
                "Parameter": OperatorID,
                "CompanyCode": '@Session["CompanyCode"]',
                         "PlantCode": '@Session["PlantCode"]',
                         "LineCode": '@Session["LineCode"]'
            };
             var R_url = '@Url.Action("Login", "Main")';
            var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';
             //$.ajax({
             //    type: 'Get',
             //    url: URL + 'api/UserSettings/GetEmployee',
             //    headers: {
             //        Authorization: 'Bearer ' + user1
             //    },
             //    dataType: 'json'
             //}).success(function (response) {
            $.ajax({
                type: "POST",
                url: URL + 'api/Values/delete_User_settings_details',
                data: myData,
                headers: {
                     Authorization: 'Bearer ' + user1
                 },
                dataType: "json",
                beforeSend: function () {
                    $('.loading').show();
                },
                complete: function () {
                    $('.loading').hide();
                },
                success: function (response) {
                    swal({
                        icon: "success",
                        title: "Operator Skill Details Deleted Successfully...!",
                        button: true,
                        timer: 4500
                    })
                   window.location = '@Url.Action("Operator_skill", "UserSettings")';
                }
            }).error(function (response) {
                if (response.status == "401") {
                    swal({
                        icon: "warning",
                        title: "Session Timeout",
                        button: true,
                        closeModal: false
                    })
                    window.location = R_url;
                }
                else {
                    swal({
                        icon: "warning",
                        title: response.responseText,
                        button: true,
                        closeModal: false
                    })

                }
             });
        }
    });
</script>
<script>
    $(document).ready(function () {
        $('.updated_time').text("N/A");
        $('.shift').text("N/A");

        if ($.fn.DataTable.isDataTable('#datatable-default')) {
                        $('#datatable-default').DataTable().destroy();
                    }


                        $('#datatable-default').DataTable({

                            "responsive": true,
                            "autoWidth": false,
                            scrollY: true,
                            scrollX: true,
                            scroller: true
                        });


    });
</script>

<script type="text/javascript">
    @*$(function () {

        var URL = '@System.Configuration.ConfigurationManager.AppSettings["url"]';
                    var myData = {
                        "Flag": "LineCode",
                        "CompanyCode": '@Session["CompanyCode"]',
                        "PlantCode": '@Session["PlantCode"]',
                    };
                     var R_url = '@Url.Action("Login", "Main")';
                        var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';
                    //$.ajax({
                    //     type: 'Get',
                    //        url: URL + 'api/UserSettings/GetEmployee',
                    //         headers: {
                    //         Authorization: 'Bearer ' + user1
                    //        },
                    //     dataType: 'json'
                    //}).success(function (response) {
                    $.ajax({
                        type: "POST",
                        url: '/Main/GetSettingdatas1',
                        data: myData,
                         
                        dataType: "json",
                        success: function (response) {
                            var s = '<option value="">Select Line</option>';
                            for (var i = 0; i < response.data.length; i++) {
                                s += '<option value="' + response.data[i].Code + '">' + response.data[i].Name + '</option>';
                            }
                            $("#linecode").html(s);
                        },
                        error: function (response) {

                        }
                    }).error(function (response) {
                        if (response.status == "401") {
                            swal({
                                icon: "warning",
                                title: "Session Timeout",
                                button: true,
                                closeModal: false
                            })
                            window.location = R_url;
                        }
                        else {
                            swal({
                                icon: "warning",
                                title: response.responseText,
                                button: true,
                                closeModal: false
                            })

                        }
                    });

    });*@
</script>

<script type="text/javascript">
    $(function() {
        //alert(this.value);

        var URL = '@System.Configuration.ConfigurationManager.AppSettings["url"]';



         var myDatas = {
            "QueryType": "Skills",
            "Parameter1": '@Session["CompanyCode"]',
             "Parameter": '@Session["LineCode"]',
            "CompanyCode": '@Session["CompanyCode"]',
             "PlantCode": '@Session["PlantCode"]',
             "LineCode": '@Session["LineCode"]'
        };
         var R_url = '@Url.Action("Login", "Main")';
            var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';
             //$.ajax({
             //    type: 'Get',
             //    url: URL + 'api/UserSettings/GetEmployee',
             //    headers: {
             //        Authorization: 'Bearer ' + user1
             //    },
             //    dataType: 'json'
             //}).success(function (response) {
        $.ajax({
            type: "POST",
            data: myDatas,
             headers: {
                     Authorization: 'Bearer ' + user1
                 },
            url: URL + 'api/Values/User_settings_details',
            dataType: "json",
            success: function (response) {
                var s = '<option value="">Please Select</option>';
                for (var i = 0; i < response.data.Table.length; i++) {
                    s += '<option value="' + response.data.Table[i].Skill_ID + '">' + response.data.Table[i].SkillName + '</option>';
                }
                $(".Skill").html(s);
            }
        }).error(function (response) {
            if (response.status == "401") {
                swal({
                    icon: "warning",
                    title: "Session Timeout",
                    button: true,
                    closeModal: false
                })
                window.location = R_url;
            }
            else {
                swal({
                    icon: "warning",
                    title: response.responseText,
                    button: true,
                    closeModal: false
                })

            }
             });


                    var data3 = {
                        "Flag": "Get_Operator",
                        "CompanyCode": '@Session["CompanyCode"]',
                        "PlantCode": '@Session["PlantCode"]',
                        "LineCode":'@Session["LineCode"]',
                    };
                    var R_url = '@Url.Action("Login", "Main")';
                   var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';
                   //$.ajax({
                   //    type: 'Get',
                   //   url: URL + 'api/UserSettings/GetEmployee',
                   //    headers: {
                   //         Authorization: 'Bearer ' + user1
                   //      },
                   //  dataType: 'json'
                   // }).success(function (response) {
                  $.ajax({
                        type: "POST",
                      url: '/Main/GetSettingdatas1',
                        data: data3,
                        dataType: "json",
                        success: function (response) {
                            var s = '<option value="">Select Operator</option>';
                            for (var i = 0; i < response.data.length; i++) {
                                s += '<option value="' + response.data[i].Code + '">' + response.data[i].Name + '</option>';
                            }
                            $(".OperatorID").html(s);
                        },
                        error: function (response) {

                        }
                    }).error(function (response) {

                        if (response.status == "401") {
                            swal({
                                icon: "warning",
                                title: "Session Timeout",
                                button: true,
                                closeModal: false
                            })
                            window.location = R_url;
                        }
                        else {
                            swal({
                                icon: "warning",
                                title: response.responseText,
                                button: true,
                                closeModal: false
                            })

                        }

                    });


    });

</script>

<script type="text/javascript">
    $(function() {
        //alert(this.value);

        var URL = '@System.Configuration.ConfigurationManager.AppSettings["url"]';



         var myDatas = {
            "QueryType": "Skills",
            "Parameter1": '@Session["CompanyCode"]',
             "Parameter": '@Session["LineCode"]',
            "CompanyCode": '@Session["CompanyCode"]',
             "PlantCode": '@Session["PlantCode"]',
            "LineCode": '@Session["LineCode"]'
        };
         var R_url = '@Url.Action("Login", "Main")';
            var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';
             //$.ajax({
             //    type: 'Get',
             //    url: URL + 'api/UserSettings/GetEmployee',
             //    headers: {
             //        Authorization: 'Bearer ' + user1
             //    },
             //    dataType: 'json'
             //}).success(function (response) {
        $.ajax({
            type: "POST",
            data: myDatas,
             headers: {
                     Authorization: 'Bearer ' + user1
                 },
            url: URL + 'api/Values/User_settings_details',
            dataType: "json",
            success: function (response) {
                var s = '<option value="">Please Select</option>';
                for (var i = 0; i < response.data.Table.length; i++) {
                    s += '<option value="' + response.data.Table[i].Skill_ID + '">' + response.data.Table[i].SkillName + '</option>';
                }
                $(".Skill").html(s);
            }
        }).error(function (response) {
            if (response.status == "401") {
                swal({
                    icon: "warning",
                    title: "Session Timeout",
                    button: true,
                    closeModal: false
                })
                window.location = R_url;
            }
            else {
                swal({
                    icon: "warning",
                    title: response.responseText,
                    button: true,
                    closeModal: false
                })

            }
             });


                    var data3 = {
                        "Flag": "Get_Operator",
                        "CompanyCode": '@Session["CompanyCode"]',
                        "PlantCode": '@Session["PlantCode"]',
                        "LineCode":'@Session["LineCode"]',
                    };
                    var R_url = '@Url.Action("Login", "Main")';
                   var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';
                   //$.ajax({
                   //    type: 'Get',
                   //   url: URL + 'api/UserSettings/GetEmployee',
                   //    headers: {
                   //         Authorization: 'Bearer ' + user1
                   //      },
                   //  dataType: 'json'
                   // }).success(function (response) {
                  $.ajax({
                        type: "POST",
                      url: '/Main/GetSettingdatas1',
                        data: data3,
                        dataType: "json",
                        success: function (response) {
                            var s = '<option value="">Select Operator</option>';
                            for (var i = 0; i < response.data.length; i++) {
                                s += '<option value="' + response.data[i].Code + '">' + response.data[i].Name + '</option>';
                            }
                            $(".OperatorID").html(s);
                        },
                        error: function (response) {

                        }
                    }).error(function (response) {

                        if (response.status == "401") {
                            swal({
                                icon: "warning",
                                title: "Session Timeout",
                                button: true,
                                closeModal: false
                            })
                            window.location = R_url;
                        }
                        else {
                            swal({
                                icon: "warning",
                                title: response.responseText,
                                button: true,
                                closeModal: false
                            })

                        }

                    });


    });

</script>

