@model IEnumerable<PlanDigitization_web.Models.Rejectiondata>
@{ ViewBag.Title = "Rejection_data";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


<header class="page-header">
    <h2> Rejection Reasons </h2>
    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Action("MainDashboard","MainDashboard")">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Settings</span></li>
            <li><span>Rejection Reasons</span></li>
        </ol>
    </div>
</header>

<!-- Add New Alarm-->
<div class="row" id="divnew" style="display:none;">
    <div class="col-md-12">
        <form class="form" action="@Url.Action("Insert_Rejectiondata","UserSettings")" method="post">
            <section class="panel">
                <header class="panel-heading" style="background-color:teal;color:white;">
                    <div class="panel-actions">
                    </div>
                    <h2 class="panel-title" style="color:white;">Add New Rejection Data </h2>
                </header>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label"> Rejection Code <span class="required">*</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="RejectionCode" name="RejectionCode" class="form-control" title="Enter Code" placeholder="Rejection Code" required />
                        </div>
                        <label class="col-sm-2 control-label"> Rejection Name <span class="required">*</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="RejectionName" name="RejectionName" class="form-control" title="Enter Name" placeholder="Rejection Name" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"> Description <span class="required">*</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="RejectionDescription" name="RejectionDescription" class="form-control" title="Enter Description " placeholder="Description" required />
                        </div>
                        @*<label class="col-sm-2 control-label"> Line <span class="required">*</span></label>
                            <div class="col-sm-4">
                                <select id="linecode" class="form-control" name="Line_Code" title="*"></select>
                            </div>*@
                        @*<label class="col-sm-2 control-label"> Asset <span class="required">*</span></label>
                                <div class="col-sm-4">
                                    <select class="form-control AssetName" name="AssetName" id="AssetName" title="Select Asset" required>
                                        <option value="">Select Line First</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">

                                <label class="col-sm-2 control-label"> Product <span class="required">*</span></label>
                                <div class="col-sm-4">
                                    <select class="form-control ProductName" name="ProductName" id="ProductName" title="Select Product" required>
                                        <option value="">Select Line First</option>
                                    </select>
                                </div>*@


                        <label class="col-sm-2 control-label"> Asset <span class="required">*</span></label>
                        <div class="col-sm-4">

                            <select id="machinecode" class="form-control" name="machinecode" title="*">
                                <option value="">Select Line First</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"> Product <span class="required">*</span></label>
                        <div class="col-sm-4">

                            <select class="form-control" id="Variant">
                                <option value="">All</option>
                            </select>
                        </div>


                        <label class="col-sm-2 control-label"> Operation <span class="required">*</span></label>
                        <div class="col-sm-4">
                            <select class="form-control OperationName" name="OperationName" id="OperationName" title="Select Operation" required>
                                <option value="">Select Line First</option>
                            </select>
                        </div>





                    </div>

                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3" style="text-align:center;">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="reset" id="cancel" class="btn btn-danger cancel">Cancel</button>
                        </div>
                    </div>
                </footer>
            </section>
        </form>
    </div>
</div>

<!-- Operator Alarm Details-->
<div class="row" id="divdetails">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading" style="background-color:teal;color:white;">
                @if (ViewContext.Controller.HasPermission("RejectionDataSetting-Add"))
                {
    <div class="panel-actions">
        <button class="btn btn-primary" id="add"><i class="fa fa-plus" aria-hidden="true"> Add New</i></button>
    </div>}
                <h2 class="panel-title" style="color:white;">List of Rejection Data </h2>
            </header>
            <div class="panel-body">
                <div class="form-group">
                    <div class="panel-body">
                        @if (ViewContext.Controller.HasPermission("RejectionDataSetting-View"))
                        {
            <table class="table table-bordered table-striped mb-none" id="datatable-default">
                <thead style="background-color:teal;color:white;">
                    <tr>
                        <th class="centercls"> S.No </th>
                        <th style="display:none;"></th>
                        <th>Rejection Code</th>
                        <th>Rejection Name</th>
                        <th>Description </th>
                        <th>Product</th>
                        <th>Operation</th>
                        <th>Asset</th>
                        <th style="text-align:center;width:150px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{int RowNo = 0;}
                    @foreach (var item in Model)
                    {
    <tr class="gradeX">
        <td>
            @{RowNo++;}@RowNo
        </td>
        <td class="R_ID" style="display:none;">
            <span>@Html.Encode(item.R_ID)</span>
        </td>
        <td>
            <span>@Html.Encode(item.RejectionCode)</span>
        </td>
        <td>
            <span>@Html.Encode(item.RejectionName)</span>
        </td>
        <td>
            <span>@Html.Encode(item.RejectionDescription)</span>
        </td>
        <td>
            <span>@Html.Encode(item.PName)</span>
        </td>
        <td>
            <span>@Html.Encode(item.OName)</span>
        </td>
        <td>
            <span>@Html.Encode(item.AName)</span>
        </td>
        <td style="text-align:center;">
            @if (ViewContext.Controller.HasPermission("RejectionDataSetting-Edit"))
            {
<button class="btn btn-primary" style="margin-top: 10px" id="edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>}
            @if (ViewContext.Controller.HasPermission("RejectionDataSetting-Delete"))
            {
<button class="btn btn-danger" style="margin-top: 10px" id="delete"><i class="fa fa-trash-o" aria-hidden="true"></i></button>}
        </td>
    </tr>
}
                </tbody>
            </table> }
        else
        {
<h2>View permission is denied</h2>}
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<!--Edit Alarm Details-->
<div class="row" id="divedit" style="display:none;">
    <div class="col-md-12">
        <form class="form" action="@Url.Action("Update_Rejectiondata","UserSettings")" method="post">
            <section class="panel">
                <header class="panel-heading" style="background-color:teal;color:white;">
                    <div class="panel-actions">
                    </div>
                    <h2 class="panel-title" style="color:white;">Update Rejection Data</h2>
                </header>
                <div class="panel-body">
                    <input type="hidden" id="eR_ID" name="R_ID" />
                    <div class="form-group">
                        <label class="col-sm-2 control-label"> Rejection Code <span class="required">*</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="eRejectionCode" name="RejectionCode" class="form-control" title="Enter Code" placeholder="Rejection Code" required readonly />
                        </div>
                        <label class="col-sm-2 control-label"> Rejection Name <span class="required">*</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="eRejectionName" name="RejectionName" class="form-control" title="Enter Name" placeholder="Rejection Name" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"> Description <span class="required">*</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="eRejectionDescription" name="RejectionDescription" class="form-control" title="Enter Description " placeholder="Description" required />
                        </div>
                        @*<label class="col-sm-2 control-label"> Line <span class="required">*</span></label>
                            <div class="col-sm-4">
                                <select id="linecodeedit" class="form-control" name="Line_Code" title="*"></select>
                            </div>*@
                        <label class="col-sm-2 control-label"> Asset <span class="required">*</span></label>
                        <div class="col-sm-4">
                            <select class="form-control AssetName" name="AssetName" id="eAssetName" title="Select Asset" required></select>
                        </div>
                    </div>
                    <div class="form-group">


                        <label class="col-sm-2 control-label"> Product <span class="required">*</span></label>
                        <div class="col-sm-4">
                            <select class="form-control ProductName" name="ProductName" id="eProductName" title="Select Product" required></select>
                        </div>
                        <label class="col-sm-2 control-label"> Operation <span class="required">*</span></label>
                        <div class="col-sm-4">
                            <select class="form-control " name="OperationName" id="eOperationName" title="Select Operation" required></select>
                        </div>
                    </div>

                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3" style="text-align:center;">
                            <button type="submit" class="btn btn-primary">Update</button>
                            <button type="reset" id="cancel" class="btn btn-danger cancel">Cancel</button>
                        </div>
                    </div>
                </footer>
            </section>
        </form>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/assets1/javascripts/swal.js"></script>
<script src="~/assets1/javascripts/swal_alert.js"></script>
@if (@TempData["message"] != null)
{
<script type="text/javascript">
    $(function () {
        var msg = '@TempData["message"]';
        if (msg == "Inserted") {
            swal({
                icon: "success",
                title: "Details Added Successfully...!",
                button: true,
                timer: 4500
            })
        }
        else if (msg == "Updated") {
            swal({
                icon: "success",
                title: "Details Updated Successfully...!",
                button: true,
                timer: 4500
            })
        }
        else if (msg == "Already") {
            swal({
                icon: "error",
                title: "Details Already Added",
                button: true,
                timer: 4500
            })
        }
        else {
            swal({
                icon: "error",
                title: "Failed to Add",
                button: true,
                timer: 4500
            })
        }
    });
</script>
}
<script type="text/javascript">
    $("#add").click(function () {
        $("#divnew").show();
        $("#divdetails").hide();
        $("#divedit").hide();
    });

    $(".cancel").click(function () {
        $("#divnew").hide();
        $("#divdetails").show();
        $("#divedit").hide();
    });
</script>



<script type="text/javascript">
    $(function () {
        var CompanyCode = '@Session["CompanyCode"]';
        var PlantCode = '@Session["PlantCode"]';
        var LineCode = '@Session["LineCode"]';
        if (CompanyCode == "" && PlantCode == "" && LineCode == "") {
            swal({
                icon: "error",
                title: "Please Select Customer, Plant and Line...!",
                button: true,
                timer: 4500
            })
            return;
        }
        else
            if (CompanyCode == "")
            {
                swal({
                    icon: "error",
                    title: "Please Select Customer...!",
                    button: true,
                    timer: 4500
                })
                return;
            }
            else
                if (PlantCode == "")
                {
                    swal({
                        icon: "error",
                        title: "Please Select Plant...!",
                        button: true,
                        timer: 4500
                    })
                    return;
                }
        if (LineCode == "") {
            swal({
                icon: "error",
                title: "Please Select Line...!",
                button: true,
                timer: 4500
            })
            return;
        }
        else
        {
            var URL = '@System.Configuration.ConfigurationManager.AppSettings["url"]';

            var myData1 = {
                "Flag": "Subsystem",
                "CompanyCode": '@Session["CompanyCode"]',
                "PlantCode": '@Session["PlantCode"]',
                "LineCode": '@Session["LineCode"]',
            };
            var R_url = '@Url.Action("Login", "Main")';
            var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';

            $.ajax({
                type: "POST",
                url: '/Main/GetSettingdatas1',
                data: myData1,
                dataType: "json",
                success: function (response) {
                    var s = '<option value="">Select Machine</option>';
                    for (var i = 0; i < response.data.length; i++) {
                        console.log(response.data.length);
                        if (response.data.length == 1) {
                            s += '<option value="' + response.data[i].Code + '" selected=selected>' + response.data[i].Name + '</option>';
                        }
                        else {
                            s += '<option value="' + response.data[i].Code + '">' + response.data[i].Code + "-" + response.data[i].Name + '</option>';
                        }
                    }
                    $("#machinecode").html(s);
                },
                error: function (response) {
                    if (response.status == "401") {
                        swal({
                            icon: "warning",
                            title: "Session Timeout",
                            button: true,
                            closeModal: false
                        })
                        window.location = R_url;
                    }
                    else {
                        swal({
                            icon: "warning",
                            title: response.responseText,
                            button: true,
                            closeModal: false
                        })

                    }
                }
            });
        }


        $("#machinecode").click(function () {
            console.log("event clicked");
            var Machine = $('#machinecode').val();
            var data = {
                "QueryType": "Get_MachineName",
                "Parameter": '@Session["PlantCode"]',
                "Parameter1": '@Session["CompanyCode"]',
                "Parameter2": Machine
            };

            var data1 = {
                "QueryType": "Get_Variants",
                "Parameter": Machine,
                "Parameter1": '@Session["CompanyCode"]',
                "Parameter2": '@Session["PlantCode"]',
                "Parameter4": '@Session["LineCode"]',
                "CompanyCode": '@Session["CompanyCode"]',
                "PlantCode": '@Session["PlantCode"]',
                "LineCode": '@Session["LineCode"]'
            };

            $.ajax({
                type: "POST",
                data: data1,
                headers: {
                    Authorization: 'Bearer ' + user1
                },
                url: URL + "api/Values/User_settings_details",
                dataType: "json",

                success: function (response) {
                    var s = '<option value="All">All</option>';
                    for (var i = 0; i < response.data.Table.length; i++) {
                        s += '<option value="' + response.data.Table[i].Variant_Code + '">' + response.data.Table[i].VariantName + '</option>';
                    }
                    $("#Variant").html(s);
                }
            })

        });
    });

    //setTimeout(() => {
    //    var selected = document.querySelectorAll('#machinecode option')[1].getAttribute('selected');
    //    if (selected === 'selected') document.querySelectorAll('#machinecode')[0].click();
    //},2000);


    //document.getElementById("resetcustom").addEventListener("click", function () {
    //    $('#start').val('');
    //    $('#end').val('');
    //    d3.select("#container svg").remove();
    //})
    //document.getElementById("resetyear").addEventListener("click", function () {
    //    $('#year').val('');
    //    d3.select(".year_report svg").remove();
    //})
    //document.getElementById("resetmonth").addEventListener("click", function () {
    //    $('#month').val('');
    //    d3.select(".monthly_week svg").remove();
    //    d3.select(".month_daily svg").remove();
    //    d3.select(".month_shift svg").remove();
    //})




</script>


<script type="text/javascript">
    @*$(function () {

        var URL = '@System.Configuration.ConfigurationManager.AppSettings["url"]';


                    var myData = {
                        "Flag": "LineCode",
                        "CompanyCode": '@Session["CompanyCode"]',
                        "PlantCode": '@Session["PlantCode"]',
                    };
                     var R_url = '@Url.Action("Login", "Main")';
                        var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';
                    //$.ajax({
                    //     type: 'Get',
                    //        url: URL + 'api/UserSettings/GetEmployee',
                    //         headers: {
                    //         Authorization: 'Bearer ' + user1
                    //        },
                    //     dataType: 'json'
                    //}).success(function (response) {
                    $.ajax({
                        type: "POST",
                        url: '/Main/GetSettingdatas1',
                        data: myData,

                        dataType: "json",
                        success: function (response) {
                            var s = '<option value="">Select Line</option>';
                            for (var i = 0; i < response.data.length; i++) {
                                s += '<option value="' + response.data[i].Code + '">' + response.data[i].Name + '</option>';
                            }
                            $("#linecode").html(s);
                        },
                        error: function (response) {

                        }
                    }).error(function (response) {
                        if (response.status == "401") {
                            swal({
                                icon: "warning",
                                title: "Session Timeout",
                                button: true,
                                closeModal: false
                            })
                            window.location = R_url;
                        }
                        else {
                            swal({
                                icon: "warning",
                                title: response.responseText,
                                button: true,
                                closeModal: false
                            })

                        }
                    });

    });*@
</script>



<script type="text/javascript">
    var URL = '@System.Configuration.ConfigurationManager.AppSettings["url"]';
    $("body").on("click", "#edit", function () {
        var row = $(this).closest("tr");
        var R_ID = row.find(".R_ID span").html();

        var myData = {
            "QueryType": "Edit_Rejection",
            "Parameter": R_ID,
            "CompanyCode": '@Session["CompanyCode"]',
            "PlantCode": '@Session["PlantCode"]',
             "LineCode": '@Session["LineCode"]'
        };

        $("#divedit").show();
        $("#divnew").hide();
        $("#divdetails").hide();





         var R_url = '@Url.Action("Login", "Main")';
            var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';
             //$.ajax({
             //    type: 'Get',
             //    url: URL + 'api/UserSettings/GetEmployee',
             //    headers: {
             //        Authorization: 'Bearer ' + user1
             //    },
             //    dataType: 'json'
             //}).success(function (response) {
        $.ajax({
            type: "POST",
            url: URL + 'api/Values/User_settings_details',
            data: myData,
             headers: {
                     Authorization: 'Bearer ' + user1
                 },
            dataType: "json",
            beforeSend: function () {
                $('.loading').show();
            },
            complete: function () {
                $('.loading').hide();
            },
            success: function (response) {
                $('#eR_ID').val(response.data.Table[0].R_ID);
                $('#eRejectionCode').val(response.data.Table[0].RejectionCode);
                $('#eRejectionName').val(response.data.Table[0].RejectionName);
                $('#eRejectionDescription').val(response.data.Table[0].RejectionDescription);

                var linecode = '@Session["LineCode"]';


        @*var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';

                  var myData12 = {
                        "Flag": "LineCode",
                        "CompanyCode": '@Session["CompanyCode"]',
                        "PlantCode": '@Session["PlantCode"]',
                   };

                //$.ajax({
                //    type: 'Get',
                //    url: URL + 'api/UserSettings/GetEmployee',
                //    headers: {
                //        Authorization: 'Bearer ' + user1
                //    },
                //    dataType: 'json'
                //}).success(function (response3) {
                    $.ajax({
                        type: "POST",
                        url: '/Main/GetSettingdatas1',
                        data: myData12,

                        dataType: "json",
                        success: function (response22) {
                            //alert(response.data.Table[0].Line_code)
                            var s = '<option value="">Please Select</option>';

                            for (var i = 0; i < response22.data.length; i++) {

                                if (response22.data[i].Code == response.data.Table[0].Line_code) {

                                    s += '<option value="' + response22.data[i].Code + '" selected=selected>' + response22.data[i].Name + '</option>';
                                }
                                else {
                                    s += '<option value="' + response22.data[i].Code + '">' + response22.data[i].Name + '</option>';
                                }
                            }
                            $("#linecodeedit").html(s);
                        },
                        error: function (response22) {

                        }
                    }).error(function (response22) {
                        if (response.status == "401") {
                            swal({
                                icon: "warning",
                                title: "Session Timeout",
                                button: true,
                                closeModal: false
                            })
                            window.location = R_url;
                        }
                        else {
                            swal({
                                icon: "warning",
                                title: response.responseText,
                                button: true,
                                closeModal: false
                            })

                        }
                });*@





                var myDatas = {
                    "QueryType": "Products",
                    "Parameter1": '@Session["CompanyCode"]',
                    "Parameter": linecode,
                    "CompanyCode": '@Session["CompanyCode"]',
                     "PlantCode": '@Session["PlantCode"]',
                      "LineCode": '@Session["LineCode"]'
                };

                 var R_url = '@Url.Action("Login", "Main")';
                var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';

             //$.ajax({
             //    type: 'Get',
             //    url: URL + 'api/UserSettings/GetEmployee',
             //    headers: {
             //        Authorization: 'Bearer ' + user1
             //    },
             //    dataType: 'json'
             //}).success(function (response) {
                $.ajax({
                    type: "POST",
                    data: myDatas,
                     headers: {
                     Authorization: 'Bearer ' + user1
                 },
                    url: URL + 'api/Values/User_settings_details',
                    dataType: "json",
                    success: function (response1) {
                        var s = '<option value="" disabled>Please Select</option>';
                        for (var i = 0; i < response1.data.Table.length; i++) {
                            if (response1.data.Table[i].Variant_Code == response.data.Table[0].VariantName) {
                                s += '<option value="' + response1.data.Table[i].Variant_Code + '" selected=selected>' + response1.data.Table[i].VariantName + '</option>';
                            }
                            else {
                                s += '<option value="' + response1.data.Table[i].Variant_Code + '">' + response1.data.Table[i].VariantName + '</option>';
                            }
                        }
                        $("#eProductName").html(s);
                    }
                }).error(function (response) {
                    if (response.status == "401") {
                        swal({
                            icon: "warning",
                            title: "Session Timeout",
                            button: true,
                            closeModal: false
                        })
                        window.location = R_url;
                    }
                    else {
                        swal({
                            icon: "warning",
                            title: response.responseText,
                            button: true,
                            closeModal: false
                        })

                    }
                });


                      var myDatas = {
                    "QueryType": "Company_Operations",
                    "Parameter1": '@Session["CompanyCode"]',
                    "Parameter": '@Session["PlantCode"]',
                    "Parameter2": linecode,
                    "CompanyCode": '@Session["CompanyCode"]',
                            "PlantCode": '@Session["PlantCode"]',
                            "LineCode": '@Session["LineCode"]'
                };

                 var R_url = '@Url.Action("Login", "Main")';
                var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';

             //$.ajax({
             //    type: 'Get',
             //    url: URL + 'api/UserSettings/GetEmployee',
             //    headers: {
             //        Authorization: 'Bearer ' + user1
             //    },
             //    dataType: 'json'
             //}).success(function (response) {
                $.ajax({
                    type: "POST",
                    data: myDatas,
                     headers: {
                     Authorization: 'Bearer ' + user1
                 },
                    url: URL + 'api/Values/User_settings_details',
                    dataType: "json",
                    success: function (response2) {
                        var s = '<option value="" disabled>Please Select</option>';
                        for (var i = 0; i < response2.data.Table.length; i++) {
                            if (response2.data.Table[i].OperationID == response.data.Table[0].OperationName) {
                                s += '<option value="' + response2.data.Table[i].OperationID + '" selected=selected>' + response2.data.Table[i].OperationName + '</option>';
                            }
                            else {
                                s += '<option value="' + response2.data.Table[i].OperationID + '">' + response2.data.Table[i].OperationName + '</option>';
                            }
                        }
                        $("#eOperationName").html(s);
                    }
                }).error(function (response) {
                    if (response.status == "401") {
                        swal({
                            icon: "warning",
                            title: "Session Timeout",
                            button: true,
                            closeModal: false
                        })
                        window.location = R_url;
                    }
                    else {
                        swal({
                            icon: "warning",
                            title: response.responseText,
                            button: true,
                            closeModal: false
                        })

                    }
                });





                var myDatas = {
                    "QueryType": "Company_Operations",
                    "Parameter1": '@Session["CompanyCode"]',
                    "Parameter": '@Session["PlantCode"]',
                    "Parameter2": linecode,
                    "CompanyCode": '@Session["CompanyCode"]',
                            "PlantCode": '@Session["PlantCode"]',
                            "LineCode": '@Session["LineCode"]'
                };

                 var R_url = '@Url.Action("Login", "Main")';
                var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';

             //$.ajax({
             //    type: 'Get',
             //    url: URL + 'api/UserSettings/GetEmployee',
             //    headers: {
             //        Authorization: 'Bearer ' + user1
             //    },
             //    dataType: 'json'
             //}).success(function (response) {
                $.ajax({
                    type: "POST",
                    data: myDatas,
                     headers: {
                     Authorization: 'Bearer ' + user1
                 },
                    url: URL + 'api/Values/User_settings_details',
                    dataType: "json",
                    success: function (response2) {
                        var s = '<option value="" disabled>Please Select</option>';
                        for (var i = 0; i < response2.data.Table.length; i++) {
                            if (response2.data.Table[i].OperationID == response.data.Table[0].OperationName) {
                                s += '<option value="' + response2.data.Table[i].OperationID + '" selected=selected>' + response2.data.Table[i].OperationName + '</option>';
                            }
                            else {
                                s += '<option value="' + response2.data.Table[i].OperationID + '">' + response2.data.Table[i].OperationName + '</option>';
                            }
                        }
                        $("#eOperationName").html(s);
                    }
                }).error(function (response) {
                    if (response.status == "401") {
                        swal({
                            icon: "warning",
                            title: "Session Timeout",
                            button: true,
                            closeModal: false
                        })
                        window.location = R_url;
                    }
                    else {
                        swal({
                            icon: "warning",
                            title: response.responseText,
                            button: true,
                            closeModal: false
                        })

                    }
                });


                var data = {
                    "QueryType": "Assets",
                    "Parameter1": '@Session["CompanyCode"]',
                    "Parameter": '@Session["PlantCode"]',
                    "Parameter2": linecode,
                    "CompanyCode": '@Session["CompanyCode"]',
                            "PlantCode": '@Session["PlantCode"]',
                            "LineCode": '@Session["LineCode"]'
                };

                 var R_url = '@Url.Action("Login", "Main")';
                var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';

             //$.ajax({
             //    type: 'Get',
             //    url: URL + 'api/UserSettings/GetEmployee',
             //    headers: {
             //        Authorization: 'Bearer ' + user1
             //    },
             //    dataType: 'json'
             //}).success(function (response) {
                $.ajax({
                    type: "POST",
                    data: data,
                     headers: {
                     Authorization: 'Bearer ' + user1
                 },
                    url: URL + 'api/Values/User_settings_details',
                    dataType: "json",
                    success: function (response3) {
                        var s = '<option value="" disabled>Please Select</option>';
                        for (var i = 0; i < response3.data.Table.length; i++) {
                            if (response3.data.Table[i].AssetID == response.data.Table[0].AssetName) {
                                s += '<option value="' + response3.data.Table[i].AssetID + '" selected=selected>' + response3.data.Table[i].AssetName + '</option>';
                            }
                            else {
                                s += '<option value="' + response3.data.Table[i].AssetID + '">' + response3.data.Table[i].AssetName + '</option>';
                            }
                        }
                        $("#eAssetName").html(s);
                    }
                }).error(function (response) {
                    if (response.status == "401") {
                        swal({
                            icon: "warning",
                            title: "Session Timeout",
                            button: true,
                            closeModal: false
                        })
                        window.location = R_url;
                    }
                    else {
                        swal({
                            icon: "warning",
                            title: response.responseText,
                            button: true,
                            closeModal: false
                        })

                    }
             });


            }
            , error: function (response) {
                if (response.status == "401") {
                    swal({
                        icon: "warning",
                        title: "Session Timeout",
                        button: true,
                        closeModal: false
                    })
                    window.location = R_url;
                }
                else {
                    swal({
                        icon: "warning",
                        title: response.responseText,
                        button: true,
                        closeModal: false
                    })

                }
            }
        });
             //}).error(function (response) {
             //    swal({
             //        icon: "warning",
             //        title: "Session Timeout",
             //        button: true,
             //        closeModal: false
             //    })
             //    window.location = R_url;
             //});
    });

    $("body").on("click", "#delete", function () {
        if (confirm("Do you want to Delete this...?")) {
            var row = $(this).closest("tr");
            var R_ID = row.find(".R_ID span").html();

            var myData = {
                "QueryType": "Delete_rejection",
                "Parameter": R_ID,
                "CompanyCode": '@Session["CompanyCode"]',
                         "PlantCode": '@Session["PlantCode"]',
                         "LineCode": '@Session["LineCode"]'
            };

             var R_url = '@Url.Action("Login", "Main")';
            var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';

             //$.ajax({
             //    type: 'Get',
             //    url: URL + 'api/UserSettings/GetEmployee',
             //    headers: {
             //        Authorization: 'Bearer ' + user1
             //    },
             //    dataType: 'json'
             //}).success(function (response) {
            $.ajax({
                type: "POST",
                url: URL + 'api/Values/delete_User_settings_details',
                data: myData,
                  headers: {
                     Authorization: 'Bearer ' + user1
                 },
                dataType: "json",
                beforeSend: function () {
                    $('.loading').show();
                },
                complete: function () {
                    $('.loading').hide();
                },
                success: function (response) {

                    swal({
                        icon: "success",
                        title: "Details Deleted Successfully...!",
                        button: true,
                        timer: 4500
                    })
                   window.location = '@Url.Action("Rejection_data", "UserSettings")';
                }
            }).error(function (response) {
                if (response.status == "401") {
                    swal({
                        icon: "warning",
                        title: "Session Timeout",
                        button: true,
                        closeModal: false
                    })
                    window.location = R_url;
                }
                else {
                    swal({
                        icon: "warning",
                        title: response.responseText,
                        button: true,
                        closeModal: false
                    })

                }
             });
        }
    });
</script>
<script>
    $(document).ready(function () {
        $('.updated_time').text("N/A");
        $('.shift').text("N/A");

        if ($.fn.DataTable.isDataTable('#datatable-default')) {
            $('#datatable-default').DataTable().destroy();
        }


        $('#datatable-default').DataTable({

            "responsive": true,
            "autoWidth": false,
            scrollY: true,
            scrollX: true,
            scroller: true
        });

    });
</script>

<script type="text/javascript">
    $(function() {
        //alert(this.value);
                    var data1 = {
                        "Flag": "Subsystem",
                        "CompanyCode": '@Session["CompanyCode"]',
                        "PlantCode": '@Session["PlantCode"]',
                        "LineCode":'@Session["LineCode"]',
                    };
                    var R_url = '@Url.Action("Login", "Main")';
                   var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';
                   //$.ajax({
                   //    type: 'Get',
                   //   url: URL + 'api/UserSettings/GetEmployee',
                   //    headers: {
                   //         Authorization: 'Bearer ' + user1
                   //      },
                   //  dataType: 'json'
                   // }).success(function (response) {
                   $.ajax({
                        type: "POST",
                       url: '/Main/GetSettingdatas1',

                        data: data1,
                        dataType: "json",
                        success: function (response) {
                            var s = '<option value="">Select Machine</option>';
                            for (var i = 0; i < response.data.length; i++) {
                                s += '<option value="' + response.data[i].Code + '">' + response.data[i].Name + '</option>';


                            }
                            $(".AssetName").html(s);
                        },
                        error: function (response) {

                        }
                    }).error(function (response) {

                        if (response.status == "401") {
                            swal({
                                icon: "warning",
                                title: "Session Timeout",
                                button: true,
                                closeModal: false
                            })
                            window.location = R_url;
                        }
                        else {
                            swal({
                                icon: "warning",
                                title: response.responseText,
                                button: true,
                                closeModal: false
                            })

                        }

                    });




             var data2 = {
                        "Flag": "Variant",
                        "CompanyCode": '@Session["CompanyCode"]',
                        "PlantCode": '@Session["PlantCode"]',
                        "LineCode":'@Session["LineCode"]',
                    };
                    var R_url = '@Url.Action("Login", "Main")';
                   var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';
                   //$.ajax({
                   //    type: 'Get',
                   //   url: URL + 'api/UserSettings/GetEmployee',
                   //    headers: {
                   //         Authorization: 'Bearer ' + user1
                   //      },
                   //  dataType: 'json'
                   // }).success(function (response) {
                   $.ajax({
                        type: "POST",
                       url: '/Main/GetSettingdatas1',
                        data: data2,
                        dataType: "json",
                        success: function (response) {
                            var s = '<option value="">Select Variant</option>';
                            for (var i = 0; i < response.data.length; i++) {
                                s += '<option value="' + response.data[i].Code + '">' + response.data[i].Name + '</option>';

                            }
                            $(".ProductName").html(s);
                        },
                        error: function (response) {

                        }
                    }).error(function (response) {

                        if (response.status == "401") {
                            swal({
                                icon: "warning",
                                title: "Session Timeout",
                                button: true,
                                closeModal: false
                            })
                            window.location = R_url;
                        }
                        else {
                            swal({
                                icon: "warning",
                                title: response.responseText,
                                button: true,
                                closeModal: false
                            })

                        }

                    });




                    @*var data3 = {
                        "Flag": "Get_Operator",
                        "CompanyCode": '@Session["CompanyCode"]',
                        "PlantCode": '@Session["PlantCode"]',
                        "LineCode":'@Session["LineCode"]',
                    };



                    var R_url = '@Url.Action("Login", "Main")';
                   var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';

                  $.ajax({
                        type: "POST",
                         url: '/Main/GetSettingdatas1',
                        data: data3,
                        dataType: "json",
                        success: function (response) {
                            var s = '<option value="">Select Operation</option>';
                            for (var i = 0; i < response.data.length; i++) {
                                s += '<option value="' + response.data[i].Code + '">' + response.data[i].Name + '</option>';
                            }
                            $(".OperationName").html(s);
                      }



                    }).error(function (response) {

                        if (response.status == "401") {
                            swal({
                                icon: "warning",
                                title: "Session Timeout",
                                button: true,
                                closeModal: false
                            })
                            window.location = R_url;
                        }
                        else {
                            swal({
                                icon: "warning",
                                title: response.responseText,
                                button: true,
                                closeModal: false
                            })

                        }

                    });*@


        /* });*/


              var data3 = {
            "Flag": "Operations",
            "CompanyCode": '@Session["CompanyCode"]',
            "PlantCode": '@Session["PlantCode"]',
            "LineCode": '@Session["LineCode"]',
        };
        var R_url = '@Url.Action("Login", "Main")';
        var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';
        var Gd_url = '@Url.Action("GetSettingdatas1", "Main")';
        //$.ajax({
        //    type: 'Get',
        //   url: URL + 'api/UserSettings/GetEmployee',
        //    headers: {
        //         Authorization: 'Bearer ' + user1
        //      },
        //  dataType: 'json'
        // }).success(function (response) {
        $.ajax({
            type: "POST",
            url: Gd_url,
            data: data3,
            dataType: "json",
            success: function (response) {
                var s = '<option value="">Select Operation</option>';
                for (var i = 0; i < response.data.length; i++) {
                    s += '<option value="' + response.data[i].Code + '">' + response.data[i].Name + '</option>';
                }
                $(".OperationName").html(s);
            },
            error: function (response) {

            }
        }).error(function (response) {

            if (response.status == "401") {
                swal({
                    icon: "warning",
                    title: "Session Timeout",
                    button: true,
                    closeModal: false
                })
                window.location = R_url;
            }
            else {
                swal({
                    icon: "warning",
                    title: response.responseText,
                    button: true,
                    closeModal: false
                })

            }

        });


    });





</script>

<script type="text/javascript">
    $(function() {
        //alert(this.value);
                    var data1 = {
                        "Flag": "Subsystem",
                        "CompanyCode": '@Session["CompanyCode"]',
                        "PlantCode": '@Session["PlantCode"]',
                        "LineCode":'@Session["LineCode"]',
                    };
                    var R_url = '@Url.Action("Login", "Main")';
                   var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';
                   //$.ajax({
                   //    type: 'Get',
                   //   url: URL + 'api/UserSettings/GetEmployee',
                   //    headers: {
                   //         Authorization: 'Bearer ' + user1
                   //      },
                   //  dataType: 'json'
                   // }).success(function (response) {
                   $.ajax({
                        type: "POST",
                       url: '/Main/GetSettingdatas1',
                        data: data1,
                        dataType: "json",
                        success: function (response) {
                            var s = '<option value="">Select Machine</option>';
                            for (var i = 0; i < response.data.length; i++) {
                                s += '<option value="' + response.data[i].Code + '">' + response.data[i].Name + '</option>';
                            }
                            $("#eAssetName").html(s);
                        },
                        error: function (response) {

                        }
                    }).error(function (response) {

                        if (response.status == "401") {
                            swal({
                                icon: "warning",
                                title: "Session Timeout",
                                button: true,
                                closeModal: false
                            })
                            window.location = R_url;
                        }
                        else {
                            swal({
                                icon: "warning",
                                title: response.responseText,
                                button: true,
                                closeModal: false
                            })

                        }

                    });


                    var data2 = {
                        "Flag": "Variant",
                        "CompanyCode": '@Session["CompanyCode"]',
                        "PlantCode": '@Session["PlantCode"]',
                        "LineCode":'@Session["LineCode"]',
                    };
                    var R_url = '@Url.Action("Login", "Main")';
                   var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';
                   //$.ajax({
                   //    type: 'Get',
                   //   url: URL + 'api/UserSettings/GetEmployee',
                   //    headers: {
                   //         Authorization: 'Bearer ' + user1
                   //      },
                   //  dataType: 'json'
                   // }).success(function (response) {
                   $.ajax({
                        type: "POST",
                       url: '/Main/GetSettingdatas1',
                        data: data2,
                        dataType: "json",
                        success: function (response) {
                            var s = '<option value="">Select Variant</option>';
                            for (var i = 0; i < response.data.length; i++) {
                                s += '<option value="' + response.data[i].Code + '">' + response.data[i].Name + '</option>';
                            }
                            $("#eProductName").html(s);
                        },
                        error: function (response) {

                        }
                    }).error(function (response) {

                        if (response.status == "401") {
                            swal({
                                icon: "warning",
                                title: "Session Timeout",
                                button: true,
                                closeModal: false
                            })
                            window.location = R_url;
                        }
                        else {
                            swal({
                                icon: "warning",
                                title: response.responseText,
                                button: true,
                                closeModal: false
                            })

                        }

                    });



                    var data3 = {
                        "Flag": "Get_Operator",
                        "CompanyCode": '@Session["CompanyCode"]',
                        "PlantCode": '@Session["PlantCode"]',
                        "LineCode":'@Session["LineCode"]',
                    };
                    var R_url = '@Url.Action("Login", "Main")';
                   var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';
                   //$.ajax({
                   //    type: 'Get',
                   //   url: URL + 'api/UserSettings/GetEmployee',
                   //    headers: {
                   //         Authorization: 'Bearer ' + user1
                   //      },
                   //  dataType: 'json'
                   // }).success(function (response) {
                  $.ajax({
                        type: "POST",
                      url: '/Main/GetSettingdatas1',
                        data: data3,
                        dataType: "json",
                        success: function (response) {
                            var s = '<option value="">Select Operation</option>';
                            for (var i = 0; i < response.data.length; i++) {
                                s += '<option value="' + response.data[i].Code + '">' + response.data[i].Name + '</option>';
                            }
                            $("#eOperationName").html(s);
                        },
                        error: function (response) {

                        }
                    }).error(function (response) {

                        if (response.status == "401") {
                            swal({
                                icon: "warning",
                                title: "Session Timeout",
                                button: true,
                                closeModal: false
                            })
                            window.location = R_url;
                        }
                        else {
                            swal({
                                icon: "warning",
                                title: response.responseText,
                                button: true,
                                closeModal: false
                            })

                        }
                    });


    });








    //$("#AssetName").change(function () {
    //    var AssetName = $('#AssetName').val();

    //    if (AssetName == "2") {
    //        var s = '<option value="1">Select Variant</option>';
    //        s += '<option value="1">M2-412</option>';
    //        s += '<option value="2">M2-422</option>';
    //        s += '<option value="3">M2-308</option>';
    //        $("#ProductName").html(s);
    //    }
    //    else {
    //        var s = '<option value="0">Select Variant</option>';
    //        s += '<option value="1">Variant 1</option>';
    //        s += '<option value="2">Variant 2</option>';
    //        s += '<option value="3">Variant 3</option>';
    //        s += '<option value="4">varient test</option>';

    //        $("#ProductName").html(s);
    //    }
    /* });*/




</script>
