
@{ ViewBag.Title = "Paretoanalysis";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<style>
    svg {
        font: 10px sans-serif;
        height: 900 !important;
    }

    .bar rect {
        fill: steelblue;
        shape-rendering: crispEdges;
    }

    .axis path, .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .line {
        fill: none;
        stroke: purple;
        stroke-width: 1.5px;
    }

    .btn-group.select-btn {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        right: 16px;
        position: absolute;
    }

        .btn-group.select-btn select {
            height: unset;
            padding: 5px;
        }

        .btn-group.select-btn label {
            margin: 0 8px 0 0;
            font-family: verdana;
            color: #47640a;
        }
</style>
<link rel="stylesheet" type="text/css" href="~/assets1/datepicker_normal/jquery-ui-1.8.19.custom.css">
<header class="page-header">
    <h2>Shiftwise OEE summary</h2>
    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Action("MainDashboard","MainDashboard")">
                    <i class="fa fa-home"></i>
                </a>
            </li>

        </ol>
    </div>
</header>
@if (ViewContext.Controller.HasPermission("Shiftwise_OEE_Summary-View"))
{
<div class="row">
    <div class="btn-group"></div>



    <div class="btn-group" style="padding-right: 15px;">
        <label class="control-label" style="float:right; font-weight:bold;">Select Machine<span class="required">*</span></label>
    </div>
    <div class="btn-group">
        <select id="machinecode" class="form-control" name="machinecode" @*title="*"*@>
            <option value="">Select Line First</option>
        </select>
    </div>


</div>

    <div class="row">
        <div class="col-md-12">
            <div class="tabs tabs-danger">
                <ul class="nav nav-tabs">
                    <li class="active" id="custom_report">
                        <a href="#custom" data-toggle="tab">Custom</a>
                    </li>
                    <li id="yearly_report">
                        <a href="#yearly" data-toggle="tab"> Yearly</a>
                    </li>
                    <li id="monthly_report">
                        <a href="#monthly" data-toggle="tab">Monthly</a>
                    </li>
                </ul>
                <div class="tab-content">

                    <div id="custom" class="tab-pane active">
                        <section class="panel">
                            <div class="form-group">
                                <label class="col-md-1 control-label" style="padding-top: 7px;">Date range</label>
                                <div class="col-md-6" style="padding-top: 5px;">
                                    <div class="input-daterange input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                        <input type="text" class="form-control datepic" style="text-align:left;z-index:0;" id="start" name="start" readonly>
                                        <span class="input-group-addon">to</span>
                                        <input type="text" class="form-control datepic" style="text-align:left;z-index:0;" id="end" name="end" readonly>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="btn-group">
                                        <button type="button" id="searchcustomwise" class="mb-xs mt-xs mr-xs btn btn-primary">View</button>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" id="resetcustom" class="mb-xs mt-xs mr-xs btn btn-danger">Reset</button>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body ">

                                <div class='custome_report ' style="height: 500px; width: 100%; background-color: rgb(91 165 241 / 10%);">

                                </div>
                            </div>
                        </section>
                    </div>

                    <div id="yearly" class="tab-pane">
                        <section class="panel">
                            <div class="form-group">
                                @*<div class="col-md-2"></div>*@
                                <label class="col-md-2 control-labe" style="padding-top: 8px;">Select Year</label>
                                <div class="col-md-4" style="right: 92px;">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                        <input class="date-own form-control" style="width: 150px;z-index:0;" type="text" id="year" readonly>
                                    </div>
                                </div>
                                <div class="col-md-4" style="left: 100px;">
                                    <div class="btn-group">
                                        <button type="button" id="searchyearwise" class="mb-xs mt-xs mr-xs btn btn-primary">View</button>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" id="resetyear" class="mb-xs mt-xs mr-xs btn btn-danger">Reset</button>
                                    </div>
                                </div>
                            </div>
                          
                            <div class="panel-body">
                                <div class="row">
                                    @*<div class="chart chart-md" id="custom1"></div>*@

                                    <div class='year_report' style="height: 500px; width: 100%; background-color: rgb(91 165 241 / 10%);">

                                    </div>
                                </div>
                            </div>

                        </section>
                    </div>

                    <div id="monthly" class="tab-pane">
                        <section class="panel">
                            <div class="form-group">
                                @*<div class="col-md-2"></div>*@
                                <label class="col-md-2 control-label" style="right: 3px; top: 5px;">Select Month</label>
                                <div class="col-md-4" style="right: 93px;">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                        <input class="month-own form-control" style="width: 150px;z-index:0;" type="text" id="month" readonly>
                                    </div>
                                </div>
                                <div class="col-md-4" style="left: 98px;">
                                    <div class="btn-group">
                                        <button type="button" id="searchmonthwise" class="mb-xs mt-xs mr-xs btn btn-primary">View</button>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" id="resetmonth" class="mb-xs mt-xs mr-xs btn btn-danger">Reset</button>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="panel-body">
                                <div class='year_report' style="height: 500px; width: 100%; background-color: rgb(91 165 241 / 10%);">

                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div> }
else
{
    <div class="row">
        <h2 class="panel-title">View Permission is denied</h2>
    </div>}
<!-- end: page -->
<script src="~/assets1/javascripts/swal.js"></script>
<script src="~/assets1/javascripts/swal_alert.js"></script>
<script src="~/assets1/datepicker_normal/datepicker_normal_jquery.min.js"></script>
<script src="~/assets1/datepicker_normal/jquery-ui-1.8.19.custom.min.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script src="~/Scripts/d3_v3.min.js"></script>
<script type="text/javascript">
    //$(".datepic").datepicker({
    //    format: "yyyy-mm-dd",
    //    orientation: "bottom",
    //    endDate: '+0d'
    //});

    $('.month-own').datepicker({
        format: "yyyy-mm",
        viewMode: "months",
        endDate: '+0m',
        minViewMode: "months",
        orientation: "bottom"
    });
    $('.date-own').datepicker({
        minViewMode: 2,
        format: 'yyyy',
        endDate: '+0y',
        startView: 2,
        orientation: "bottom"
    });
</script>
<script>
    $(function () {
        var todaydt = new Date();
        todaydt.setDate(todaydt.getDate() - 1);
        $("#start").datepicker({
            autoclose: true,
            endDate: todaydt,
            format: 'yyyy-mm-dd'
        }).on('changeDate', function (selected) {
            var minDate = new Date(selected.date);
            minDate.setDate(minDate.getDate());
            $('#end').datepicker('setStartDate', minDate);
        });

        $("#end").datepicker({
            autoclose: true,
            endDate: todaydt,
            format: 'yyyy-mm-dd'
        }).on('changeDate', function (selected) {
            var minDate = new Date(selected.date);
            minDate.setDate(minDate.getDate() - 1);
            $('#start').datepicker('setEndDate', minDate);
        });
    });

    $(function () {
        $('#start').keypress(function (event) {
            event.preventDefault();
            return false;
        });
    });

    $(function () {
        $('#end').keypress(function (event) {
            event.preventDefault();
            return false;
        });
    });

</script>

<script type="text/javascript">
    $(function () {
        var CompanyCode = '@Session["CompanyCode"]';
        var PlantCode = '@Session["PlantCode"]';
        var LineCode = '@Session["LineCode"]';
        if (CompanyCode == "" && PlantCode == "" && LineCode == "") {
            swal({
                icon: "error",
                title: "Please Select Customer, Plant and Line...!",
                button: true,
                timer: 4500
            })
            return;
        }
        else
            if (CompanyCode == "") {
                swal({
                    icon: "error",
                    title: "Please Select Customer...!",
                    button: true,
                    timer: 4500
                })
                return;
            }
            else
                if (PlantCode == "") {
                    swal({
                        icon: "error",
                        title: "Please Select Plant...!",
                        button: true,
                        timer: 4500
                    })
                    return;
                }
                if (LineCode == "") {
                    swal({
                        icon: "error",
                        title: "Please Select Line...!",
                        button: true,
                        timer: 4500
                    })
                    return;
                }
                else {
                    var URL = '@System.Configuration.ConfigurationManager.AppSettings["url"]';



                      var myData1 = {
                        "Flag": "Subsystem",
                        "CompanyCode": '@Session["CompanyCode"]',
                        "PlantCode": '@Session["PlantCode"]',
                        "LineCode":'@Session["LineCode"]'
                    };
                     var R_url = '@Url.Action("Login", "Main")';
                   var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';
                    //$.ajax({
                    //    type: 'Get',
                    //    url: URL + 'api/UserSettings/GetEmployee',
                    //    headers: {
                    //        Authorization: 'Bearer ' + user1
                    //    },
                    //    dataType: 'json'
                    //}).success(function (response) {
                     var R_url = '@Url.Action("GetSettingdatas1", "Main")';
                    @*var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';*@
                       var URL2 = '@Url.Action("GetSettingdatas1", "Main")';
                    $.ajax({
                        type: "POST",
                        /* url: '/Main/GetSettingdatas1',*/
                        url: URL2,
                       data: myData1,
                        dataType: "json",
                        success: function (response) {
                            var s = '<option value="">Select Machine</option>';


                            for (var i = 0; i < response.data.length; i++) {
                                console.log(response.data.length);
                                if (response.data.length == 1) {
                                    s += '<option value="' + response.data[i].Code + '" selected=selected>' + response.data[i].Name + '</option>';
                                }
                                else {
                                    s += '<option value="' + response.data[i].Code + '">' + response.data[i].Code + "-" + response.data[i].Name + '</option>';
                                }
                            }
                            $("#machinecode").html(s);
                            //$(".record").text("10");
                            $(".record").val(10);
                        },
                        error: function (response) {
                            if (response.status == "401") {
                                swal({
                                    icon: "warning",
                                    title: "Session Timeout",
                                    button: true,
                                    closeModal: false
                                })
                                window.location = R_url;
                            }
                            else {
                                swal({
                                    icon: "warning",
                                    title: response.responseText,
                                    button: true,
                                    closeModal: false
                                })

                            }
                        }
                    });


                }

    });

    document.getElementById("resetcustom").addEventListener("click", function () {
        $('#start').val('');
        $('#end').val('');
        d3.select(".custome_report svg").remove();
        d3.select(".custome_Duration svg").remove();
    })
    document.getElementById("resetyear").addEventListener("click", function () {
        $('#year').val('');
        d3.select(".year_report svg").remove();
        d3.select(".year_Duration svg").remove();
    })
    document.getElementById("resetmonth").addEventListener("click", function () {
        $('#month').val('');
        d3.select(".monthly_report svg").remove();
        d3.select(".monthly_Duration svg").remove();
    })


</script>




<script type="text/javascript">

    var URL = '@System.Configuration.ConfigurationManager.AppSettings["url"]';

    function graph( id, response) {
        //console.log(response.data[0].DATE);

        const a = $(id).height();
        const b = $(id).width();
        var m = { top: 100, right: 50, bottom: 150, left: 70 }
            , h = a - m.top - m.bottom
            , w = b - m.left - m.right
            , barWidth = 5;


        var dataset = null;
        //typecast Amount to #, calculate total, and cumulative amounts
        dataset = response.data;

        //Axes and scales
        var xScale = d3.scale.ordinal().rangeRoundBands([0, w], 0.1);
        var x1Scale = d3.scale.ordinal();
        var x2Scale = d3.scale.ordinal();


        xScale.domain(response.data.map(function (d) {  return d.DATE; }));
        x1Scale.domain(['Shift_1_OEE', 'Shift_2_OEE', 'Shift_3_OEE']).rangeRoundBands([0, xScale.rangeBand()], 0.1);
        x2Scale.domain(['Shift_1_OEE', 'Shift_2_OEE', 'Shift_3_OEE']).rangeRoundBands([0, x1Scale.rangeBand()], 0.1);

        var yhist = d3.scale.linear()
            .domain([0, d3.max(response.data, function (d) {

                return (d.Shift_1_OEE > d.Shift_2_OEE ? d.Shift_1_OEE : d.Shift_2_OEE) > d.Shift_3_OEE ? (d.Shift_1_OEE > d.Shift_2_OEE ? d.Shift_1_OEE : d.Shift_2_OEE) : d.Shift_3_OEE;
            })])
            .range([h, 0]);

        var ycum = d3.scale.linear().domain([0, 100]).range([h, 0]);

        var xAxis = d3.svg.axis()
            .scale(xScale)
            .orient('bottom');

        var yAxis = d3.svg.axis()
            .scale(yhist)
            .orient('left');

        var yAxis2 = d3.svg.axis()
            .scale(ycum)
            .orient('right');

        var tooltip = d3.select(id)
            .append("div")
            .style("opacity", 0)
            .attr("class", "tooltip")
            .style("background-color", "tranparent")
            .style("border", "solid")
            .style("border-width", "2px")
            .style("border-radius", "5px")
            .style("padding", "5px")

        tooltip = d3.select("body").append("div").style("width", "200px").style("height", "100px").style("background-color", "#898584").style("color", "white")
            .style("opacity", "1").style("position", "absolute").style("visibility", "hidden").style("padding", "5px");
        toolval = tooltip.append("div");




        //Draw svg
        var svg = d3.select(id).append("svg")
            .attr("width", w + m.left + m.right)
            .attr("height", h + m.top + m.bottom)
            .append("g")
            .attr("transform", "translate(" + m.left + "," + m.top + ")");

        //Draw histogram
        var bar = svg.selectAll(".bar")
            .data(response.data)
            .enter().append("g")
            .attr("class", "bar");



        bar.append("rect")
            .attr("x", function (d) { return xScale(d.DATE); })
            .attr("width", x1Scale.rangeBand())
            .attr("y", function (d) { return yhist(d.Shift_1_OEE); })
            .attr("height", function (d) { return h - yhist(d.Shift_1_OEE); })
            .style("fill", "#FD625E")

            .on("mouseout", function () {
                d3.select(this).style("stroke", "none");
                tooltip.style("visibility", "hidden");
                                         }
               )

            .on("mousemove", function (d) {


                tooltip.style("visibility", "visible")
                    .style("top", (d3.event.pageY - 30) + "px").style("left", (d3.event.pageX + 20) + "px");

                var text = 'Shift :' + 'S1' + '<br> OEE :' + Math.round((d.Shift_1_OEE + Number.EPSILON) * 100) / 100 + '<br> Date :' + d.DATE +'<br>';

                tooltip.select("div").html(text)

                                             }
            )

        bar.append("rect")
            .attr("x", function (d) { return (xScale(d.DATE) + x1Scale.rangeBand()); })
            .attr("width", x1Scale.rangeBand())
            .attr("y", function (d) { return yhist(d.Shift_2_OEE); })
            .attr("height", function (d) { return h - yhist(d.Shift_2_OEE); })
            .style("fill", "rgb(92, 89, 80)")
            .on("mouseout", function () {
                d3.select(this).style("stroke", "none");
                tooltip.style("visibility", "hidden");
            }
            )

            .on("mousemove", function (d) {


                tooltip.style("visibility", "visible")
                    .style("top", (d3.event.pageY - 30) + "px").style("left", (d3.event.pageX + 20) + "px");

                var text = 'Shift :' + 'S2' + '<br> OEE:' + Math.round((d.Shift_2_OEE + Number.EPSILON) * 100) / 100 +  '<br> Date :' + d.DATE + '<br>';

                tooltip.select("div").html(text)

            }
            )

        bar.append("rect")
            .attr("x", function (d) { return (xScale(d.DATE) + (2 * x1Scale.rangeBand())); })
            .attr("width", x1Scale.rangeBand())
            .attr("y", function (d) { return yhist(d.Shift_3_OEE); })
            .attr("height", function (d) { return h - yhist(d.Shift_3_OEE); })
            .style("fill", "#00b6a7")
            .on("mouseout", function () {
                d3.select(this).style("stroke", "none");
                tooltip.style("visibility", "hidden");
            }
            )

            .on("mousemove", function (d) {


                tooltip.style("visibility", "visible")
                    .style("top", (d3.event.pageY - 30) + "px").style("left", (d3.event.pageX + 20) + "px");

                var text = 'Shift :' + 'S3' + '<br> OEE :' + Math.round((d.Shift_3_OEE + Number.EPSILON) * 100) / 100 + '<br> Date :' + d.DATE + '<br>';

                tooltip.select("div").html(text)

            }
        )


        bar.append('text')
            .attr('class', 'value')
            .attr("transform", "rotate(-90)")
            .attr('x', function (d) { return -yhist(d.Shift_1_OEE)+20; })
            .attr('y', function (d) {
                return (xScale(d.DATE) + (x1Scale.rangeBand() / 2));})
            .attr('text-anchor', 'middle')
            .style('fill', '#FD625E')
            .text(function (d) { return Math.round((d.Shift_1_OEE + Number.EPSILON) * 100) / 100 })

        bar.append('text')
            .attr('class', 'value')
            .attr("transform", "rotate(-90)")
            .attr('x', function (d) { return -yhist(d.Shift_2_OEE) + 20; })
            .attr('y', function (d) {
                return (xScale(d.DATE) +( (3*x1Scale.rangeBand() )/2));
            })
            .attr('text-anchor', 'middle')
            .style('fill', 'rgb(92, 89, 80)')
            .text(function (d) { return Math.round((d.Shift_2_OEE + Number.EPSILON) * 100) / 100 })
        bar.append('text')
            .attr('class', 'value')
            .attr("transform", "rotate(-90)")
            .attr('x', function (d) { return -yhist(d.Shift_3_OEE) + 20; })
            .attr('y', function (d) {
                return (xScale(d.DATE) + ((5.5* x1Scale.rangeBand()) / 2));
            })
            .attr('text-anchor', 'middle')
            .style('fill', '#00b6a7)')
            .text(function (d) { return Math.round((d.Shift_3_OEE + Number.EPSILON) * 100) / 100 })

        //bar.append('text')
        //    .attr('class', 'value')
        //    .attr('x', function (d) { return (xScale(d.DATE) + ((3 * x1Scale.rangeBand()) / 2)); })
        //    .attr('y', function (d) { return yhist(d.Shift_2_OEE) - 10 })
        //    .attr('text-anchor', 'middle')
        //    .style('fill', 'rgb(92, 89, 80)')
        //    .text(function (d) { return Math.round((d.Shift_2_OEE + Number.EPSILON) * 100) / 100 })
        //bar.append('text')
        //    .attr('class', 'value')
        //    .attr('x', function (d) { return (xScale(d.DATE) + ((5 * x1Scale.rangeBand()) / 2)); })
        //    .attr('y', function (d) { return yhist(d.Shift_3_OEE) - 10 })
        //    .attr('text-anchor', 'middle')
        //    .style('fill', '#00b6a7')
        //    .text(function (d) { return Math.round((d.Shift_3_OEE + Number.EPSILON) * 100) / 100 })


         //Draw axes
        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + h + ")")
            .call(xAxis)
            .append("rect")
            .attr("y", -340)
            .attr("x", 900)
            .attr("width", 20)
            .attr("height", 20)
            .style("fill", "#FD625E")

        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + h + ")")
            .call(xAxis)
            .append("text")
            .attr("y", -300)
            .attr("x", 930)
            .style("text-anchor", "end")
            .text("Shift1");

        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + h + ")")
            .call(xAxis)
            .append("rect")
            .attr("y", -340)
            .attr("x", 950)
            .attr("width", 20)
            .attr("height", 20)
            .style("fill", "rgb(92, 89, 80)")

        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + h + ")")
            .call(xAxis)
            .append("text")
            .attr("y", -300)
            .attr("x", 975)
            .style("text-anchor", "end")
            .text("Shift2");

        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + h + ")")
            .call(xAxis)
            .append("rect")
            .attr("y", -340)
            .attr("x", 1000)
            .attr("width", 20)
            .attr("height", 20)
            .style("fill", "#00b6a7")

        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + h + ")")
            .call(xAxis)
            .append("text")
            .attr("y", -300)
            .attr("x", 1030)
            .style("text-anchor", "end")
            .text("Shift3");




        svg.append("g")
            .attr("class", "y axis")
            .call(yAxis)
            .append("text")
            .attr("transform", "rotate(-90)")
            .attr("y", -50)
            .attr("x", -90)
            .attr("dy", ".70em")
            .style("text-anchor", "end")
            .style("font-family", "Arial, Helvetica, sans-serif")
            .style("font-size", "12px")
            .text("OEE");

        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + h + ")")
            .call(xAxis)
            .append("text")
            .attr("y", 110)
            .attr("x", 450)
            .style("text-anchor", "end")
            .style("font-family", "Arial, Helvetica, sans-serif")
            .style("font-size", "12px")
            .text("Date");


    }
    document.getElementById("searchcustomwise").addEventListener("click", function () {

        var linecode = '@Session["LineCode"]';
        var machinecode = $('#machinecode').val();
        var machinecode1 = $('#machinecode option:selected').text();
        var records = $('.record').val();
        var start = $('#start').val();
        var end = $('#end').val();
        var year = $('#year').val();
        var month = $('#month').val();
        $('.updated_time').text(new Date().toLocaleString());
        $('.shift').text("N/A");

        var syear = start.substr(0, 4);
        var eyear = end.substr(0, 4);
        if (syear != eyear && end!='') {
            swal({
                icon: "error",
                title: "Please Select Same Year for Fromdate and Todate...!",
                button: false,
                timer: 4500
            })
            d3.select("svg").remove();
            return;
        }


        if (linecode == '') {
            swal({
                icon: "error",
                title: "Please Provide Line details",
                button: false,
                timer: 4500
            })
        }
        else if (machinecode == '') {
            swal({
                icon: "error",
                title: "Please Provide Machine details",
                button: false,
                timer: 4500
            })
        }
        else if (records == '') {
            swal({
                icon: "error",
                title: "Please Provide No. of records",
                button: false,
                timer: 4500
            })
        }

        else if (start == '') {
            swal({
                icon: "error",
                title: "Please Provide start date",
                button: false,
                timer: 4500
            })
        }
        else if (end == '') {
            swal({
                icon: "error",
                title: "Please Provide End date",
                button: false,
                timer: 4500
            })
        }
        else {
            if (start > end) {
                swal({
                    icon: "error",
                    title: "Please Provide Dates correctly...",
                    button: false,
                    timer: 4500
                })
            }

            var myData = {
                "line": linecode,
                "Machine": machinecode,
                "records": records,
                "FromDate": start,
                "ToDate": end,
                "CompanyCode": '@Session["CompanyCode"]',
                "PlantCode": '@Session["PlantCode"]'
            };
            var sample;
            var R_url = '@Url.Action("Login", "Main")';
            var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';


             $.ajax({
                type: "POST",
                 url: URL + 'api/OEE/ShiftwiseOEE',
                headers: {
                    Authorization: 'Bearer ' + user1
                },
                data: myData,
                dataType: "json",
                beforeSend: function () {
                    $('.loading').show();
                },
                complete: function () {
                    $('.loading').hide();
                },
                success: function (response) {
                    d3.select(".custome_report svg").remove();
                    if (response.status != "Error") {
                        /* $('#custom_line').text(linecode);*/



                        graph(".custome_report", response);
                    }
                    else {
                        sample = "";
                        $(".custome_report").empty();

                        var div_width = 400;
                        var div_height = 400;
                        var svg = d3.select(".custome_report").append("svg")
                            .attr("width", div_width)
                            .attr("height", div_height)
                            .attr("preserveAspectRatio", "xMidYMid")
                            .append("g")
                            .attr("transform", "translate(" + (div_width / 2 - 50) + "," + (div_height / 2 - 50) + ")");

                        svg.append("text")
                            .text("No Data Available")
                            .style("font-size", "40px");
                    }

                },
                error: function (response) {
                    if (response.status == "401") {
                        swal({
                            icon: "warning",
                            title: "Session Timeout",
                            button: true,
                            closeModal: false
                        })
                        window.location = R_url;
                    }
                    else {
                        swal({
                            icon: "warning",
                            title: response.responseText,
                            button: true,
                            closeModal: false
                        })

                    }
                }
             });





        }

    })




    document.getElementById("searchyearwise").addEventListener("click", function () {

        var linecode = '@Session["LineCode"]';
        var machinecode = $('#machinecode').val();
        var machinecode1 = $('#machinecode option:selected').text();
        var records = $('.record').val();
        var year = $('#year').val();
        $('.updated_time').text(new Date().toLocaleString());
        $('.shift').text("N/A");


        if (linecode == '') {
            swal({
                icon: "error",
                title: "Please Provide Line details",
                button: false,
                timer: 4500
            })
        }
        else if (machinecode == '') {
                swal({
                    icon: "error",
                    title: "Please Provide Machine details",
                    button: false,
                    timer: 4500
                })
        }
        else if (records == '') {
            swal({
                icon: "error",
                title: "Please Provide No. of records",
                button: false,
                timer: 4500
            })
        }
        else if (year == '') {
                swal({
                    icon: "error",
                    title: "Please Provide Year",
                    button: false,
                    timer: 4500
                })
        }
        else
        {
            var myData = {
                "line": linecode,
                "Machine": machinecode,
                "records": records,
                "Year": year,
                "CompanyCode": '@Session["CompanyCode"]',
                "PlantCode": '@Session["PlantCode"]'
            };

             var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';
            $.ajax({
                type: "POST",
                dataType: "json",
                url: URL + 'api/OEE/YearlyShiftwiseOEE',
                headers: {
                    Authorization: 'Bearer ' + user1
                },
                data: myData,
                beforeSend: function () {
                    $('.loading').show();
                },
                complete: function () {
                    $('.loading').hide();
                },
                success: function (response) {
                   /* $('#yearly_line').text(linecode);*/


                    d3.select("svg").remove();
                    if (response.status != "Error") {


                        graph(".year_report", response);


                    }
                    else
                    {
                        $(".year_report").empty();

                        var div_width = 400;
                        var div_height = 400;
                        var svg = d3.select(".year_report").append("svg")
                            .attr("width", div_width)
                            .attr("height", div_height)
                            .attr("preserveAspectRatio", "xMidYMid")
                            .append("g")
                            .attr("transform", "translate(" + (div_width / 2 - 50) + "," + (div_height / 2 - 50) + ")");

                        svg.append("text")
                            .text("No Data Available")
                            .style("font-size", "40px");
                    }
                },
                error: function (result) {
                    if (response.status == "401") {
                        swal({
                            icon: "warning",
                            title: "Session Timeout",
                            button: true,
                            closeModal: false
                        })
                        window.location = R_url;
                    }
                    else {
                        swal({
                            icon: "warning",
                            title: response.responseText,
                            button: true,
                            closeModal: false
                        })

                    }
                }
            });
                    //}).error(function (response) {
                    //    swal({
                    //        icon: "warning",
                    //        title: "Session Timeout",
                    //        button: true,
                    //        closeModal: false
                    //    })
                    //    window.location = R_url;
                    //});

              $.ajax({
                type: "POST",
                  url: URL + 'api/OEE/YearlyShiftwiseOEE',
                headers: {
                    Authorization: 'Bearer ' + user1
                },
                data: myData,
                dataType: "json",
                beforeSend: function () {
                    $('.loading').show();
                },
                complete: function () {
                    $('.loading').hide();
                },
                success: function (response) {
                    d3.select(".year_Duration svg").remove();
                    if (response.status != "Error") {
                        /* $('#custom_line').text(linecode);*/


                        graph(".year_Duration", response);


                    }
                    else
                    {
                        sample = "";
                         $(".year_Duration").empty();

                        var div_width = 400;
                        var div_height = 400;
                        var svg = d3.select(".year_Duration").append("svg")
                            .attr("width", div_width)
                            .attr("height", div_height)
                            .attr("preserveAspectRatio", "xMidYMid")
                            .append("g")
                            .attr("transform", "translate(" + (div_width / 2 - 50) + "," + (div_height / 2 - 50) + ")");

                        svg.append("text")
                            .text("No Data Available")
                            .style("font-size", "40px");
                    }

                },
                error: function (response) {
                    if (response.status == "401") {
                        swal({
                            icon: "warning",
                            title: "Session Timeout",
                            button: true,
                            closeModal: false
                        })
                        window.location = R_url;
                    }
                    else {
                        swal({
                            icon: "warning",
                            title: response.responseText,
                            button: true,
                            closeModal: false
                        })

                    }
                }
            });
        }

    })

    document.getElementById("searchmonthwise").addEventListener("click", function () {

        var linecode = '@Session["LineCode"]';
        var machinecode = $('#machinecode').val();
        var machinecode1 = $('#machinecode option:selected').text();
        var records = $('.record').val();
        var month = $('#month').val();
        $('.updated_time').text(new Date().toLocaleString());
        $('.shift').text("N/A");


        if (linecode == '') {
            swal({
                icon: "error",
                title: "Please Provide Line details",
                button: false,
                timer: 4500
            })
        }
        else if (machinecode == '') {
                swal({
                    icon: "error",
                    title: "Please Provide Machine details",
                    button: false,
                    timer: 4500
                })
        }
        else if (records == '') {
            swal({
                icon: "error",
                title: "Please Provide No. of records",
                button: false,
                timer: 4500
            })
        }
        else if (month == '') {
                swal({
                    icon: "error",
                    title: "Please Provide Month",
                    button: false,
                    timer: 4500
                })
        }
        else
        {
            var chartData = [];
            var myData = {
                "line": linecode,
                "Machine": machinecode,
                "records": records,
                "Year": month,
                "CompanyCode": '@Session["CompanyCode"]',
                "PlantCode": '@Session["PlantCode"]'
            };
             var R_url = '@Url.Action("Login", "Main")';
                   var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';

            $.ajax({
                type: "POST",
                dataType: "json",
                url: URL + 'api/OEE/MonthlyShiftwiseOEE',
                headers: {
                    Authorization: 'Bearer ' + user1
                },
                data: myData,
                beforeSend: function () {
                    $('.loading').show();
                },
                complete: function () {
                    $('.loading').hide();
                },
                success: function (response) {
                    d3.select(".monthly_report svg").remove();
                    /*  $('#monthly_line').text(linecode);*/

                    if (response.status != "Error")
                    {

                        const a = $('.monthly_report').height();
                        const b = $('.monthly_report').width();
                        graph(".monthly_report", response);

                    }
                    else
                    {
                        $(".monthly_report").empty();

                        var div_width = 400;
                        var div_height = 400;
                        var svg = d3.select(".monthly_report").append("svg")
                            .attr("width", div_width)
                            .attr("height", div_height)
                            .attr("preserveAspectRatio", "xMidYMid")
                            .append("g")
                            .attr("transform", "translate(" + (div_width / 2 - 50) + "," + (div_height / 2 - 50) + ")");

                        svg.append("text")
                            .text("No Data Available")
                            .style("font-size", "40px");
                    }
                },
                error: function (response) {
                    if (response.status == "401") {
                        swal({
                            icon: "warning",
                            title: "Session Timeout",
                            button: true,
                            closeModal: false
                        })
                        window.location = R_url;
                    }
                    else {
                        swal({
                            icon: "warning",
                            title: response.responseText,
                            button: true,
                            closeModal: false
                        })

                    }
                }
              });




             $.ajax({
                type: "POST",
                 url: URL + 'api/OEE/MonthlyShiftwiseOEE',
                headers: {
                    Authorization: 'Bearer ' + user1
                },
                data: myData,
                dataType: "json",
                beforeSend: function () {
                    $('.loading').show();
                },
                complete: function () {
                    $('.loading').hide();
                },
                success: function (response) {
                    d3.select(".monthly_Duration svg").remove();
                    if (response.status != "Error") {
                        /* $('#custom_line').text(linecode);*/


                        graph(".monthly_Duration", response);


                    }
                    else
                    {
                        sample = "";
                         $(".monthly_Duration").empty();

                        var div_width = 400;
                        var div_height = 400;
                        var svg = d3.select(".monthly_Duration").append("svg")
                            .attr("width", div_width)
                            .attr("height", div_height)
                            .attr("preserveAspectRatio", "xMidYMid")
                            .append("g")
                            .attr("transform", "translate(" + (div_width / 2 - 50) + "," + (div_height / 2 - 50) + ")");

                        svg.append("text")
                            .text("No Data Available")
                            .style("font-size", "40px");
                    }

                },
                error: function (response) {
                    if (response.status == "401") {
                        swal({
                            icon: "warning",
                            title: "Session Timeout",
                            button: true,
                            closeModal: false
                        })
                        window.location = R_url;
                    }
                    else {
                        swal({
                            icon: "warning",
                            title: response.responseText,
                            button: true,
                            closeModal: false
                        })

                    }
                }
            });
        }

    })

</script>



