@model SerializableAttribute
@{ ViewBag.Title = "New MaintanenceDash";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<link rel="stylesheet" type="text/css" href="~/assets1/datepicker_normal/jquery-ui-1.8.19.custom.css">
<link href="~/Content/bootstrapmodel.css" rel="stylesheet" />
 <style>
     .table {
         white-space: nowrap;
         text-align :center;
     }
 </style>  


<header class="page-header">
    <h2>Tool Life Monitoring Report</h2>
    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Action("MainDashboard","MainDashboard")">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            @*/<li><span>Maintenance</span></li>
                <li><span>Historic Data & Analytics</span></li>
                <li><span>Tool Life Monitoring</span></li>
                <li><span>Preventive Maintanence</span></li>*@
        </ol>
    </div>
</header>
@if (ViewContext.Controller.HasPermission("ToolLifeHistoric-View"))
{
    <div class="row" id="topselection">
        <div class="col-md-10">
            @*<a href="~/Views/ToolLife/PreventiveMaintanenceDashboard.cshtml">~/Views/ToolLife/PreventiveMaintanenceDashboard.cshtml</a>*@
            @*<div class="btn-group">
                    <label class="control-label" style="float:right; font-weight:bold;"> Select Line </label>
                </div>
                <div class="btn-group">
                    <select id="linecode" class="form-control" name="linecode" title="*"></select>
                </div>&nbsp;&nbsp;*@
            <div class="btn-group">
                <label class="control-label" style="float:right; font-weight:bold;"> Select Machine </label>
            </div>
            <div class="btn-group">
                <select id="subsystem" class="form-control" name="subsystem">
                    <option value="">Select Line First</option>
                </select>
            </div>
            @*<div class="btn-group">
                    <label class="control-label" style="float:right; font-weight:bold;"> Filter By </label>
                </div>*@
            @*<div class="btn-group">
                    <select id="subsystem" class="form-control" name="subsystem" title="*">
                        <option value="">Filter</option>
                        <option value="toolid">Element ID</option>
                        <option value="toolname">Element Name</option>

                    </select>
                </div>*@
            <div class="btn-group">
                <label class="control-label" style="float:right; font-weight:bold;"> Status </label>
            </div>
            <div class="btn-group">
                <select id="selstatus" class="form-control" name="selstatus" title="Status">
                    <option value="">Status</option>
                    <option value="all">All</option>
                    <option value="completed">Completed</option>
                    <option value="pending">Pending</option>

                </select>
            </div>
            <div class="btn-group">
                <button type="button" id="viewdetails" class="mb-xs mt-xs mr-xs btn btn-primary">View</button>
            </div>

            <div class="btn-group">
                <button type="button" id="clear" class="mb-xs mt-xs mr-xs btn btn-danger">Reset</button>
            </div>
        </div>
    </div>
    <div class="row" id="divdetails">
        <div class="col-md-12">
            <div class="tabs tabs-danger">
                <ul class="nav nav-tabs">
                    <li class="active" id="custom">
                        <a href="#custom" data-toggle="tab">Custom</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="custom" class="tab-pane active">
                        <section class="panel">
                            <header class="panel-heading" style="background-color:teal;color:white;">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                </div>
                                <h2 class="panel-title" style="color:white;font-size:large;font-style:inherit">Preventive Maintanence record: <span class="line_name"></span> </h2>
                            </header>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-condensed mb-none" id="custom_preventive">
                                        <thead style="background-color:teal;color:white;">
                                            <tr>
                                                <th>S.No</th>
                                                <th>Tool ID</th>
                                                @*<th>Line Name</th>*@
                                                @*<th>Subsystem</th>*@
                                                <th>Machine</th>
                                                <th>Element</th>
                                                <th>SerialNo</th>
                                                <th>Recommendation Text</th>
                                                @*<th>Make</th>
                                                    <th>Part Number</th>
                                                    <th>Classification</th>*@
                                                <th>Last Maintanence date</th>
                                                @*<th>Is replaced?</th>*@
                                                <th>No of replacements</th>
                                                <th>Life at PM</th>
                                                <th>Life Set</th>
                                                <th>Current Usage</th>

                                                <th>Status</th>
                                                @*<th>UOM</th>*@
                                                <th>Remarks</th>


                                                <th>Edit</th>
                                            </tr>
                                        </thead>
                                        <tbody class="custom_preventive">
                                        </tbody>
                                        <span class="custom_pre_error" style="color:red;font-size:13px;font-weight:bold;"></span>
                                    </table>
                                </div>
                                @*<div class="btn-group" style="float:right;">
                                        <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary" id="download_option" onclick="exportTableToExcel('custom_preventive', 'Preventive Maintainence')">Download</button>
                                    </div>*@
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div> <!--Edit Shift Details-->
    <div class="row" id="divedit" style="display:none;">
        <div class="col-md-12">
            <form class="form" action="@Url.Action("Update_Tool","ToolLife")" method="post">
                @*<form class="form" method="post">*@
                <section class="panel">
                    <header class="panel-heading" style="background-color:teal;color:white;">
                        <div class="panel-actions">
                        </div>
                        <h2 class="panel-title" style="color:white;">Edit Preventive Maintenance Details</h2>
                    </header>
                    <div class="panel-body">
                        @*<input type="hidden" id="eID" name="ID" />*@
                        @*<div class="form-group">

                                <label class="col-sm-2 control-label"> Line <span class="required">*</span></label>
                                <div class="col-sm-4">
                                    <select id="linecodeedit" class="form-control" name="Line_Code" title="*"></select>
                                </div>
                            </div>*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label"> ToolID <span class="required">*</span></label>
                            <div class="col-sm-4">
                                <input type="text" id="eToolID" name="ToolID" class="form-control" title="" placeholder="ToolID" required readonly />
                            </div>
                            <label class="col-sm-2 control-label"> Element <span class="required">*</span></label>
                            <div class="col-sm-4">
                                <input type="text" id="eToolName" name="ToolName" class="form-control datepicker" title="Enter ToolName" placeholder="Start Time" autocomplete="off" required readonly />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"> Serial No <span class="required">*</span></label>
                            <div class="col-sm-4">
                                <input type="text" id="eSerialNo" name="SerialNo" class="form-control " title="Enter SerialNo" placeholder="Enter SerialNo" autocomplete="off" required readonly />
                            </div>
                            <label class="col-sm-2 control-label"> Recommendation Text <span class="required">*</span></label>
                            <div class="col-sm-4">
                                <input type="text" id="eRectext" name="RecText" class="form-control" title="Enter rectext" placeholder="Enter rectext" required readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"> Current Life Cycle <span class="required">*</span></label>
                            <div class="col-sm-4">
                                <input type="text" id="eLifeCycle" name="Currentusage" class="form-control " title="Enter LifeCycle" placeholder="Enter LifeCycle" autocomplete="off" required readonly />
                            </div>
                            <label class="col-sm-2 control-label"> Sub System <span class="required">*</span></label>
                            <div class="col-sm-4">
                                <input type="text" id="eSubSystem" name="SubSystem" class="form-control" title="Enter SubSystem" placeholder="Break SubSystem" required readonly />
                            </div>
                            @*<label class="col-sm-2 control-label"> Last Maintenance <span class="required">*</span></label>
                                <div class="col-sm-4">
                                    <input type="text" id="eLastMain" name="lastmain" class="form-control datepic" title="Enter LastMain" placeholder="Enter LastMain" required readonly />
                                </div>*@
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"> Is Replaced <span class="required">*</span></label>
                            <div class="col-sm-4">

                                <select class="form-control isreplaced" name="IsReplaced" id="eIsReplace" onchange="checkisrepl()" title="Select Option" required></select>

                                @*<input type="text" id="eIsReplace" name="IsReplaced" class="form-control " onchange="checkisrepl()" title="Enter IsReplace" placeholder="Enter LifeCycle" autocomplete="off" required />*@
                            </div>
                            <label class="col-sm-2 control-label"> No Of Replacements <span class="required">*</span></label>
                            <div class="col-sm-4">
                                <input type="number" id="enoofreplacements" name="noofreplacements" class="form-control" title="Enter no of replacements" placeholder="Enter no of replacements" required readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"> Status <span class="required">*</span></label>
                            <div class="col-sm-4">
                                <select class="form-control status"  name="Status" id="eStatus" title="Select Status" required></select>

                                @*<input type="text" id="eStatus" name="Status" class="form-control" title="Enter Status" placeholder="Enter Status" autocomplete="off" required />*@
                            </div>
                            <label class="col-sm-2 control-label"> Remarks <span class="required">*</span></label>
                            <div class="col-sm-4">
                                <input type="text" id="eRemarks" name="Remarks" class="form-control" title="Enter Remarks" placeholder="Enter Remarks" required />
                            </div>
                        </div>
                        <div class="form-group openserialno" id="openserialno" style="display:none">
                            <label class="col-sm-2 control-label"> New Serial No <span class="required">*</span></label>
                            <div class="col-sm-4">
                                <input type="text" id="eNSerialNo" name="NSerialNo" class="form-control" title="Enter New SerialNo" placeholder="Enter New SerialNo" autocomplete="off" />
                            </div>

                        </div>
                        <div class="form-group" id="showspan" style="display:none">

                            <label class="col-sm-2 control-label"> Ewon URL <span class="required">*</span></label>
                            <div class="col-sm-4">
                                <input type="text" id="eewonurl" name="Remarks" class="form-control" title="Enter Remarks" placeholder="Enter Remarks" required readonly />
                            </div>
                        </div>

                    </div>
                    <footer class="panel-footer">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3" style="text-align:center;">
                                <button type="submit" class="btn btn-primary Update">Update</button>
                                <button type="reset" id="cancel" class="btn btn-danger Cancel">Cancel</button>
                            </div>
                        </div>
                    </footer>
                </section>
            </form>

        </div>
    </div> }
else
{
    <div class="row">
        <h2 class="panel-title">View Permission is denied</h2>
    </div>}
<script src="~/assets1/javascripts/swal.js"></script>
<script src="~/assets1/javascripts/swal_alert.js"></script>

<script src="~/assets1/datepicker_normal/datepicker_normal_jquery.min.js"></script>
<script src="~/assets1/datepicker_normal/jquery-ui-1.8.19.custom.min.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script type="text/javascript">
    var I_URL = '@System.Configuration.ConfigurationManager.AppSettings["url"]';

    document.getElementById("clear").addEventListener("click", function () {
        $('#linecode').val('');
        $('#subsystem').val('');
        $('#selstatus').val('');
        $('.table-responsive').hide();


    })

    //document.querySelector("#eStatus").addEventListener("change", () => {
    //    document.querySelector("#eRemarks").value = '';
    //});



    $('#eStatus').on('change', () => {
       
        $("#eRemarks").val(" ");
    })

   


    document.getElementById("viewdetails").addEventListener("click", function () {

        $('.table-responsive').show()

        var active_tab = $('ul .active').attr("id");
        var linecode = '@Session["LineCode"]';
        var subsystem = $('#subsystem').val();
        var Status = $('#selstatus').val();



        $('.line_name').text(linecode);
        $(".custom_pre_error").text('');

        if (linecode == '') {
            swal({
                icon: "error",
                title: "Please Provide Line details",
                button: false,
                timer: 4500
            })
        }
        else if (subsystem == '') {
            swal({
                icon: "error",
                title: "Please Provide Machine details",
                button: false,
                timer: 4500
            })
        }
        else if (Status == '') {
            swal({
                icon: "error",
                title: "Please Select Status",
                button: false,
                timer: 4500
            })
        }

        else {

            var preData = {
                "Flag": "preventive",
                "linename": linecode,
                "subsystem": subsystem,
                "CompanyCode": '@Session["CompanyCode"]',
                "PlantCode": '@Session["PlantCode"]',
                "Status": Status
            };

            var R_url = '@Url.Action("Login", "Main")';
            var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';

            $.ajax({
                type: "POST",
                url: I_URL + 'api/Toollife/GetPreventiveMain',
                headers: {
                    Authorization: 'Bearer ' + user1
                },
                data: preData,
                dataType: "json",
                beforeSend: function () {
                    $('.loading').show();
                },
                complete: function () {
                    $('.loading').hide();
                },
                success: function (response) {
                    if ($.fn.DataTable.isDataTable('#custom_preventive')) {
                        $('#custom_preventive').DataTable().destroy();
                    }
                    var rowsCnt = document.getElementById("custom_preventive").getElementsByTagName("tbody")[0].getElementsByTagName("tr").length;
                    if (rowsCnt > 0) {
                        for (var i = 0; i < rowsCnt; i++) {
                            document.getElementById("custom_preventive").deleteRow(1);
                        }
                    }
                    if (response.data.length != 0) {
                        $('.updated_time').text(new Date().toLocaleString());
                        $('.shift').text("N/A");

                        var j = 1;
                        for (var i = 0; i < response.data.length; i++) {
                            var newRow = $("<tr>");
                            var cols = '';
                            cols += "<td> " + j + "</td> ";
                            cols += "<td>" + response.data[i].ToolID + "</span> <input type='hidden' id='toolid' value='" + response.data[i].ToolID + "' name='toolID' style='display:none;width:80px;'/></td> ";
                            //cols += "<td> " + response.data[i].linename + "</td> ";
                            cols += "<td> " + response.data[i].subsystem + "</td> ";
                            cols += "<td> " + response.data[i].element + "</td> ";
                            cols += "<td> " + response.data[i].SerialNo + "</td> ";
                            cols += "<td> <span>" + response.data[i].Rectext + " </span> <input type='text' id='rectext' value='" + response.data[i].Rectext + "' name='rectext' style='display:none;width:80px;'/> </td> ";

                            //cols += "<td> " + response.data[i].make + "</td> ";
                            //cols += "<td> " + response.data[i].partnumber + "</td> ";
                            //cols += "<td> " + response.data[i].classification + " <input type='hidden' id='ToolID' value='" + response.data[i].ToolID +"'/> <input type='hidden' id='currentlifecle' value='" + response.data[i].currentusage +"'/> </td> ";
                            cols += "<td> <span>" + response.data[i].lastmain + " </span>  <input type='date' class='datepic' id='lastmain' value='" + response.data[i].lastmain + "' name='lastmain' style='display:none;width:80px;'/></td> ";
                            //cols += "<td> <span>" + response.data[i].isreplaced + "</span>  <input type='text/javascript' id='isreplaced' maxlength='3' class='isreplaced' name='isreplaced'  oncut='return false' oncopy='return false' onpaste='return false' onkeypress='return validatetxt(event)' onchange='return validaterepl(this)' onblur='validate(this);'  style='display:none;width:80px;' value='" + response.data[i].isreplaced + "'/> </td> ";
                            cols += "<td> <span>" + response.data[i].noofreplace + " </span> <input type='number' id='noofreplace' value='" + response.data[i].noofreplace + "' name='noofreplace' style='display:none;width:80px;'/> </td> ";
                            cols += "<td> " + response.data[i].lifeatpm + "</td> ";
                            cols += "<td> " + response.data[i].ratedlifecle + "</td> ";
                            cols += "<td> " + response.data[i].currentusage + "</td> ";
                            //cols += "<td> " + response.data[i].uom + "</td> ";
                            if (response.data[i].Status != "") {
                                cols += "<td> <span>" + response.data[i].Status + " </span> <input type='text' id='status' class='remarks' value='" + response.data[i].status + "' name='status'  style='display:none;width:80px;'/> </td> ";
                            }
                            else {
                                cols += "<td> <span>pending</span> <input type='text' id='status' class='remarks' value='pending' name='status'  style='display:none;width:80px;'/> </td> ";
                            }


                            cols += "<td> <span>" + response.data[i].remarks + " </span> <input type='text' id='remarks' class='remarks' value='" + response.data[i].remarks + "' name='remarks'  style='display:none;width:80px;'/> </td> ";
                            cols += "<td> <a class='Edit'><span class='fa fa-pencil-square-o'></span></a><a class='Update' id='edit' style ='display:none'><span class='fa fa-floppy-o'></span></a>&nbsp<a class='Cancel' style ='display:none'><span class='fa fa-times'></span></a></td > ";
                            cols += "</tr>";
                            newRow.append(cols);
                            $(".custom_preventive").append(newRow);
                            j++;
                        }
                    }
                    else
                    {
                        $(".custom_pre_error").text(response.msg);
                    }

                    $('#custom_preventive').DataTable({
                        //"ordering": true,
                        //"bDestroy": true,
                        "responsive": true,
                        "autoWidth": false,
                        "searching": false,
                        scrollY: true,
                        scrollX: true,
                        scroller: true,
                        dom: 'Bfrtip',
                        buttons: [

                            {
                                extend: 'excel',
                                title: 'Preventive Maintainence',
                                exportOptions: {
                                    columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
                                },

                                customize: function (xlsx) {
                                    var sheet = xlsx.xl.worksheets['sheet1.xml'];
                                    $('row c', sheet).attr('s', '25');
                                }



                            },

                        ]

                    });
                },
                error: function (response) {
                    if (response.status == "401") {
                        swal({
                            icon: "warning",
                            title: "Token is not valid",
                            button: true,
                            closeModal: false
                        })
                        window.location = R_url;
                    }
                    else {
                        swal({
                            icon: "warning",
                            title: response.responseText,
                            button: true,
                            closeModal: false
                        })

                    }
                }
            });
        }
    });



    $("body").on("click", "#custom_preventive .Edit", function () {

        var row = $(this).closest("tr");
        var ID = row.find("#toolid").val();
        var rectext = row.find("#rectext").val();
        var linecode = '@Session["LineCode"]';
        var subsystem = $('#subsystem').val();

        $('.line_name').text(linecode);
        $(".custom_pre_error").text('');

        if (linecode == '') {
            swal({
                icon: "error",
                title: "Please Provide Line details",
                button: false,
                timer: 4500
            })
        }
        else if (subsystem == '') {
            swal({
                icon: "error",
                title: "Please Provide Machine details",
                button: false,
                timer: 4500
            })
        }
        else {

            var preData1 = {
                "Flag": "EditTool",
                "linename": linecode,
                "subsystem": subsystem,
                "Rectext": rectext,
                "CompanyCode": '@Session["CompanyCode"]',
                "PlantCode": '@Session["PlantCode"]',
                "ToolID": ID
            };
            var R_url = '@Url.Action("Login", "Main")';
            var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';

            $.ajax({
                type: "POST",
                url: I_URL + 'api/Toollife/GetPreventiveMain',
                headers: {
                    Authorization: 'Bearer ' + user1
                },
                data: preData1,
                dataType: "json",
                beforeSend: function () {
                    $('.loading').show();
                },
                complete: function () {
                    $('.loading').hide();
                },
                success: function (response) {

                    $("#divedit").show();
                    $("#topselection").hide();
                    $("#divdetails").hide();


                    if (response.data.length != 0) {

                        $('#eToolID').val(response.data[0].ToolID);
                        $('#eToolName').val(response.data[0].element);
                        $('#eSerialNo').val(response.data[0].SerialNo);
                        $('#eRectext').val(response.data[0].Rectext);
                        $('#eLastMain').val(response.data[0].lastmain);
                        $('#eLifeCycle').val(response.data[0].currentusage);
                        $('#eSubSystem').val(response.data[0].subsystem);

                        //$('#eIsReplace').val(response.data[0].isreplaced);
                        $('#enoofreplacements').val(response.data[0].noofreplace);
                        //$('#eStatus').val(response.data[0].Status);
                        $('#eRemarks').val(response.data[0].remarks);


                        var s = '<option value="">Please Select</option>';
                        for (var i = 0; i < response.data.length; i++) {
                            if (response.data[0].IsReplaced == "yes") {
                                s += '<option value="' + "yes" + '" selected=selected>' + "yes" + '</option>';
                                s += '<option value="' + "no" + '" >' + "no" + '</option>';

                            }
                            else {
                                s += '<option value="' + "yes" + '" >' + "yes" + '</option>';

                                s += '<option value="' + "no" + '" selected=selected>' + "no" + '</option>';
                            }
                        }
                        $(".isreplaced").html(s);

                        var s2 = '<option value="">Please Select</option>';

                        if (response.data[0].Status == "completed") {
                            s2 += '<option value="' + "completed" + '" selected=selected>' + "completed" + '</option>';
                            s2 += '<option value="' + "pending" + '" >' + "pending" + '</option>';

                        }
                        else {
                            s2 += '<option value="' + "completed" + '" >' + "completed" + '</option>';
                            s2 += '<option value="' + "pending" + '" selected=selected>' + "pending" + '</option>';
                        }

                        $(".status").html(s2);

                    }
                    else {
                        $('#custom_preventive').DataTable().destroy();
                        $(".custom_pre_error").text(response.msg);
                    }




                },
                error: function (response) {
                    if (response.status == "401") {
                        swal({
                            icon: "warning",
                            title: "Token is not valid",
                            button: true,
                            closeModal: false
                        })
                        window.location = R_url;
                    }

                }
            });

        }

    });

    function checkisrepl() {

        var replvalue = $('#eIsReplace').val();
        var x = document.getElementById("openserialno");
        var subsystem = $('#eSubSystem').val();
        var y = document.getElementById("showspan");
        if (replvalue == "yes") {

            if (x.style.display === "none")
            {

                x.style.display = "block";

                var myData = {
                    "QueryType": "Get_AssetDevice",
                    "Parameter": subsystem,
                    "Parameter1": '@Session["CompanyCode"]',
                    "Parameter2": '@Session["PlantCode"]',
                    "Parameter3": '@Session["LineCode"]',
                    "CompanyCode": '@Session["CompanyCode"]',
                    "PlantCode": '@Session["PlantCode"]',
                    "LineCode": '@Session["LineCode"]'
                };

                var R_url = '@Url.Action("Login", "Main")';
                var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';

                $.ajax({
                    type: "POST",
                    url: I_URL + 'api/Values/User_settings_details',
                    data: myData,
                    headers: {
                        Authorization: 'Bearer ' + user1
                    },
                    dataType: "json",
                    beforeSend: function () {
                        $('.loading').show();
                    },
                    complete: function () {
                        $('.loading').hide();
                    },
                    success: function (response) {
                        var data = {
                            "QueryType": "Get_ewonassetdevice",
                            "Parameter": '@Session["CompanyCode"]',
                            "Parameter1": '@Session["PlantCode"]',
                            "Parameter2": response.data.Table[0].ewonnumber,
                        };


                        $.ajax({
                            type: "POST",
                            data: data,
                            headers: {
                                Authorization: 'Bearer ' + user1
                            },
                            url: I_URL + "api/UserSettings/User_settings_details",
                            dataType: "json",

                            success: function (response1)
                            {
                                if (response1.data.Table.length > 0) {

                                    y.style.display = "block"
                                    $('#eewonurl').val(response1.data.Table[0].ewonurl);
                                }
                            }
                        })
                    },
                    error: function (response) {
                        if (response.status == "401") {
                            swal({
                                icon: "warning",
                                title: "Token is not valid",
                                button: true,
                                closeModal: false
                            })
                            window.location = R_url;
                        }
                        else {
                            swal({
                                icon: "warning",
                                title: response.responseText,
                                button: true,
                                closeModal: false
                            })

                        }
                    }
                });

            }

        }
        else
        {
            x.style.display = "none";
            y.style.display = "none"
        }
    }

    var upva = 0;
    $("body").on("click", "#divedit .Cancel", function () {
        $("#divedit").hide();
        $("#topselection").show();
        $("#divdetails").show();

    });

    $("body").on("click", "#custom_preventive .Cancel", function () {

        if (upva == 0) {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    var span = $(this).find("span");
                    var input = $(this).find("input");
                    span.html(input.val());
                    span.show();
                    input.hide();
                }
            });
            $("#download_option").show();
            row.find(".Edit").show();
            row.find(".Update").hide();
            row.find(".Cancel").hide();
            $(this).hide();
        }
        else {

            return alert("Value is null");
        }

    });



    $("body").on("click", "#custom_preventive .Update", function () {
        alert("inside update")
        return;
        var row = $(this).closest("tr");
        var dateval = row.find("#lastmain").val();

        if (dateval != null) {

            var remval = sanitizedate(dateval);

            var conditions = ["&lt;", "&#x2F;", "&#x27;", "&amp;", "&gt;", "&quot;"];
            var test1 = conditions.some(el => remval.includes(el));

            if (test1 == true) {
                upva = 1;
                return alert("Reamrks contain special charecters which is not allowed");
            }


        }
        else {
            upva = 1;
            return alert("LastMaintanence value is null");

        }
        var noofrepl = row.find("#noofreplace").val();

        if (noofrepl != null) {

            var remval = sanitizenoofrepl(noofrepl);

            var conditions = ["&lt;", "&#x2F;", "&#x27;", "&amp;", "&gt;", "&quot;"];
            var test1 = conditions.some(el => remval.includes(el));

            if (test1 == true) {
                upva = 1;
                return alert("NoOfReplacement contain special charecters which is not allowed");
            }


        }
        else {
            upva = 1;
            return alert("No of replacement value is null");

        }
        var isrepval = row.find("#isreplaced").val();

        if (isrepval != null) {

            var remval = sanitizeisrepl(isrepval);

            var conditions = ["&lt;", "&#x2F;", "&#x27;", "&amp;", "&gt;", "&quot;"];
            var test1 = conditions.some(el => remval.includes(el));

            if (test1 == true) {
                upva = 1;
                return alert("Please enter Yes or No");
            }


        }
        else {
            upva = 1;
            return alert("IsReplaced value is null");

        }
        //var res = validate(isrepval);
        var string12 = row.find("#remarks").val();
        if (string12 != null) {

            var remval = sanitize(string12);

            var conditions = ["&lt;", "&#x2F;", "&#x27;", "&amp;", "&gt;", "&quot;"];
            var test1 = conditions.some(el => remval.includes(el));
            if (test1 == true) {
                upva = 1;
                return alert("Reamrks contain special charecters which is not allowed");
            }

        }
        else {
            upva = 1;
            return alert("Remarks value is null");

        }


        $("td", row).each(function () {
            if ($(this).find("input").length > 0) {
                var span = $(this).find("span");
                var input = $(this).find("input");
                span.html(input.val());
                span.show();
                input.hide();
            }
        });
        $("#download_option").show();
        row.find(".Edit").show();
        row.find(".Cancel").hide();
        $(this).hide();


        var myData = {
            "ToolID": row.find("#ToolID").val(),
            "LastMaintenaceDate": row.find("#lastmain").val(),
            "IsReplaced": row.find("#isreplaced").val(),
            "No_of_Replacements": row.find("#noofreplace").val(),
            "Currentusage": row.find("#currentlifecle").val(),
            "Remarks": row.find("#remarks").val(),
            "CompanyCode": '@Session["CompanyCode"]',
            "PlantCode": '@Session["PlantCode"]',
            "LineCode": '@Session["LineCode"]'
        };
        var R_url = '@Url.Action("Login", "Main")';
        var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';

        $.ajax({
            type: "POST",
            url: I_URL + 'api/Toollife/Addtoolmaintenance',
            headers: {
                Authorization: 'Bearer ' + user1
            },
            data: myData,
            dataType: "json",
            success: function (response) {
            },


        }).error(function (response) {
            if (response.status == "401") {
                swal({
                    icon: "warning",
                    title: "Token is not valid",
                    button: true,
                    closeModal: false
                })
                window.location = R_url;
            }
            else {
                swal({
                    icon: "warning",
                    title: response.responseText,
                    button: true,
                    closeModal: false
                })

            }
        });

    });

    function sanitize(string12) {
        const map = {
            '&': '&amp;',
            '<': '&lt;',
            '>': '&gt;',
            '"': '&quot;',
            "'": '&#x27;',
            "/": '&#x2F;',
        };
        const reg = /[&<>"'/]/ig;
        return string12.replace(reg, (match) => (map[match]));
    }

    function sanitizeisrepl(isrepval) {

        const map = {
            '&': '&amp;',
            '<': '&lt;',
            '>': '&gt;',
            '"': '&quot;',
            "'": '&#x27;',
            "/": '&#x2F;',
        };
        const reg = /[&<>"'/]/ig;
        return isrepval.replace(reg, (match) => (map[match]));
    }

    function sanitizedate(dateval) {


        const map = {
            '&': '&amp;',
            '<': '&lt;',
            '>': '&gt;',
            '"': '&quot;',
            "'": '&#x27;',
            "/": '&#x2F;',
        };
        const reg = /[&<>"'/]/ig;
        return dateval.replace(reg, (match) => (map[match]));
    }

    function sanitizenoofrepl(noofrepl) {

        const map = {
            '&': '&amp;',
            '<': '&lt;',
            '>': '&gt;',
            '"': '&quot;',
            "'": '&#x27;',
            "/": '&#x2F;',
        };
        const reg = /[&<>"'/]/ig;
        return noofrepl.replace(reg, (match) => (map[match]));
    }

</script>

<script type="text/javascript">
    $(".datepic").datepicker({
        format: "yyyy-mm-dd",
        orientation: "bottom",
        endDate: '+0d'
    });

    //var dateToday = new Date();
    //var yrRange = (dateToday.getFullYear() - 10) + ":" + (dateToday.getFullYear());
    //$(".datepic").datepicker({
    //    numberOfMonths: 1,
    //    maxDate: '0',
    //    dateFormat: 'yy-mm-dd',
    //    changeMonth: true,
    //    changeYear: true,
    //    yearRange: yrRange,
    //    orientation: "bottom",
    //    endDate: '+0d'
    //});
</script>

<script type="text/javascript">
    $(function () {
        var CompanyCode = '@Session["CompanyCode"]';
        var PlantCode = '@Session["PlantCode"]';
        var LineCode = '@Session["LineCode"]';

        if (CompanyCode == "" && PlantCode == "" && LineCode == "") {
            swal({
                icon: "error",
                title: "Please Select Customer, Plant and Line...!",
                button: true,
                timer: 4500
            })
            return;
        }
        else
            if (CompanyCode == "") {
                swal({
                    icon: "error",
                    title: "Please Select Customer...!",
                    button: true,
                    timer: 4500
                })
                return;
            }
            else
                if (PlantCode == "") {
                    swal({
                        icon: "error",
                        title: "Please Select Plant...!",
                        button: true,
                        timer: 4500
                    })
                    return;
                }
        if (LineCode == "") {
            swal({
                icon: "error",
                title: "Please Select Line...!",
                button: true,
                timer: 4500
            })
            return;
        }
        else {
            var I_URL = '@System.Configuration.ConfigurationManager.AppSettings["url"]';


            var myData1 = {
                "Flag": "Subsystem",
                "CompanyCode": '@Session["CompanyCode"]',
                "PlantCode": '@Session["PlantCode"]',
                "LineCode": '@Session["LineCode"]',
            };
            var R_url = '@Url.Action("Login", "Main")';
            var user1 = '@Session["Token"]' + ':' + '@Session["UserName"]';

            $.ajax({
                type: "POST",

                url: '@Url.Action("GetSettingdatas1", "Main")',

                data: myData1,
                dataType: "json",
                success: function (response) {

                    var s = '<option value="">Select Machine</option>';
                    for (var i = 0; i < response.data.length; i++) {
                        s += '<option value="' + response.data[i].Code + '"selected>' + response.data[i].Code + "-" + response.data[i].Name + '</option>';
                    }
                    $("#subsystem").html(s);
                },
                error: function (response) {
                    if (response.status == "401") {
                        swal({
                            icon: "warning",
                            title: "Token is not valid",
                            button: true,
                            closeModal: false
                        })
                        window.location = R_url;
                    }
                    else {
                        swal({
                            icon: "warning",
                            title: response.responseText,
                            button: true,
                            closeModal: false
                        })

                    }
                }
            });

        }

    });



</script>



<script>
    function exportTableToExcel(tableID, filename = '') {
        var downloadLink;
        var dataType = 'application/vnd.ms-excel';
        var tableSelect = document.getElementById(tableID);
        var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');

        // Specify file name
        filename = filename ? filename + '.xls' : 'excel_data.xls';

        // Create download link element
        downloadLink = document.createElement("a");

        document.body.appendChild(downloadLink);

        if (navigator.msSaveOrOpenBlob) {
            var blob = new Blob(['\ufeff', tableHTML], {
                type: dataType
            });
            navigator.msSaveOrOpenBlob(blob, filename);
        } else {
            // Create a link to the file
            downloadLink.href = 'data:' + dataType + ', ' + tableHTML;

            // Setting the file name
            downloadLink.download = filename;

            //triggering the function
            downloadLink.click();
        }
    }
</script>

<script type="text/javascript">

    function validate(isrepval) {

        alert("1")
        var valueOfFormField1 = isrepval;

        if ((valueOfFormField1.toUpperCase() == "YES") || (valueOfFormField1.toUpperCase() == "NO")) {

        }
        else {
            return alert("You should enter YES or NO");
            txt.value = "";
        }

    }
    function validatetxt(e) {
        var keyCode = e.keyCode || e.which;
        var regex = /^[A-Za-z0- 9]+$/;
        var isValid = regex.test(String.fromCharCode(keyCode));
        return isValid;
    }



    $('body').delegate('#remarks', 'keypress', function (e) {
        var keyCode = e.keyCode || e.which;
        var regex = /^[A-Za-z0-9 ]+$/;
        var isValid = regex.test(String.fromCharCode(keyCode));
        return isValid;
    });

</script>


@if (@TempData["message"] != null)
{
    <script type="text/javascript">
    $(function () {
        var msg = '@TempData["message"]';
        if (msg == "Inserted") {
            swal({
                icon: "success",
                title: "Details Added Successfully...!",
                button: true,
                timer: 4500
            })
        }
        else if (msg == "Updated") {
            swal({
                icon: "success",
                title: "Details Updated Successfully...!",
                button: true,
                timer: 4500
            })
        }
         else if (msg == "Already ToolID") {
            swal({
                icon: "error",
                title: "Failed to Add.Tool ID already exists",
                button: true,
                timer: 4500
            })
        }
        else if (msg == "Already ToolName") {
            swal({
                icon: "error",
                title: "Failed to Add.Tool Name already exists",
                button: true,
                timer: 4500
            })
        }
        else {
            swal({
                icon: "error",
                title: "Failed to Add",
                button: true,
                timer: 4500
            })
        }
    });
    </script>
}

