
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header class="page-header">
    <h2> Change Password</h2>
    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Action("MainDashboard","MainDashboard")">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Change Password</span></li>
        </ol>
    </div>
</header>
<div class="panel-body">
    <form class="form" action="@Url.Action("ChangePwd","Main")" method="post">
        <div class="form-group">
            <label class="col-md-3 control-label" for="OldPassword">Old Password</label>
            <div class="col-md-6">
                <input type="password" autocomplete="off" class="form-control" id="OldPassword" name="Input2" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label" for="Password">New Password</label>
            <div class="col-md-6">
                <input class="form-control" autocomplete="off" id="Password" name="Input3" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                @*<input class="form-control" autocomplete="off" onchange="validatePassword(this.value)" id="Password" name="Input3" type="password" title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" required>*@
                @*<input class="form-control" autocomplete="off" pattern="/^(?=.*[0-9])(?=.*[!@@#$%^&*])[a-zA-Z0-9!@@#$%^&*]{6,16}$/" id="Password" name="Input3" type="password" title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" required>*@
                @*<input class="form-control" autocomplete="off" id="upva" name="upva" type="hidden" >*@

                @*/^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,}$/*@
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-6" style="text-align:right;">
                <button class="btn btn-primary" type="submit">Submit</button>
                <button type="reset" class="btn btn-danger">Reset</button>
            </div>
        </div>
    </form>
</div>
<script src="~/assets1/javascripts/swal.js"></script>
<script src="~/assets1/javascripts/swal_alert.js"></script>
@if (@TempData["message"] != null)
{
<script type="text/javascript">
        $(function () {
            var msg = '@TempData["message"]';
            var R_url = '@Url.Action("Login", "Main")';
            if (msg == "OK") {
                swal({
                    icon: "success",
                    title: "Password has been Changed Successfully...!",
                    button: true,
                    closeModal: false
                }).then(function (result) {
                    window.location = R_url;
                })
            }
             if (msg == "NOTOK") {
                swal({
                    icon: "error",
                    title: "Password is Incorrect",
                    button: true,
                    timer: 4500
                })
            }
            if (msg == "Old and New Passwords are same") {
                swal({
                    icon: "error",
                    title: "Old and New Passwords are same",
                    button: true,
                    timer: 4500
                })
            }
            if (msg == "ENOK") {
                swal({
                    icon: "error",
                    title: "The EmailId provided is not correct",
                    button: true,
                    timer: 4500
                })
            }
        });

    
</script>

}

<script>
    function validatePassword(val) {
        alert(val)
        // var newPassword = document.getElementById("Password");
        var newPassword = val;
        var minNumberofChars = 8;

        var regularExpression = /^(?=.*[0-9])(?=.*[!@@#$%^&*])[a-zA-Z0-9!@@#$%^&*]{6,16}$/;
        alert(newPassword);
        if (newPassword.length < minNumberofChars) {
            return false;
        }
        if (!regularExpression.test(newPassword)) {
            var upva = 1;
            document.getElementById("upva").innerText = upva
            var valueup = document.getElementById("upva").val
            alert(valueup)
            return alert("password should contain atleast one number and one special character");;
        }

        upva=0
    }
    function checkvalidation() {
        var upva = document.getElementById("upva").val
        alert(upva)
        if (upva == 1) {
            return false
        }
        
    }


</script>

