
@model PlanDigitization_web.Models.Loginmodel
@using CaptchaMvc.HtmlHelpers


@{
    Layout = null;
}
<style>
    a {
        display: block !important;
        /*padding-left:250px;*/
    }
    .Note {
        padding-bottom: 10px;
    }
</style>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>:: TEAL i4Metrics Login ::</title>
    @Styles.Render("~/assets/css")
    @Scripts.Render("~/assets/firstscript")
    <link rel="icon" href="~/Images/teal-sfs.png" type="image/x-icon">
    <style type="text/css">
        .loading {
            font-family: Arial;
            font-size: 10pt;
            /*border: 5px solid #67CFF5;*/
            width: 100%;
            height: 100%;
            display: none;
            position: fixed;
            background-color: #0e0e0e4f;
            z-index: 999;
        }
        
    </style>
</head>

<body  >
    <div class="loading" align="center">
        <img src="~/assets1/images/loading.gif" alt="" style="width:150px;padding-top:300px;" />
    </div>
    @*<header class="header">
        <div class="logo-container" style="float:left">
            <a class="logo">
                <img src="~/assets1/images/teallogo.png" style="height:35px;" alt="TEAL" />
            </a>

        </div>
        <h3 style="margin-left:45%"><b>i4Metrics Login</b></h3>
    </header>*@

    
        <div style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/Images/3.png) !important; background-repeat: no-repeat; background-size: cover; ">
            <a href="/" class="logo pull-left">
                <img src="~/assets1/images/LOGO-removebg-preview.png" height="54" style="margin-top: 19px; background-color: honeydew; margin-left: 10px; border: 0.5px solid white; border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;" alt="Teali4metrics" />
            </a>
            <section class="body-sign " style="">
                <div class="center-sign">
                    <a href="/" class="logo pull-left">
                        @*<img src="~/assets1/images/LOGO-removebg-preview.png" height="54" style="margin-top: 19px;" alt="Teali4metrics" />*@
                       @* <img src="~/assets1/images/LOGO-removebg-preview.png" height="54" style="margin-top: 19px; border: 0.5px solid white; border-radius:10px;margin-top:-1px;" alt="Teali4metrics" />*@

                    </a>
                    <div class="panel panel-sign">
                        <div class="panel-title-sign mt-xl text-right" style="">
                            <h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> Sign In</h2>
                        </div>

                        <div class="panel-body" style=" box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;" >
                            <form class="form" action="@Url.Action("Checklogin", "Main")" method="post" id="logintrial">
                                
                                <div class="form-group mb-lg">
                                    <label>Username</label>
                                    <div class="input-group input-group-icon">
                                        <input name="UserName" type="text" title="Username" class="form-control input-md" autocomplete="off" required />
                                        <span class="input-group-addon">
                                            <span class="icon icon-lg">
                                                <i class="fa fa-user"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group mb-lg">
                                    <div class="clearfix">
                                        <label class="pull-left">Password</label>
                                    </div>
                                    <div class="input-group input-group-icon">
                                        <input name="Password" type="password" autocomplete="off" class="form-control input-md" required />
                                        <span class="input-group-addon">
                                            <span class="icon icon-lg">
                                                <i class="fa fa-lock"></i>
                                            </span>
                                        </span>
                                    </div>
                                    @*@Html.Captcha(4)*@
                                    @*@Html.MathCaptcha()*@
                                    @Html.MathCaptcha("Click Refresh Captcha ", "Enter the result here", "Is required field", false)

                                    @*<button style="" type="button" class="mb-xs mt-xs mr-xs btn btn-sm btn-default">Refresh</button>*@



                                </div>
                                <div class="row">
                                    <div class="col-sm-12 Note">
                                        Note: Captcha expires every 20 minutes. Refresh Captcha before login
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-8">
                                        <button type="submit" class="btn btn-primary">Sign In</button>
                                        @*<button type="button" class="btn btn-primary" onclick="return Check_login();">Sign In</button>*@
                                    </div>
                                    <div class="col-sm-4 text-right">
                                        <a href="@Url.Action("Forgot", "Main")" style="text-decoration:none;" class="pull-right">Forgot Password?</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    
        <script src="~/assets1/javascripts/swal.js"></script>
        <script src="~/assets1/javascripts/swal_alert.js"></script>

        @if (@TempData["message"] != null)
        {
<script type="text/javascript">
            $(function () {
                var msg = '@TempData["message"]';
                if (msg == "Login Successfull...!") {
                    swal({
                        icon: "success",
                        title: "@TempData["message"]",
                        button: false,
                        timer: 2500
                    }).then(function (result) {
                        var UserID = '@Session["UserID"]';
                        if (UserID != null) {
                            window.location = '@Url.Action("MainDashboard", "MainDashboard")';
                            //window.location = '@Url.Action("NewDash", "Main")';
                        }
                        else {
                            swal({
                                icon: "error",
                                title: "Invalid Session...!",
                                button: false,
                                timer: 1000
                            })
                        }

                    })
                }
                else {
                    swal({
                        icon: "error",
                        title: "@TempData["message"]",
                        button: false,
                        timer: 2500
                    })
                }
        });
</script>
        }
        <script>
        var URL = '@System.Configuration.ConfigurationManager.AppSettings["url"]';
        function Check_login() {
            var R_url = '@Url.Action("Dashboard", "Main")';
            var UserName = $('#User_name').val();
            var Password = $('#Password').val();
            if (UserName == "") {
                $('#User_name').css("border-color", "#a94442");
                $('#User_name').focus();
                return false;
            }
            else {
                $('#User_name').css("border-color", "#cccccc");
            }
            if (Password == "") {
                $('#Password').css("border-color", "#a94442");
                $('#Password').focus();
                return false;
            }
            else {
                $('#Password').css("border-color", "#cccccc");
            }
        }
        </script>
    </body>
</html>
